
{% set CHANNELS_NUMBER = 1 -%}
{
    "title": "WB-MAI6_template_title",
    "device_type": "WB-MAI6",
    "device": {
        "name": "WB-MAI6",
        "id": "wb-mai6",
        "max_read_registers": 4,
        "frame_timeout_ms": 0,
        "response_timeout_ms": 1,

        "groups": [
            {% for n in range(1, CHANNELS_NUMBER + 1) -%}
            {
                "title": "Input {{ n }}",
                "id": "g_in{{ n }}",
                "order": {{ n }}
            },
            {
                "title": "IN_N",
                "id": "gg_in{{ n }}_n",
                "order": {{ n }},
                "group": "in{{ n }}"
            },
            {% endfor -%}
            {
                "title": "General",
                "id": "general",
                "order": 12
            },
            {
                "title": "HW Info",
                "id": "hw_info",
                "order": 13
            },
            {
                "title": "Debug",
                "id": "debug",
                "order": 14
            }
        ],

        {%- set types_with_gain = [ 5888, 3, 2, 0, 256, 257, 4, 1] %}
        {%- set types_with_min_max = [ 5376, 4864, 4865, 4866, 0, 256, 5120] %}
        {%- set types_with_resistance = [258, 4, 5888, 4352, 4368, 4369, 4370, 4371, 4384, 4385, 4386, 4387, 4400, 4401, 4402,] %}
        {%- macro format_list(index, types, format) -%}
            {% set separator = joiner('||') %}
            {%- for t in types -%}{{ separator() }}{{ format|format(index, t) }}{%- endfor -%}
        {%- endmacro %}

        "parameters": {
            {% for n in range(1, CHANNELS_NUMBER + 1) -%}
            "in{{ n }}_type": {
                "title": "Type",
                "address": "0x{{ "%x"|format(n-1) }}400",
                "group": "g_in{{ n }}",
                "order": 1,
                "enum": [
                    4096,

                    4352,
                    4353,
                    4354,
                    4355,
                    4368,
                    4369,
                    4370,
                    4371,
                    4384,
                    4385,
                    4386,
                    4387,
                    4400,
                    4401,
                    4402,

                    4608,
                    4609,
                    4610,
                    4611,
                    4624,
                    4625,
                    4626,
                    4627,
                    4640,
                    4641,
                    4642,
                    4643,
                    4656,
                    4657,
                    4658,

                    4864,
                    4865,
                    4866,

                    5120,
                    5376,

                    5632,
                    5888

                ],
                "enum_titles": [
                    "2-wire RTD Pt 50 (α = 0.00385 °C⁻¹)",
                    "2-wire RTD Pt 100 (α = 0.00385 °C⁻¹)",
                    "2-wire RTD Pt 500 (α = 0.00385 °C⁻¹)",
                    "2-wire RTD Pt 1000 (α = 0.00385 °C⁻¹)",
                    "2-wire RTD 50P (α = 0.00391 °C⁻¹)",
                    "2-wire RTD 100P (α = 0.00391 °C⁻¹)",
                    "2-wire RTD 500P (α = 0.00391 °C⁻¹)",
                    "2-wire RTD 1000P (α = 0.00391 °C⁻¹)",
                    "2-wire RTD 50M (α = 0.00428 °C⁻¹)",
                    "2-wire RTD 100M (α = 0.00428 °C⁻¹)",
                    "2-wire RTD 500M (α = 0.00428 °C⁻¹)",
                    "2-wire RTD 1000M (α = 0.00428 °C⁻¹)",
                    "2-wire RTD Ni 100 (α = 0.00617 °C⁻¹)",
                    "2-wire RTD Ni 500 (α = 0.00617 °C⁻¹)",
                    "2-wire RTD Ni 1000 (α = 0.00617 °C⁻¹)",

                    "3-wire RTD Pt 50 (α = 0.00385 °C⁻¹)",
                    "3-wire RTD Pt 50 (α = 0.00385 °C⁻¹)",
                    "3-wire RTD Pt 100 (α = 0.00385 °C⁻¹)",
                    "3-wire RTD Pt 500 (α = 0.00385 °C⁻¹)",
                    "3-wire RTD Pt 1000 (α = 0.00385 °C⁻¹)",
                    "3-wire RTD 50P (α = 0.00391 °C⁻¹)",
                    "3-wire RTD 100P (α = 0.00391 °C⁻¹)",
                    "3-wire RTD 500P (α = 0.00391 °C⁻¹)",
                    "3-wire RTD 1000P (α = 0.00391 °C⁻¹)",
                    "3-wire RTD 50M (α = 0.00428 °C⁻¹)",
                    "3-wire RTD 100M (α = 0.00428 °C⁻¹)",
                    "3-wire RTD 500M (α = 0.00428 °C⁻¹)",
                    "3-wire RTD 1000M (α = 0.00428 °C⁻¹)",
                    "3-wire RTD Ni 100 (α = 0.00617 °C⁻¹)",
                    "3-wire RTD Ni 500 (α = 0.00617 °C⁻¹)",
                    "3-wire RTD Ni 1000 (α = 0.00617 °C⁻¹)",

                    "0-5 mA sensor",
                    "0-20 mA sensor",
                    "4-20 mA sensor",

                    "0-1V sensor",
                    "-50 to 50 mV sensor",

                    "dry contact sensor",
                    "NTC thermistor 10k (B = 3988 K)"
                ]
            },
            "in{{ n }}_data_rate": {
                "required": true,
                "title": "Sampling time",
                "address": "0x{{ "%x"|format(n-1) }}402",
                "group": "g_in{{ n }}",
                "order": 2,
                "enum_titles": [
                    "50 ms (20 SPS)",
                    "22 ms (45 SPS)",
                    "11 ms (90 SPS)",
                    "5.7 ms (175 SPS)",
                    "3.0 ms (330 SPS)",
                    "1.7 ms (600 SPS)",
                    "1.0 ms (1000 SPS)"
                ],
                "enum": [ 20, 45, 90, 175, 330, 600, 1000 ]
            },
            "in{{ n }}_measurements": {
                "title": "Number of measurements",
                "description": "Total sampling time of channel is (Sampling time * Number of measurements). Channels are polled sequentially.",
                "group": "g_in{{ n }}",
                "order": 3,
                "address": "0x{{ "%x"|format(n-1) }}404",
                "min": 1,
                "max": 50
            },
            "in{{ n }}_lowpass": {
                "title": "Lowpass filter time, ms",
                "group": "g_in{{ n }}",
                "order": 4,
                "address": "0x{{ "%x"|format(n-1) }}406",
                "min": 0,
                "max": 65000
            },
            "in{{n}}_gain": {
                "title": "Gain",
                "group": "g_in{{ n }}",
                "order": 4,
                "address": "0x{{ "%x"|format(n-1) }}40C",
                "enum": [0, 1, 2, 4],
                "enum_titles": ["auto"],
                "default": 0,
                "condition": "{{ format_list(n, types_with_gain, "in_%s_type==%s") }}"
            },
            "in{{ n }}_min": {
                "title": "Minimum value",
                "group": "g_in{{ n }}",
                "order": 5,
                "address": "0x{{ "%x"|format(n-1) }}408",
                "default": 0,
                "condition": "{{ format_list(n, types_with_min_max, "in_%s_type==%s") }}"
            },
            "in{{ n }}_max": {
                "title": "Maximum value",
                "group": "g_in{{ n }}",
                "order": 6,
                "address": "0x{{ "%x"|format(n-1) }}40A",
                "default": 10000,
                "condition": "{{ format_list(n, types_with_min_max, "in_%s_type==%s") }}"
            },
            "in{{ n }}_n_type": {
                "title": "Type",
                "address": "0x{{ "%x"|format(n-1) }}401",
                "group": "gg_in{{ n }}_n",
                "order": 1,
                "enum": [
                    4352,
                    4353,
                    4354,
                    4355,
                    4368,
                    4369,
                    4370,
                    4371,
                    4384,
                    4385,
                    4386,
                    4387,
                    4400,
                    4401,
                    4402,

                    4608,
                    4609,
                    4610,
                    4611,
                    4624,
                    4625,
                    4626,
                    4627,
                    4640,
                    4641,
                    4642,
                    4643,
                    4656,
                    4657,
                    4658,

                    4864,
                    4865,
                    4866,

                    5120,
                    5376,

                    5632,
                    5888

                ],
                "enum_titles": [
                    "Thermocouple type K (ТХА)",

                    "2-wire RTD Pt 50 (α = 0.00385 °C⁻¹)",
                    "2-wire RTD Pt 100 (α = 0.00385 °C⁻¹)",
                    "2-wire RTD Pt 500 (α = 0.00385 °C⁻¹)",
                    "2-wire RTD Pt 1000 (α = 0.00385 °C⁻¹)",
                    "2-wire RTD 50P (α = 0.00391 °C⁻¹)",
                    "2-wire RTD 100P (α = 0.00391 °C⁻¹)",
                    "2-wire RTD 500P (α = 0.00391 °C⁻¹)",
                    "2-wire RTD 1000P (α = 0.00391 °C⁻¹)",
                    "2-wire RTD 50M (α = 0.00428 °C⁻¹)",
                    "2-wire RTD 100M (α = 0.00428 °C⁻¹)",
                    "2-wire RTD 500M (α = 0.00428 °C⁻¹)",
                    "2-wire RTD 1000M (α = 0.00428 °C⁻¹)",
                    "2-wire RTD Ni 100 (α = 0.00617 °C⁻¹)",
                    "2-wire RTD Ni 500 (α = 0.00617 °C⁻¹)",
                    "2-wire RTD Ni 1000 (α = 0.00617 °C⁻¹)",

                    "3-wire RTD Pt 50 (α = 0.00385 °C⁻¹)",
                    "3-wire RTD Pt 50 (α = 0.00385 °C⁻¹)",
                    "3-wire RTD Pt 100 (α = 0.00385 °C⁻¹)",
                    "3-wire RTD Pt 500 (α = 0.00385 °C⁻¹)",
                    "3-wire RTD Pt 1000 (α = 0.00385 °C⁻¹)",
                    "3-wire RTD 50P (α = 0.00391 °C⁻¹)",
                    "3-wire RTD 100P (α = 0.00391 °C⁻¹)",
                    "3-wire RTD 500P (α = 0.00391 °C⁻¹)",
                    "3-wire RTD 1000P (α = 0.00391 °C⁻¹)",
                    "3-wire RTD 50M (α = 0.00428 °C⁻¹)",
                    "3-wire RTD 100M (α = 0.00428 °C⁻¹)",
                    "3-wire RTD 500M (α = 0.00428 °C⁻¹)",
                    "3-wire RTD 1000M (α = 0.00428 °C⁻¹)",
                    "3-wire RTD Ni 100 (α = 0.00617 °C⁻¹)",
                    "3-wire RTD Ni 500 (α = 0.00617 °C⁻¹)",
                    "3-wire RTD Ni 1000 (α = 0.00617 °C⁻¹)",

                    "0-5 mA sensor",
                    "0-20 mA sensor",
                    "4-20 mA sensor",

                    "0-1V sensor",
                    "-50 to 50 mV sensor",

                    "dry contact sensor",
                    "NTC thermistor 10k (B = 3988 K)"
                ]
            },
            "in{{ n }}_n_data_rate": {
                "required": true,
                "title": "Sampling time",
                "group": "gg_in{{ n }}_n",
                "order": 2,
                "address": "0x{{ "%x"|format(n-1) }}403",
                "enum_titles": [
                    "50 ms (20 SPS)",
                    "22 ms (45 SPS)",
                    "11 ms (90 SPS)",
                    "5.7 ms (175 SPS)",
                    "3.0 ms (330 SPS)",
                    "1.7 ms (600 SPS)",
                    "1.0 ms (1000 SPS)"
                ],
                "enum": [ 20, 45, 90, 175, 330, 600, 1000 ]
            },
            "in{{ n }}_n_measurements": {
                "title": "Number of measurements",
                "description": "Total sampling time of channel is (Sampling time * Number of measurements). Channels are polled sequentially.",
                "group": "gg_in{{ n }}_n",
                "order": 3,
                "address": "0x{{ "%x"|format(n-1) }}405",
                "min": 1,
                "max": 50
            },
            "in{{ n }}_n_lowpass": {
                "title": "Lowpass filter time, ms",
                "group": "gg_in{{ n }}_n",
                "order": 4,
                "address": "0x{{ "%x"|format(n-1) }}407",
                "min": 0,
                "max": 65000
            },
            "in{{n}}_n_gain": {
                "title": "Gain",
                "group": "gg_in{{ n }}_n",
                "order": 4,
                "address": "0x{{ "%x"|format(n-1) }}40D",
                "enum": [0, 1, 2, 4],
                "enum_titles": ["auto"],
                "default": 0,
                "condition": "{{ format_list(n, types_with_gain, "in_%s_n_type==%s") }}"
            },
            "in{{ n }}_n_min": {
                "title": "Minimum value",
                "group": "gg_in{{ n }}_n",
                "order": 5,
                "address": "0x{{ "%x"|format(n-1) }}409",
                "default": 0,
                "condition": "{{ format_list(n, types_with_min_max, "in_%s_n_type==%s") }}"
            },
            "in{{ n }}_n_max": {
                "title": "Maximum value",
                "group": "gg_in{{ n }}_n",
                "order": 6,
                "address": "0x{{ "%x"|format(n-1) }}40B",
                "default": 10000,
                "condition": "{{ format_list(n, types_with_min_max, "in_%s_n_type==%s") }}"
            },
            {% endfor -%}
            "baud_rate": {
                "title": "Baud rate",
                "description": "baud_rate_description",
                "address": 110,
                "reg_type": "holding",
                "enum": [96, 192, 384, 576, 1152],
                "default": 96,
                "enum_titles": [
                    "9600",
                    "19200",
                    "38400",
                    "57600",
                    "115200"
                ],
                "group": "general",
                "order": 1
            }
        },

        "channels": [
            {% for n in range(1, CHANNELS_NUMBER + 1) -%}
            {
                "name": "In {{n}} P Resistance",
                "type": "resistance",
                "error_value": "0x7FFFFFFF",
                "reg_type": "input",
                "format": "s32",
                "address": "0x{{ "%x"|format(n-1) }}500",
                "scale": 0.01,
                "group": "g_in{{ n }}",
                "condition": "in{{ n }}_type==258||in{{ n }}_type==4||in{{ n }}_type==5888||(in{{ n }}_type>=4352&&in{{ n }}_type<=4658)"
            },
            {
                "name": "In {{n}} P Voltage",
                "type": "voltage",
                "scale": 0.000001,
                "reg_type": "input",
                "format": "s32",
                "error_value": "0x7FFFFFFF",
                "address": "0x{{ "%x"|format(n-1) }}500",
                "condition": "in{{ n }}_type==4096"
            },
            {
                "name": "In {{n}} P Temperature",
                "type": "temperature",
                "scale": 0.1,
                "reg_type": "input",
                "error_value": "0x7fff",
                "format": "s16",
                "address": "0x{{ "%x"|format(n-1) }}504",
                "condition": "in{{ n }}_type==4096||in{{ n }}_type==4352"
            },
            {
                "name": "In {{n}} P Current",
                "type": "current",
                "scale": 1e-9,
                "error_value": "0x7FFFFFFF",
                "reg_type": "input",
                "format": "s32",
                "address": "0x{{ "%x"|format(n-1) }}500",
                "condition": "in{{ n }}_type==4096||in{{ n }}_type==4352"
            },
            {
                "name": "In {{n}} P Value",
                "reg_type": "input",
                "type": "value",
                "format": "s16",
                "error_value": "0x7fff",
                "address": "0x{{ "%x"|format(n-1) }}504",
                "condition": "in{{ n }}_type==4096||in{{ n }}_type==4352"
            },
            {
                "name": "In {{n}} P State",
                "reg_type": "input",
                "format": "s16",
                "address": "0x{{ "%x"|format(n-1) }}504",
                "condition": "in{{ n }}_type==5632"
            },
            {
                "name": "In {{n}} N Resistance",
                "type": "resistance",
                "error_value": "0x7FFFFFFF",
                "reg_type": "input",
                "format": "s32",
                "address": "0x{{ "%x"|format(n-1) }}500",
                "scale": 0.01,
                "condition": "in{{ n }}_n_type==258||in{{ n }}_n_type==4||in{{ n }}_n_type==5888||(in{{ n }}_n_type>=4352&&in{{ n }}_n_type<=4658)",
                "group": "in{{ n }}_n"
            },
            {
                "name": "In {{n}} N Voltage",
                "type": "voltage",
                "scale": 0.000001,
                "reg_type": "input",
                "format": "s32",
                "error_value": "0x7FFFFFFF",
                "address": "0x{{ "%x"|format(n-1) }}500",
                "condition": "in{{ n }}_n_type==4096",
                "group": "in{{ n }}_n"
            },
            {
                "name": "In {{n}} N Temperature",
                "type": "temperature",
                "scale": 0.1,
                "reg_type": "input",
                "error_value": "0x7fff",
                "format": "s16",
                "address": "0x{{ "%x"|format(n-1) }}504",
                "condition": "in{{ n }}_n_type==4096||in{{ n }}_n_type==4352",
                "group": "in{{ n }}_n"
            },
            {
                "name": "In {{n}} N Current",
                "type": "current",
                "scale": 1e-9,
                "error_value": "0x7FFFFFFF",
                "reg_type": "input",
                "format": "s32",
                "address": "0x{{ "%x"|format(n-1) }}500",
                "condition": "in{{ n }}_n_type==4096||in{{ n }}_n_type==4352",
                "group": "in{{ n }}_n"
            },
            {
                "name": "In {{n}} N Value",
                "reg_type": "input",
                "type": "value",
                "format": "s16",
                "error_value": "0x7fff",
                "address": "0x{{ "%x"|format(n-1) }}504",
                "condition": "in{{ n }}_n_type==4096||in{{ n }}_n_type==4352",
                "group": "in{{ n }}_n"
            },
            {
                "name": "In {{n}} N State",
                "reg_type": "input",
                "format": "s16",
                "address": "0x{{ "%x"|format(n-1) }}504",
                "condition": "in{{ n }}_n_type==5632",
                "group": "in{{ n }}_n"
            {% if n == CHANNELS_NUMBER -%}
            }
            {% else -%}
            },
            {% endif -%}
            {% endfor -%}
        ],

        "translations": {
            "en": {
                "WB-MAI6_template_title": "WB-MAI6 (11-channel analog input module)",
                "baud_rate_description": "Make sure that communication with device is established before changing this parameter. Select required baud rate, save configuration and then change port baud rate to the same value.",
                "Input 1": "IN 1",
                "Input 2": "IN 2",
                "Input 3": "IN 3",
                "Input 4": "IN 4",
                "Input 5": "IN 5",
                "Input 6": "IN 6",
                "Input 7": "IN 7",
                "Input 8": "IN 8",
                "Input 9": "IN 9",
                "Input 10": "IN 10",
                "Input 11": "IN 11",
                "IN_P": "P",
                "IN_N": "N",
                "Uptime": "Uptime (s)"
            },
            "ru": {
                "WB-MAI6_template_title": "WB-MAI6 (11-канальный модуль аналоговых входов)",
                "General": "Общее",
                "HW Info": "Данные модуля",
                "Debug": "Диагностика",
                "Input 1": "IN 1",
                "Input 2": "IN 2",
                "Input 3": "IN 3",
                "Input 4": "IN 4",
                "Input 5": "IN 5",
                "Input 6": "IN 6",
                "Input 7": "IN 7",
                "Input 8": "IN 8",
                "Input 9": "IN 9",
                "Input 10": "IN 10",
                "Input 11": "IN 11",
                "disabled": "отключен",
                "Thermocouple type K (ТХА)": "термопара типа K (ТХА)",
                "NTC thermistor 10k (B = 3988 K)": "термистор NTC 10 кОм (B = 3988 K)",
                "0-5 mA sensor": "измерение тока 0-5 мА",
                "0-20 mA sensor": "измерение тока 0-20 мА",
                "4-20 mA sensor": "измерение тока 4-20 мА",
                "P: 4-20 mA sensor": "P: измерение тока 4-20 мА",
                "P: 0-5 mA sensor": "P: измерение тока 0-5 мА",
                "P: 0-20 mA sensor": "P: измерение тока 0-20 мА",
                "2-wire RTD Pt 50 (α = 0.00385 °C⁻¹)": "двухпроводной термометр сопротивления Pt 50 (α = 0.00385 °C⁻¹)",
                "2-wire RTD Pt 100 (α = 0.00385 °C⁻¹)": "двухпроводной термометр сопротивления Pt 100 (α = 0.00385 °C⁻¹)",
                "2-wire RTD Pt 500 (α = 0.00385 °C⁻¹)": "двухпроводной термометр сопротивления Pt 500 (α = 0.00385 °C⁻¹)",
                "2-wire RTD Pt 1000 (α = 0.00385 °C⁻¹)": "двухпроводной термометр сопротивления Pt 1000 (α = 0.00385 °C⁻¹)",
                "2-wire RTD 50P (α = 0.00391 °C⁻¹)": "двухпроводной термометр сопротивления 50P (α = 0.00391 °C⁻¹)",
                "2-wire RTD 100P (α = 0.00391 °C⁻¹)": "двухпроводной термометр сопротивления 100P (α = 0.00391 °C⁻¹)",
                "2-wire RTD 500P (α = 0.00391 °C⁻¹)": "двухпроводной термометр сопротивления 500P (α = 0.00391 °C⁻¹)",
                "2-wire RTD 1000P (α = 0.00391 °C⁻¹)": "двухпроводной термометр сопротивления 1000P (α = 0.00391 °C⁻¹)",
                "2-wire RTD 50M (α = 0.00428 °C⁻¹)": "двухпроводной термометр сопротивления 50M (α = 0.00428 °C⁻¹)",
                "2-wire RTD 100M (α = 0.00428 °C⁻¹)": "двухпроводной термометр сопротивления 100M (α = 0.00428 °C⁻¹)",
                "2-wire RTD 500M (α = 0.00428 °C⁻¹)": "двухпроводной термометр сопротивления 500M (α = 0.00428 °C⁻¹)",
                "2-wire RTD 1000M (α = 0.00428 °C⁻¹)": "двухпроводной термометр сопротивления 1000M (α = 0.00428 °C⁻¹)",
                "2-wire RTD Ni 100 (α = 0.00617 °C⁻¹)": "двухпроводной термометр сопротивления Ni 100 (α = 0.00617 °C⁻¹)",
                "2-wire RTD Ni 500 (α = 0.00617 °C⁻¹)": "двухпроводной термометр сопротивления Ni 500 (α = 0.00617 °C⁻¹)",
                "2-wire RTD Ni 1000 (α = 0.00617 °C⁻¹)": "двухпроводной термометр сопротивления Ni 1000 (α = 0.00617 °C⁻¹)",
                "dry contact sensor": "датчик с выходом «сухой контакт»",
                "two-wire resistance measurement": "двухпроводная схема измерения сопротивления",
                "P: dry contact sensor": "P: датчик с выходом «сухой контакт»",
                "P: 2-wire RTD Pt 50 (α = 0.00385 °C⁻¹)": "P: двухпроводной термометр сопротивления Pt 50 (α = 0.00385 °C⁻¹)",
                "P: 2-wire RTD Pt 100 (α = 0.00385 °C⁻¹)": "P: двухпроводной термометр сопротивления Pt 100 (α = 0.00385 °C⁻¹)",
                "P: 2-wire RTD Pt 500 (α = 0.00385 °C⁻¹)": "P: двухпроводной термометр сопротивления Pt 500 (α = 0.00385 °C⁻¹)",
                "P: 2-wire RTD Pt 1000 (α = 0.00385 °C⁻¹)": "P: двухпроводной термометр сопротивления Pt 1000 (α = 0.00385 °C⁻¹)",
                "P: 2-wire RTD 50P (α = 0.00391 °C⁻¹)": "P: двухпроводной термометр сопротивления 50P (α = 0.00391 °C⁻¹)",
                "P: 2-wire RTD 100P (α = 0.00391 °C⁻¹)": "P: двухпроводной термометр сопротивления 100P (α = 0.00391 °C⁻¹)",
                "P: 2-wire RTD 500P (α = 0.00391 °C⁻¹)": "P: двухпроводной термометр сопротивления 500P (α = 0.00391 °C⁻¹)",
                "P: 2-wire RTD 1000P (α = 0.00391 °C⁻¹)": "P: двухпроводной термометр сопротивления 1000P (α = 0.00391 °C⁻¹)",
                "P: 2-wire RTD 50M (α = 0.00428 °C⁻¹)": "P: двухпроводной термометр сопротивления 50M (α = 0.00428 °C⁻¹)",
                "P: 2-wire RTD 100M (α = 0.00428 °C⁻¹)": "P: двухпроводной термометр сопротивления 100M (α = 0.00428 °C⁻¹)",
                "P: 2-wire RTD 500M (α = 0.00428 °C⁻¹)": "P: двухпроводной термометр сопротивления 500M (α = 0.00428 °C⁻¹)",
                "P: 2-wire RTD 1000M (α = 0.00428 °C⁻¹)": "P: двухпроводной термометр сопротивления 1000M (α = 0.00428 °C⁻¹)",
                "P: 2-wire RTD Ni 100 (α = 0.00617 °C⁻¹)": "P: двухпроводной термометр сопротивления Ni 100 (α = 0.00617 °C⁻¹)",
                "P: 2-wire RTD Ni 500 (α = 0.00617 °C⁻¹)": "P: двухпроводной термометр сопротивления Ni 500 (α = 0.00617 °C⁻¹)",
                "P: 2-wire RTD Ni 1000 (α = 0.00617 °C⁻¹)": "P: двухпроводной термометр сопротивления Ni 1000 (α = 0.00617 °C⁻¹)",
                "P: two-wire resistance measurement": "P: двухпроводная схема измерения сопротивления",
                "3-wire RTD Pt 50 (α = 0.00385 °C⁻¹)": "трехпроводной термометр сопротивления Pt 50 (α = 0.00385 °C⁻¹)",
                "3-wire RTD Pt 100 (α = 0.00385 °C⁻¹)": "трехпроводной термометр сопротивления Pt 100 (α = 0.00385 °C⁻¹)",
                "3-wire RTD Pt 500 (α = 0.00385 °C⁻¹)": "трехпроводной термометр сопротивления Pt 500 (α = 0.00385 °C⁻¹)",
                "3-wire RTD Pt 1000 (α = 0.00385 °C⁻¹)": "трехпроводной термометр сопротивления Pt 1000 (α = 0.00385 °C⁻¹)",
                "3-wire RTD 50P (α = 0.00391 °C⁻¹)": "трехпроводной термометр сопротивления 50P (α = 0.00391 °C⁻¹)",
                "3-wire RTD 100P (α = 0.00391 °C⁻¹)": "трехпроводной термометр сопротивления 100P (α = 0.00391 °C⁻¹)",
                "3-wire RTD 500P (α = 0.00391 °C⁻¹)": "трехпроводной термометр сопротивления 500P (α = 0.00391 °C⁻¹)",
                "3-wire RTD 1000P (α = 0.00391 °C⁻¹)": "трехпроводной термометр сопротивления 1000P (α = 0.00391 °C⁻¹)",
                "3-wire RTD 50M (α = 0.00428 °C⁻¹)": "трехпроводной термометр сопротивления 50M (α = 0.00428 °C⁻¹)",
                "3-wire RTD 100M (α = 0.00428 °C⁻¹)": "трехпроводной термометр сопротивления 100M (α = 0.00428 °C⁻¹)",
                "3-wire RTD 500M (α = 0.00428 °C⁻¹)": "трехпроводной термометр сопротивления 500M (α = 0.00428 °C⁻¹)",
                "3-wire RTD 1000M (α = 0.00428 °C⁻¹)": "трехпроводной термометр сопротивления 1000M (α = 0.00428 °C⁻¹)",
                "3-wire RTD Ni 100 (α = 0.00617 °C⁻¹)": "трехпроводной термометр сопротивления Ni 100 (α = 0.00617 °C⁻¹)",
                "3-wire RTD Ni 500 (α = 0.00617 °C⁻¹)": "трехпроводной термометр сопротивления Ni 500 (α = 0.00617 °C⁻¹)",
                "3-wire RTD Ni 1000 (α = 0.00617 °C⁻¹)": "трехпроводной термометр сопротивления Ni 1000 (α = 0.00617 °C⁻¹)",
                "voltage measurement from ratiometric sensor": "измерение напряжения с ратиометрического датчика",
                "P: voltage measurement from ratiometric sensor": "P: измерение напряжения с ратиометрического датчика",
                "differential voltage measurement from ratiometric sensor": "дифф. режим измерения напряжения с ратиометрического датчика",
                "single-ended voltage measurement from 0 to 2 V": "измерение положительного напряжения 0-2 В",
                "0-1V sensor": "измерение напряжения 0-1 В",
                "P: single-ended voltage measurement from 0 to 2 V": "P: измерение положительного напряжения 0-2 В",
                "P: 0-1V sensor": "P: измерение напряжения 0-1 В",
                "-50 to 50 mV sensor": "измерение напряжения от -50 до 50 мВ",
                "voltage measurement in differential mode from -2 to 2 V": "дифф. режим измерения напряжения от -2 до 2 В",
                "three-wire resistance measurement": "трехпроводная схема измерения сопротивления",
                "resistance measurement using current measurement": "измерение сопротивления через измерение тока",
                "P: resistance measurement using current measurement": "P: измерение сопротивления через измерение тока",
                "P: NTC thermistor 10k (B = 3988 K)": "P: термистор NTC 10 кОм (B = 3988 K)",
                "P: current measurement": "P: измерение тока от 0 до 20 мА",
                "IN_P": "P",
                "IN_N": "N",
                "Sampling time": "Время одного измерения",
                "50 ms (20 SPS)": "50 мс (20 SPS)",
                "22 ms (45 SPS)": "22 мс (45 SPS)",
                "11 ms (90 SPS)": "11 мс (90 SPS)",
                "5.7 ms (175 SPS)": "5.7 мс (175 SPS)",
                "3.0 ms (330 SPS)": "3.0 мс (330 SPS)",
                "1.7 ms (600 SPS)": "1.7 мс (600 SPS)",
                "1.0 ms (1000 SPS)": "1.0 мс (1000 SPS)",
                "Number of measurements": "Количество измерений подряд",
                "Total sampling time of channel is (Sampling time * Number of measurements). Channels are polled sequentially.": "Итоговое время измерения канала равно (Время одного измерения * Количество измерений подряд). Каналы опрашиваются последовательно.",
                "Lowpass filter time, ms": "Время усреднения сигнала (мс)",
                "Baud rate": "Скорость обмена",
                "baud_rate_description": "Перед изменением параметра убедитесь, что связь с устройством установлена. Выберите нужную скорость обмена, сохраните конфигурацию, а затем укажите в настройках порта эту же скорость.",
                "Gain": "Коэффициент усиления",
                "Voltage": "Напряжение",
                "Temperature": "Температура",
                "Resistance": "Сопротивление",
                "current measurement": "измерение тока",
                "Current": "Ток",
                "Percent": "Процент",
                "State": "Состояние",
                "Minimum value": "Минимальное пересчитанное значение",
                "Maximum value": "Максимальное пересчитанное значение",
                "Value": "Пересчитанное значение",
                "5V Output": "Напряжение на клеммах 5V",
                "Internal Temperature": "Температура внутри модуля",
                "Serial": "Серийный номер",
                "Uptime": "Время работы с момента включения (с)",
                "ADC Loop Duration": "Время цикла опроса АЦП",
                "IN 1 P Read Interval": "IN 1 P: период опроса",
                "IN 1 N Read Interval": "IN 1 N: период опроса",
                "IN 2 P Read Interval": "IN 2 P: период опроса",
                "IN 2 N Read Interval": "IN 2 N: период опроса",
                "IN 3 P Read Interval": "IN 3 P: период опроса",
                "IN 3 N Read Interval": "IN 3 N: период опроса",
                "IN 4 P Read Interval": "IN 4 P: период опроса",
                "IN 4 N Read Interval": "IN 4 N: период опроса",
                "IN 5 P Read Interval": "IN 5 P: период опроса",
                "IN 5 N Read Interval": "IN 5 N: период опроса",
                "IN 6 P Read Interval": "IN 6 P: период опроса",
                "IN 6 N Read Interval": "IN 6 N: период опроса",
                "IN 7 P Read Interval": "IN 7 P: период опроса",
                "IN 7 N Read Interval": "IN 7 N: период опроса",
                "IN 8 P Read Interval": "IN 8 P: период опроса",
                "IN 8 N Read Interval": "IN 8 N: период опроса",
                "IN 9 P Read Interval": "IN 9 P: период опроса",
                "IN 9 N Read Interval": "IN 9 N: период опроса",
                "IN 10 P Read Interval": "IN 10 P: период опроса",
                "IN 10 N Read Interval": "IN 10 N: период опроса",
                "IN 11 P Read Interval": "IN 11 P: период опроса",
                "IN 11 N Read Interval": "IN 11 N: период опроса"
            }
        }
    }
}
