*.o
wb-homa-gpio/wb-homa-gpio
wb-homa-modbus/wb-homa-modbus
wb-homa-ninja-bridge/wb-homa-ninja-bridge
wb-homa-w1/wb-homa-w1
wb-homa-adc/wb-homa-adc
debian/files
debian/wb-homa-drivers*
test/modbus_test
