*.o
test/wb-homa-test
*.deb
debian/files
*.build
*.buildinfo
*.changes
*.dsc
*/core.*
*.tar.gz
*.debhelper.log
*.debhelper
debian/*.substvars
debian/wb-mqtt-serial/
debian/tmp/
.d
vgcore.*
test/*.out

**/.vscode/*
workspace.xml
**/.cproject
**/.project
**/.settings
.idea
.devcontainer
.zed

# core
*.core

debhelper-build-stamp
.clang-*
build
compile_commands.json

### direnv ###
.direnv
.envrc

# wasm
cache
wasm
*.wasm
