*.o
test/wb-homa-test
*.deb
debian/files
*.build
*.buildinfo
*.changes
*.dsc
*/core.*
*.tar.gz
*.debhelper.log
*.debhelper
debian/*.substvars
debian/wb-mqtt-serial/
debian/tmp/
.d
vgcore.*
test/*.out

### JetBrains ###
*/.idea/workspace.xml
.idea/tasks.xml
**/.idea/dictionaries
**/.idea/vcs.xml
**/.idea/jsLibraryMappings.xml
**/.idea/dataSources.ids
**/.idea/dataSources.xml
**/.idea/dataSources.local.xml
**/.idea/sqlDataSources.xml
**/.idea/dynamic.xml
**/.idea/uiDesigner.xml
**/.idea/gradle.xml
**/.idea/libraries
**/.idea/mongoSettings.xml
**/.idea/codeStyleSettings.xml
*.iws
*.iml

**/.vscode/*
workspace.xml
**/.cproject
**/.project
**/.settings
.idea
.devcontainer

# core
*.core

debian/tmp
debian/files
debian/wb-mqtt-serial
debian/*.substvars
debhelper-build-stamp
.clang-*
build
compile_commands.json

### direnv ###
.direnv
.envrc
