Source: wb-mqtt-serial
Maintainer: Evgeny Boger <boger@contactless.ru>
Section: misc
Priority: optional
Standards-Version: 3.9.2
Build-Depends: debhelper (>= 9), pkg-config, g++, libjsoncpp-dev, libwbmqtt1-dev

Package: wb-mqtt-serial
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libjsoncpp0, bsdutils, libwbmqtt1
Replaces: wb-homa-modbus (<< 1.14.1)
Breaks: wb-homa-modbus (<< 1.14.1), wb-mqtt-confed (<< 1.0.2), wb-mqtt-homeui (<< 1.7)
Description: Wiren Board Smart Home MQTT serial protocol driver.

Package: wb-homa-modbus
Depends: wb-mqtt-serial, ${misc:Depends}
Architecture: all
Priority: extra
Section: oldlibs
Description: transitional dummy package
 This is a transitional dummy package. It can safely be removed.
