Source: wb-mqtt-serial
Maintainer: Wiren Board team <info@wirenboard.com>
Section: misc
Priority: optional
Standards-Version: 3.9.2
Build-Depends: debhelper (>= 10),
               gcovr:all,
               j2cli:all,
               libgtest-dev,
               libwbmqtt1-5-dev (>= 5.3.2~~),
               libwbmqtt1-5-test-utils (>= 5.3.2~~),
               pkg-config
Homepage: https://github.com/wirenboard/wb-mqtt-serial

Package: wb-mqtt-serial
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ucf, bsdutils (>= 2.29), wb-utils
Replaces: wb-homa-modbus (<< 1.14.1)
Recommends: wb-mqtt-confed (>= 1.7.0)
Breaks: wb-homa-modbus (<< 1.14.1), wb-mqtt-confed (<< 1.7.0), wb-mqtt-homeui (<< 2.150.0~~)
Description: Wiren Board Smart Home MQTT serial protocol driver
 wb-mqtt-serial is a service which communicates with devices on RS-485
 via Modbus or other supported protocols. Modbus TCP is also supported.
 You can add your devices by creating new templates and configure each
 register poll settings individually. Also it contains advanced templates
 to configure parameters of Wiren Board peripheral devices.
