Source: wb-mqtt-serial
Maintainer: Evgeny Boger <boger@contactless.ru>
Section: misc
Priority: optional
Standards-Version: 3.9.2
Build-Depends: debhelper (>= 9), pkg-config, g++, libjsoncpp-dev, libmosquittopp-dev, libmosquitto-dev, libwbmqtt-dev (>= 1.3.2), libmodbus-dev (>= 3.0.3)

Package: wb-mqtt-serial
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libjsoncpp0, libmosquittopp1, libmosquitto1, bsdutils, libwbmqtt (>= 1.3.2)
Replaces: wb-homa-modbus (<< 1.14.1)
Breaks: wb-homa-modbus (<< 1.14.1), wb-mqtt-confed (<< 1.0.2)
Description: Wiren Board Smart Home MQTT serial protocol driver.

Package: wb-homa-modbus
Depends: wb-mqtt-serial, ${misc:Depends}
Architecture: all
Priority: extra
Section: oldlibs
Description: transitional dummy package
 This is a transitional dummy package. It can safely be removed.
