[Unit]
Description=Generates wb-mqtt-serial UI schema for wb-mqtt-confed

[Service]
ExecStart=/usr/bin/wb-mqtt-serial -g

[Install]
WantedBy=multi-user.target
