{% with title_en = "PLC-W-EMD-0202-80A/NC (2-channel relay)",
        title_ru = "PLC-W-EMD-0202-80A/NC (2-канальный модуль реле)",
        device_type = "tpl1_oni_plc_w_emd_0202_80a_nc",
        group = "g-oni",
        device_name = "PLC-W-EMD-0202-80A/NC",
        device_id = "oni-plc-w-emd-0202-80a-nc" %}
{% include "config-wb-mrm2-mini-nc.json.jinja" %}
{% endwith %}