{% with title_en = "PLC-W-EMA-06U00 (6-channel analog input module)",
        title_ru = "PLC-W-EMA-06U00 (6-канальный модуль аналоговых входов)",
        device_type = "tpl1_oni_plc_w_ema_06U00",
        group = "g-oni",
        device_name = "PLC-W-EMA-06U00",
        device_id = "oni-plc-w-ema-06u00",
        has_signature = true %}
{% include "config-wb-mai6.json.jinja" %}
{% endwith %}
