{% with device_type = "tpl1_oni_plc_w_emd_0800",
        group = "g-oni",
        device_name = "PLC-W-EMD-0800",
        device_id = "oni-plc-w-emd-0800" %}
{% include "config-wbio-di-hvd-8.json.jinja" %}
{% endwith %}