{% set INPUTS_NUMBER = 3 -%}
{% set OUTPUTS_NUMBER = 4 -%}
{% set PRESS_TYPES = ["short", "long", "double", "short long"] %}

{
    "title": "WB-MAO4_template_title",
    "device_type": "WB-MAO4",
    "group": "g-wb",
    "device": {
        "name": "WB-MAO4",
        "id": "wb-mao4",
        "max_read_registers": 0,
        "response_timeout_ms": 1,
        "frame_timeout_ms": 8,
        "enable_wb_continuous_read": true,

        "groups": [
            {% for ch_number in range(1, INPUTS_NUMBER + 1) -%}
            {
                "title": "Input {{ ch_number }}",
                "id": "input_{{ ch_number }}",
                "order": {{ ch_number }}
            },
            {% for press_type in PRESS_TYPES -%}
            {
                "title": "Input {{ ch_number }} {{ press_type | title }} Press Action",
                "id": "input_{{ ch_number }}_{{ press_type | replace(' ', '_') }}_press_action",
                "group": "input_{{ ch_number }}",
                "order": {{loop.index}}
            },
            {% endfor -%}
            {
                "title": "Input {{ ch_number }} Parameters",
                "id": "input_{{ ch_number }}_parameters",
                "group": "input_{{ch_number }}",
                "order": 5,
                "ui_options": {
                    "wb": {
                        "disable_title": true
                    }
                }
            },
            {
                "title": "Input {{ ch_number }} Counters",
                "id": "input_{{ ch_number }}_counters",
                "group": "input_{{ ch_number }}",
                "order": 6,
                "ui_options": {
                    "wb": {
                        "disable_title": true
                    }
                }
            },
            {% endfor -%}
            {
                "title": "Outputs",
                "id": "outputs",
                "order": {{INPUTS_NUMBER + 1}}
            },
            {
                "title": "Output Channels",
                "id": "output_channels",
                "group": "outputs",
                "order": {{OUTPUTS_NUMBER}},
                "ui_options": {
                    "wb": {
                        "disable_title": true
                    }
                }
            },
            {
                "title": "Dimmer",
                "id": "dimmer",
                "order": {{INPUTS_NUMBER + 2}}
            },
            {% for ch_number in range(1, OUTPUTS_NUMBER + 1) -%}
            {
                "title": "Output {{ ch_number }}",
                "id": "dimmer{{ ch_number }}",
                "group": "dimmer",
                "order": 1
            },
            {% endfor -%}
            {
                "title": "Dimmer Channels",
                "id": "dimmer_channels",
                "group": "dimmer",
                "order": {{OUTPUTS_NUMBER}},
                "ui_options": {
                    "wb": {
                        "disable_title": true
                    }
                }
            },
            {
                "title": "General",
                "id": "general",
                "order": {{INPUTS_NUMBER + 3}}
            },
            {
                "title": "HW Info",
                "id": "hw_info",
                "order": {{INPUTS_NUMBER + 4}}
            },
            {
                "title": "Debug",
                "id": "debug",
                "order": {{INPUTS_NUMBER + 5}}
            }
        ],

        "parameters": [
            {
                "id": "outputs_mode",
                "title": "Outputs Mode",
                "address": 10,
                "reg_type": "holding",
                "enum": [0, 1],
                "enum_titles": [
                    "PWM 10 V",
                    "Analog 0-10 V"
                ],
                "default": 1,
                "group": "outputs",
                "order": 1
            },
            {
                "id": "pwm_frequency_factor",
                "title": "PWM Frequency Factor",
                "description": "pwm_frequency_factor_description",
                "address": 9,
                "reg_type": "holding",
                "default": 24,
                "min": 1,
                "max": 240,
                "group": "outputs",
                "order": 2
            },
            {% for ch_number in range(1, OUTPUTS_NUMBER + 1) -%}
            {
                "id": "output{{ ch_number }}_min",
                "title": "Output {{ ch_number }} Minimum Value (mV)",
                "description": "output_min_value_description",
                "group": "dimmer{{ ch_number }}",
                "address": {{ 912 + ch_number - 1 }},
                "reg_type": "holding",
                "default": 1,
                "min": 0,
                "max": 10000,
                "order": 1
            },
            {
                "id": "output{{ ch_number }}_max",
                "title": "Output {{ch_number}} Maximum Value (mV)",
                "description": "output_max_value_description",
                "group": "dimmer{{ch_number}}",
                "address": {{928 + ch_number - 1}},
                "reg_type": "holding",
                "default": 10000,
                "min": 0,
                "max": 10000,
                "order": 2
            },
            {
                "id": "output{{ ch_number }}_decrement_rate",
                "title": "Output {{ ch_number }} level decrement rate (ms/%)",
                "description": "increase_rate_description",
                "group": "dimmer{{ch_number}}",
                "address": {{944 + ch_number - 1}},
                "reg_type": "holding",
                "default": 20,
                "min": 0,
                "max": 500,
                "order": 3
            },
            {
                "id": "channel{{ ch_number }}_increment_rate",
                "title": "Output {{ ch_number }} level increment rate (ms/%)",
                "description": "decrease_rate_description",
                "group": "dimmer{{ch_number}}",
                "address": {{960 + ch_number - 1}},
                "reg_type": "holding",
                "default": 20,
                "min": 0,
                "max": 500,
                "order": 4
            },
            {
                "id": "action{{ch_number}}_repeat_time",
                "title": "Output {{ ch_number }} action repeat time (ms)",
                "description": "action_repeat_time_description",
                "group": "dimmer{{ch_number}}",
                "address": {{896 + ch_number - 1}},
                "reg_type": "holding",
                "default": 20,
                "min": 5,
                "max": 500,
                "order": 5
            },
            {% endfor -%}
            {% for ch_number in range(0, INPUTS_NUMBER) -%}
            {
                "id": "input {{ch_number + 1}} hold time",
                "title": "Long Press Time (ms)",
                "description": "input_hold_time_description",
                "address": {{1100 + ch_number}},
                "reg_type": "holding",
                "default": 1000,
                "min": 500,
                "max": 5000,
                "group": "input_{{ch_number + 1}}_parameters",
                "order": 1
            },
            {
                "id": "input {{ch_number + 1}} double time",
                "title": "Second Press Waiting Time (ms)",
                "description": "input_double_time_description",
                "address": {{1140 + ch_number}},
                "reg_type": "holding",
                "default": 300,
                "min": 0,
                "max": 2000,
                "group": "input_{{ch_number + 1}}_parameters",
                "order": 2
            },
            {
                "id": "input {{ch_number + 1}} debounce time",
                "title": "Debounce Time (ms)",
                "description": "input_debounce_time_description",
                "address": {{1160 + ch_number}},
                "reg_type": "holding",
                "default": 50,
                "min": 5,
                "max": 200,
                "group": "input_{{ch_number + 1}}_parameters",
                "order": 3
            },
            {% for press_type in PRESS_TYPES -%}
{% set action_bind = ("input {} {} press output".format(ch_number + 1, press_type))|replace(' ', '_')  %}
            {
                "id": "{{action_bind}}_number",
                "title": "Output Number",
                "address": {{832 + (loop.index0 * 16) + ch_number}},
                "reg_type": "holding",
                "enum": [0, 1, 2, 3, 4, 100],
                "enum_titles": [
                    "No Action",
                    "Output 1",
                    "Output 2",
                    "Output 3",
                    "Output 4",
                    "All Outputs"
                ],
                "default": 0,
                "group": "input_{{ch_number + 1}}_{{press_type | replace(' ', '_')}}_press_action",
                "order": 1
            },
            {
                "id": "{{action_bind}}_action",
                "title": "Output Action",
                "address": {{768 + (loop.index0 * 16) + ch_number}},
                "reg_type": "holding",
                {% if press_type in ["long", "short long"] %}"enum": [0, 1, 2, 3, 4, 5],{% else %}"enum": [0, 1, 2, 3, 4],{% endif %}
                "enum_titles": [
                    "Turn Off",
                    "Turn On",
                    "Toggle",
                    "Decrease level",
                    "Increase level"{% if press_type in ["long", "short long"] %},
                    "Increase/Decrease level"{% endif %}
                ],
                "default": 0,
                "group": "input_{{ch_number + 1}}_{{press_type | replace(' ', '_')}}_press_action",
                "order": 2,
                "condition": "({{action_bind}}_number!=0)&&({{action_bind}}_number!=100)"
            },
            {
                "id": "{{action_bind}}_action",
                "title": "Output Action",
                "address": {{768 + (loop.index0 * 16) + ch_number}},
                "reg_type": "holding",
                "enum": [0, 1, 3, 4],
                "enum_titles": [
                    "Turn Off",
                    "Turn On",
                    "Increase level",
                    "Decrease level",
                ],
                "default": 0,
                "group": "input_{{ch_number + 1}}_{{press_type | replace(' ', '_') }}_press_action",
                "order": 2,
                "condition": "{{ action_bind }}_number==100"
            },
            {% endfor -%}{% endfor -%}
            {
                "id": "baud_rate",
                "title": "Baud rate",
                "description": "baud_rate_description",
                "address": 110,
                "reg_type": "holding",
                "enum": [96, 192, 384, 576, 1152],
                "default": 96,
                "enum_titles": [
                    "9600",
                    "19200",
                    "38400",
                    "57600",
                    "115200"
                ],
                "group": "general",
                "order": 1
            },
            {
                "id": "disable_indication",
                "title": "Status LED",
                "address": 130,
                "reg_type": "holding",
                "enum": [0, 1],
                "enum_titles": ["Enabled", "Disabled"],
                "default": 0,
                "group": "general",
                "order": 3
            }
        ],

        "channels": [
            {% for index in range(0, INPUTS_NUMBER) -%}
            {
                "name": "Input {{index + 1}}",
                "reg_type": "discrete",
                "address": {{index}},
                "type": "switch",
                "group": "input_{{index + 1}}_counters"
            },
            {
                "name": "Input {{index + 1}} Counter",
                "reg_type": "input",
                "address": {{32 + index}},
                "type": "value",
                "group": "input_{{index + 1}}_counters"
            },
            {
                "name": "Input {{index + 1}} Short Press Counter",
                "enabled": false,
                "reg_type": "input",
                "address": {{464 + index}},
                "type": "value",
                "group": "input_{{index + 1}}_counters"
            },
            {
                "name": "Input {{index + 1}} Long Press Counter",
                "enabled": false,
                "reg_type": "input",
                "address": {{480 + index}},
                "type": "value",
                "group": "input_{{index + 1}}_counters"
            },
            {
                "name": "Input {{index + 1}} Double Press Counter",
                "enabled": false,
                "reg_type": "input",
                "address": {{496 + index}},
                "type": "value",
                "group": "input_{{index + 1}}_counters"
            },
            {
                "name": "Input {{index + 1}} Short Long Press Counter",
                "enabled": false,
                "reg_type": "input",
                "address": {{512 + index}},
                "type": "value",
                "group": "input_{{index + 1}}_counters"
            },
            {% endfor -%}
            {% for index in range(0, OUTPUTS_NUMBER) -%}
            {
                "name": "K{{index + 1}}",
                "enabled": false,
                "reg_type": "coil",
                "address": {{index}},
                "type": "switch",
                "group": "dimmer_channels"
            },
            {
                "name": "Channel {{index + 1}}",
                "reg_type": "holding",
                "address": {{index}},
                "type": "range",
                "max": 10000,
                "group": "output_channels"
            },
            {
                "name": "Dimmer {{index + 1}} level",
                "enabled": false,
                "reg_type": "holding",
                "address": {{16 + index}},
                "type": "range",
                "max": 100,
                "group": "dimmer_channels"
            },
            {% endfor -%}
            {
                "name": "Serial",
                "type": "text",
                "reg_type": "input",
                "address": 270,
                "format": "u32",
                "group": "hw_info"
            },
            {
                "name": "FW Version",
                "reg_type": "input",
                "address": 250,
                "type": "text",
                "format": "string",
                "string_data_size": 16,
                "enabled": false,
                "group": "hw_info"
            },
            {
                "name": "Supply voltage",
                "reg_type": "input",
                "address": 121,
                "type": "voltage",
                "scale": 0.001,
                "enabled": false,
                "group": "hw_info"
            },
            {
                "name": "Uptime",
                "reg_type": "input",
                "address": 104,
                "type": "text",
                "format": "u32",
                "enabled": false,
                "group": "hw_info"
            },
            {
                "name": "MCU Temperature",
                "reg_type": "input",
                "address": 124,
                "type": "temperature",
                "format": "s16",
                "scale": 0.1,
                "enabled": false,
                "group": "hw_info"
            },
            {
                "name": "MCU Voltage",
                "reg_type": "input",
                "address": 123,
                "scale": 0.001,
                "type": "voltage",
                "enabled": false,
                "group": "hw_info"
            },
            {% for index in range(0, OUTPUTS_NUMBER) -%}
            {
                "name": "Channel {{index + 1}} Duty Cycle Raw",
                "reg_type": "holding",
                "address": {{90 + index}},
                "type": "value",
                "readonly": true,
                "enabled": false,
                "group": "debug"
            }{% if not loop.last %},{% endif %}
            {% endfor -%}
        ],
        "translations": {
            "en": {
                "WB-MAO4_template_title": "WB-MAO4 (4-channel analog output module)",
                "pwm_frequency_factor_description": "PWM frequency is calculated by formula: 24 kHz / Factor ",
                "baud_rate_description": "Make sure that communication with device is established before changing this parameter. Select required baud rate, save configuration and then change port baud rate to the same value.",
                "Uptime": "Uptime (s)",

                "output_min_value_description": "Value Corresponding to Minimum Voltage (mV)",
                "output_max_value_description": "Value Corresponding to Maximum Voltage (mV)",

                "increase_rate_description": "During smooth transitions, channel level will be decreased by 1% every specified period of time. If set to 0, level will increase instantly",
                "decrease_rate_description": "During smooth transitions, channel level will be increased by 1% every specified period of time. If set to 0, level will decrease instantly",
                "action_repeat_time_description": "During long-lasting actions channel level will be changed by 1% every specified period of time",

                "input_hold_time_description": "Presses that last longer than the specified time are counted as long presses",
                "input_double_time_description": "If during the specified time there was no second press, then the press counts as single. Setting 0 will disable all counters except short and long",
                "input_debounce_time_description": "Should be 5-10 times less, than double press time. If double presses are disabled, any value could be set"
            },
            "ru": {
                "Enabled": "Активен",
                "Disabled": "Отключен",
                "WB-MAO4_template_title": "WB-MAO4 (4-канальный модуль аналогового вывода)",
                "Outputs": "Выходы",
                "General": "Общее",
                "HW Info": "Данные модуля",
                "Debug": "Диагностика",
                "Outputs Mode": "Режим работы выходов",
                "PWM 10 V": "ШИМ с амплитудой 10 В",
                "Analog 0-10 V": "аналоговый режим 0-10 В",
                "PWM Frequency Factor": "Делитель частоты ШИМ",
                "pwm_frequency_factor_description": "Частота ШИМ рассчитывается по формуле: 24 кГц / Делитель",
                "Baud rate": "Скорость обмена",
                "baud_rate_description": "Перед изменением параметра убедитесь, что связь с устройством установлена. Выберите нужную скорость обмена, сохраните конфигурацию, а затем укажите в настройках порта эту же скорость.",
                "Dimmer": "Диммер",

                {% for ch_number in range(1, INPUTS_NUMBER + 1) -%}
                "Input {{ch_number}}": "Вход {{ch_number}}",
                "Input {{ch_number}} Counter": "Счетчик {{ch_number}}",
                "Input {{ch_number}} Short Press Counter": "Счетчик короткого нажатия {{ch_number}}",
                "Input {{ch_number}} Long Press Counter": "Счетчик долгого нажатия {{ch_number}}",
                "Input {{ch_number}} Double Press Counter": "Счетчик двойного нажатия {{ch_number}}",
                "Input {{ch_number}} Short Long Press Counter": "Счетчик короткого, а затем долгого нажатия {{ch_number}}",

                "Input {{ch_number}} Short Press Action": "Действие, для короткого нажатия на канале {{ch_number}}",
                "Input {{ch_number}} Long Press Action": "Действие, для длинного нажатия на канале {{ch_number}}",
                "Input {{ch_number}} Double Press Action": "Действие, для двойного нажатия на канале {{ch_number}}",
                "Input {{ch_number}} Short Long Press Action": "Действие, для короткого, затем длинного нажатия на канале {{ch_number}}",
                {% endfor -%}

                "No Action": "Ничего не делать",
                "All Outputs": "Все выходы",
                "Turn Off": "Выключить",
                "Turn On": "Включить",
                "Toggle": "Переключить",
                "Decrease level": "Уменьшить уровень",
                "Increase level": "Увеличить уровень",
                "Increase/Decrease level": "Увеличить/уменьшить уровень",
                "Output Number": "Номер выхода",
                "Output Action": "Действие с выходом",

                {% for ch_number in range(1, OUTPUTS_NUMBER + 1) -%}
                "Output {{ch_number}}": "Выход {{ch_number}}",
                "Channel {{ch_number}}": "Канал {{ch_number}}",
                "Dimmer {{ch_number}} level": "Уровень диммера {{ch_number}}",
                "Channel {{ch_number}} Duty Cycle Raw": "Сырое задание для канала {{ch_number}}",
                "Dimmer {{ch_number}}": "Диммер {{ch_number}}",
                "Output {{ch_number}} Minimum Value (mV)": "Нижний порог диммирования выхода {{ch_number}} (мВ)",
                "Output {{ch_number}} Maximum Value (mV)": "Верхний порог диммирования выхода {{ch_number}} (мВ)",
                "Output {{ch_number}} level decrement rate (ms/%)": "Скорость возрастания уровня на выходе {{ch_number}} (мс/%)",
                "Output {{ch_number}} level increment rate (ms/%)": "Скорость убывания уровня на выходе {{ch_number}} (мс/%)",
                "Output {{ch_number}} action repeat time (ms)": "Длительность периода повторения действий на выходе {{ch_number}} (мс)",
                {% endfor -%}

                "output_min_value_description": "Минимальное напряжение для канала (мВ)",
                "output_max_value_description": "Максимальное напряжение для канала (мВ)",

                "Serial": "Серийный номер",
                "FW Version": "Версия прошивки",
                "Supply voltage": "Напряжение питания",
                "Uptime": "Время работы с момента включения (с)",
                "MCU Temperature": "Температура МК",
                "MCU Voltage": "Напряжение питания МК",
                "Status LED": "Индикатор состояния",

                "Long Press Time (ms)": "Время длинного нажатия (мс)",
                "Second Press Waiting Time (ms)": "Время ожидания второго нажатия (мс)",
                "Debounce Time (ms)": "Время подавления дребезга (мс)",

                "input_hold_time_description": "Если нажатие длится больше указанного времени - считаем его длинным",
                "input_double_time_description": "Если за указанное время второго нажатия не было - считаем нажатие одиночным. 0 - отключит все нажатия кроме короткого и длинного",
                "input_debounce_time_description": "Должно быть в 5-10 раз меньше, чем время ожидания второго нажатия. Если двойные нажатия отключены - любое значение",

                "decrease_rate_description": "Во время плавных переходов, выходной уровень будет уменьшаться на 1% через указанный период времени. При 0 значении, уровень уменьшится мгновенно",
                "increase_rate_description": "Во время плавных переходов, выходной уровень будет увеличиваться на 1% через указанный период времени. При 0 значении, уровень увеличится мгновенно",
                "action_repeat_time_description": "Во время долгих действий, выходной уровень будет изменяться на 1% через указанный период времени",
            }
        }
    }
}
