{% set LP_INPUTS_NUMBER = 2 -%}
{% set INPUTS_NUMBER = 6 -%}
{% set FRONT_PANEL_BUTTONS_NUMBER = 2 -%}
{% set OUTPUTS_NUMBER = 4 -%}

{% set OUT_NUM_K1 = 1 -%}
{% set OUT_NUM_K2 = 2 -%}
{% set OUT_NUM_ALARM = 3 -%}
{% set OUT_NUM_CLEANING_MODE = 4 -%}
{
    "title": "WB-MWAC_template_title",
    "device_type": "WB-MWAC-v2",
    "group": "g-wb",
    "device": {
        "name": "WB-MWAC-v2",
        "id": "wb-mwac-v2",
        "max_read_registers": 0,
        "response_timeout_ms": 1,
        "frame_timeout_ms": 8,
        "enable_wb_continuous_read": true,

        "groups": [
            {
                "title": "Counters",
                "id": "counters"
            },
            {% for in_num in range(1, INPUTS_NUMBER + 1) -%}
            {
                "title": "Input F{{ in_num }}",
                "id": "input_f{{ in_num }}"
            },
            {
                "title": "Actions for outputs when the input is closed/opened",
                "id": "gg_in{{ in_num }}_mapping_matrix_actions",
                "group": "input_f{{ in_num }}"
            },
            {% endfor -%}
            {% for b_num in range(1, FRONT_PANEL_BUTTONS_NUMBER + 1) -%}
            {
                "title": "Button B{{ b_num }}",
                "id": "button_b{{ b_num }}"
            },
            {
                "title": "Actions for outputs when the button is pressed",
                "id": "gg_b{{ b_num }}_mapping_matrix_actions",
                "group": "button_b{{ b_num }}"
            },
            {% endfor -%}
            {
                "title": "Outputs",
                "id": "outputs"
            },
            {
                "title": "Output Safe State",
                "id": "gg_outputs_safe_state",
                "group": "outputs"
            },
            {
                "title": "Outputs group",
                "id": "gg_outputs_channels",
                "group": "outputs",
                "ui_options": {
                    "wb": {
                        "disable_title": true
                    }
                }
            },
            {
                "title": "Safety Mode",
                "id": "g_safety"
            },
            {
                "title": "Cleaning mode",
                "id": "cleaning_mode"
            },
            {
                "title": "Safety Behaviour",
                "id": "gg_safety_behaviour",
                "group": "g_safety"
            },
            {
                "title": "Inputs Control In Safety Mode",
                "id": "gg_safety_input_control",
                "description": "inputs_control_in_safety_mode_description",
                "group": "g_safety"
            },
            {
                "title": "General",
                "id": "general"
            },
            {
                "title": "HW Info",
                "id": "hw_info"
            }
        ],

        "parameters": {
            {% for in_num in range(1, INPUTS_NUMBER + 1) -%}
            "in{{ in_num }}_mode": {
                "title": "Input F{{ in_num }} Mode",
                "address": {{ 8 + in_num }},
                "reg_type": "holding",
                "enum": [3, 4, 7, 5],
                "default": 5,
                "enum_titles": [
                    "control disabled",
                    "push button",
                    "latching button",
                    "leakage sensor + check after 20 min."
                ],
                "group": "input_f{{ in_num }}",
                "order": 1
            },
            "in{{ in_num }}_debounce_ms": {
                "title": "Input F{{ in_num }} Debounce (0 — 2000 ms, 50 by default)",
                "address": {{ 19 + in_num }},
                "reg_type": "holding",
                "min": 0,
                "max": 2000,
                "default": 50,
                "group": "input_f{{ in_num }}",
                "order": 2
            },

            {% for i in range(2) -%}
            {% for out_num in range(1, OUTPUTS_NUMBER + 1 - i) -%}
            {% if i == 0 %}
            "in{{ in_num }}_out{{ out_num }}_actions":
            { {% else %}
            "in{{ in_num }}_out{{ out_num }}_actions_20min":
            { {% endif %}
                "group": "gg_in{{ in_num }}_mapping_matrix_actions",
                "title": 
                    {%- if out_num == OUT_NUM_K1 %} "K1",
                    {%- elif out_num == OUT_NUM_K2 %} "K2",
                    {%- elif out_num == OUT_NUM_ALARM %} "Alarm",
                    {%- else %} "Cleaning mode",
                    {% endif %}
                "order": {{ out_num }},
                "address": {{ 864 + ((in_num - 1) * 8) + (out_num - 1) }},
                "reg_type": "holding",
                "default": 
                    {%- if out_num == OUT_NUM_CLEANING_MODE %} 0,
                    {%- elif out_num == OUT_NUM_ALARM %}
                        {%- if i == 0 %} 1,
                        {%- else %} 2,
                        {%- endif %}
                    {%- else %} 1,
                    {%- endif -%}
                {% if out_num == OUT_NUM_ALARM %}
                "enum": [0, {% if i == 0 %}1{% else %}2{% endif %}],
                "enum_titles": [
                    "do nothing",
                    {% if i == 0 %}"off"{% else %}"on"{% endif %}
                ],
                {% elif i == 1 %}
                "enum": [0, 1, 2],
                "enum_titles": [
                    "do nothing",
                    "off",
                    "on"
                ],
                {% else %}
                "enum": [0, 1, 2, 3],
                "enum_titles": [
                    "do nothing",
                    "off",
                    "on",
                    "toggle"
                ],
                {% endif -%}

                "condition": "in{{ in_num }}_mode=={{ 4 + i }}"
            },
            {% endfor -%}
            {% endfor -%}

            {% for out_num in range(1, OUTPUTS_NUMBER + 1) -%}
            "in{{ in_num }}_out{{ out_num }}_actions_latching":
            {
                "group": "gg_in{{ in_num }}_mapping_matrix_actions",
                "title": 
                    {%- if out_num == OUT_NUM_K1 %} "K1",
                    {%- elif out_num == OUT_NUM_K2 %} "K2",
                    {%- elif out_num == OUT_NUM_ALARM %} "Alarm",
                    {%- else %} "Cleaning mode",
                    {%- endif %}
                "order": {{ out_num }},
                "address": {{ 384 + ((in_num - 1) * 8) + (out_num - 1) }},
                "reg_type": "holding",
                "default": 0,
                {%- if out_num == OUT_NUM_ALARM %}
                "enum": [0, 5],
                "enum_titles": [
                    "do nothing",
                    "off"
                ],
                {% else %}
                "enum": [0, 9],
                "enum_titles": [
                    "do nothing",
                    "control"
                ],
                {% endif -%}

                "condition": "in{{ in_num }}_mode==7"
            },
            {% endfor -%}

            {% endfor -%}

            {% for in_num in range(1, FRONT_PANEL_BUTTONS_NUMBER + 1) -%}
            "b{{ in_num }}_mode": {
                "title": "Button B{{ in_num }} Mode",
                "address": {{ 8 + INPUTS_NUMBER + in_num }},
                "reg_type": "holding",
                "enum": [3, 4],
                "default": 4,
                "enum_titles": [
                    "control disabled",
                    "push button"
                ],
                "group": "button_b{{ in_num }}",
                "order": 1
            },
            "b{{ in_num }}_debounce_ms": {
                "title": "Button B{{ in_num }} Debounce (0 — 2000 ms, 50 by default)",
                "address": {{ 19 + INPUTS_NUMBER + in_num }},
                "reg_type": "holding",
                "min": 0,
                "max": 2000,
                "default": 50,
                "group": "button_b{{ in_num }}",
                "order": 2
            },

            {% for out_num in range(1, OUTPUTS_NUMBER + 1) -%}
            "b{{ in_num }}_out{{ out_num }}_actions": {
                "group": "gg_b{{ in_num }}_mapping_matrix_actions",
                "title": 
                    {%- if out_num == OUT_NUM_K1 %} "K1",
                    {%- elif out_num == OUT_NUM_K2 %} "K2",
                    {%- elif out_num == OUT_NUM_ALARM %} "Alarm",
                    {%- else %} "Cleaning mode",
                    {% endif %}
                "order": {{ out_num }},
                "address": {{ 864 + ((INPUTS_NUMBER + in_num - 1) * 8) + (out_num - 1) }},
                "reg_type": "holding",
                "default":
                    {%- if in_num == OUT_NUM_K1 and out_num == OUT_NUM_K1 %} 3,
                    {%- elif in_num == OUT_NUM_K2 and out_num == OUT_NUM_K2 %} 3,
                    {%- else %} 0,
                    {%- endif -%}
                {%- if out_num == OUT_NUM_ALARM %}
                "enum": [0, 1],
                "enum_titles": [
                    "do nothing",
                    "off"
                ],
                {% else %}
                "enum": [0, 1, 2, 3],
                "enum_titles": [
                    "do nothing",
                    "off",
                    "on",
                    "toggle"
                ],
                {% endif -%}

                "condition": "b{{ in_num }}_mode=={{ 4 }}"
            },
            {% endfor -%}

            {% endfor -%}

            "outputs_restore_state": {
                "title": "Restore Last Outputs State After Power On",
                "address": 6,
                "reg_type": "holding",
                "enum": [0, 1],
                "default": 0,
                "enum_titles": ["no", "yes"],
                "group": "outputs",
                "order": 1
            },
            "safety_timer_s": {
                "title": "Safety Timer (s)",
                "address": 8,
                "reg_type": "holding",
                "default": 3600,
                "group": "g_safety",
                "order": 2
            },
            "baud_rate": {
                "title": "Baud rate",
                "description": "baud_rate_description",
                "address": 110,
                "reg_type": "holding",
                "enum": [96, 192, 384, 576, 1152],
                "default": 96,
                "enum_titles": [
                    "9600",
                    "19200",
                    "38400",
                    "57600",
                    "115200"
                ],
                "group": "general",
                "order": 1
            },
            {% for out_num in range(1, OUTPUTS_NUMBER - 1) -%}
            "out{{ out_num }}_safe_state": {
                "title": "K{{ out_num }}",
                "group": "gg_outputs_safe_state",
                "order": {{ out_num }},
                "address": {{ 930 + (out_num - 1) }},
                "reg_type": "holding",
                "default": 0,
                "enum": [0, 1],
                "enum_titles": [
                    "Off",
                    "On"
                ]
            },
            "out{{ out_num }}_safety_behaviour": {
                "title": "K{{ out_num }}",
                "group": "gg_safety_behaviour",
                "order": {{ out_num }},
                "address": {{ 938 + (out_num - 1) }},
                "reg_type": "holding",
                "default": 0,
                "enum": [0, 1],
                "enum_titles": [
                    "Don't сhange output state",
                    "Switch output to safety state"
                ]
            },
            "out{{ out_num }}_safety_input_control": {
                "title": "K{{ out_num }}",
                "group": "gg_safety_input_control",
                "order": {{ out_num }},
                "address": {{ 946 + (out_num - 1) }},
                "reg_type": "holding",
                "default": 0,
                "enum": [0, 1, 2],
                "enum_titles": [
                    "Don't change",
                    "Disable in safety mode",
                    "Enable only in safety mode"
                ]
            },
            {% endfor -%}

            {% for lp_in_num in range(1, LP_INPUTS_NUMBER + 1) -%}
            "P{{ lp_in_num }}_counter_offset": {
                "title": "P{{ lp_in_num }} Counter Offset (0 — 4294967295)",
                "address": {{ 312 + 2 * (lp_in_num - 1) }},
                "reg_type": "holding",
                "format": "u32",
                "min": 0,
                "max": 4294967295,
                "default": 0,
                "group": "counters",
                "order": {{ lp_in_num }}
            },
            {% endfor -%}

            "cleaning_mode_timer_min": {
                "title": "Cleaning mode timer (1 — 1440 minutes, 30 by default)",
                "address": 975,
                "reg_type": "holding",
                "min": 1,
                "max": 1440,
                "default": 30,
                "group": "cleaning_mode",
                "order": 1
            },
        },

        "channels": [
            {% for lp_in_num in range(1, LP_INPUTS_NUMBER + 1) -%}
            {
                "name": "P{{ lp_in_num }}",
                "reg_type": "discrete",
                "address": {{ 9 + lp_in_num }},
                "type": "switch",
                "sporadic": false,
                "group": "counters"
            },
            {
                "name": "P{{ lp_in_num }} Counter",
                "reg_type": "input",
                "address": {{ 316 + 2 * (lp_in_num - 1) }},
                "type": "value",
                "format": "u32",
                "group": "counters"
            },
            {% endfor -%}
            {% for in_num in range(1, INPUTS_NUMBER + 1) -%}
            {
                "name": "F{{ in_num }}",
                "reg_type": "discrete",
                "address": {{ in_num - 1 }},
                "type": "switch",
                "sporadic": true,
                "condition": "isDefined(in{{ in_num }}_mode)&&in{{ in_num }}_mode!=3",
                "group": "input_f{{ in_num }}"
            },
            {
                "name": "F{{ in_num }}",
                "reg_type": "discrete",
                "address": {{ in_num - 1 }},
                "type": "switch",
                "sporadic": false,
                "condition": "isDefined(in{{ in_num }}_mode)==0||in{{ in_num }}_mode==3",
                "group": "input_f{{ in_num }}"
            },
            {
                "name": "F{{ in_num }} Counter",
                "reg_type": "input",
                "address": {{ 31 + in_num}},
                "type": "value",
                "sporadic": true,
                "condition": "isDefined(in{{ in_num }}_mode)&&in{{ in_num }}_mode!=3",
                "group": "input_f{{ in_num }}"
            },
            {
                "name": "F{{ in_num }} Counter",
                "reg_type": "input",
                "address": {{ 31 + in_num}},
                "type": "value",
                "sporadic": false,
                "condition": "isDefined(in{{ in_num }}_mode)==0||in{{ in_num }}_mode==3",
                "group": "input_f{{ in_num }}"
            },
            {
                "name": "Input F{{ in_num }} sensor performance (only for Larnitech sensors)",
                "reg_type": "input",
                "address": {{ 1070 + in_num}},
                "type": "switch",
                "sporadic": false,
                "enabled": false,
                "group": "input_f{{ in_num }}"
            },
            {% endfor -%}
            {% for out_num in range(1, OUTPUTS_NUMBER - 1) -%}
            {
                "name": "K{{ out_num }}",
                "reg_type": "coil",
                "address": {{ out_num - 1 }},
                "type": "switch",
                "sporadic": true,
                "group": "outputs"
            },
            {% endfor -%}
            {
                "name": "Alarm",
                "reg_type": "coil",
                "address": 2,
                "type": "switch",
                "sporadic": true,
                "group": "outputs"
            },
            {
                "name": "Cleaning mode",
                "reg_type": "coil",
                "address": 3,
                "type": "switch",
                "group": "outputs"
            },
            {
                "name": "Serial",
                "reg_type": "input",
                "address": 270,
                "type": "text",
                "format": "u32",
                "group": "hw_info"
            },
            {
                "name": "FW Version",
                "reg_type": "input",
                "address": 250,
                "type": "text",
                "format": "string",
                "string_data_size": 16,
                "enabled": false,
                "group": "hw_info"
            },
            {
                "name": "Input Voltage",
                "reg_type": "input",
                "address": 121,
                "type": "voltage",
                "scale": 0.001,
                "enabled": false,
                "group": "hw_info"
            },
            {
                "name": "Uptime",
                "reg_type": "input",
                "address": 104,
                "type": "text",
                "format": "u32",
                "enabled": false,
                "group": "hw_info"
            },
            {
                "name": "MCU Temperature",
                "reg_type": "input",
                "address": 124,
                "type": "temperature",
                "format": "s16",
                "scale": 0.1,
                "enabled": false,
                "group": "hw_info"
            },
            {
                "name": "MCU Voltage",
                "reg_type": "input",
                "address": 123,
                "scale": 0.001,
                "type": "voltage",
                "enabled": false,
                "group": "hw_info"
            },
            {
                "name": "Battery freshness (2 — 0, measured at startup)",
                "reg_type": "input",
                "address": 118,
                "type": "value",
                "enabled": false,
                "sporadic": false,
                "group": "hw_info"
            },
            {
                "name": "Vout overloaded",
                "reg_type": "input",
                "address": 462,
                "type": "switch",
                "enabled": false,
                "sporadic": false,
                "group": "hw_info"
            }
        ],
        "translations": {
            "en": {
                "WB-MWAC_template_title": "WB-MWAC v.2 (water leak and meters controller)",
                "baud_rate_description": "Make sure that communication with device is established before changing this parameter. Select required baud rate, save configuration and then change port baud rate to the same value.",
                "Uptime": "Uptime (s)",
                "inputs_control_in_safety_mode_description": "Sets change of control from the inputs when module switches to safety mode"
            },
            "ru": {
                "WB-MWAC_template_title": "WB-MWAC v.2 (модуль контроля протечек и расхода воды)",
                "Counters": "Счетчики",
                "Cleaning mode": "Режим уборки",
                {% for in_num in range(1, INPUTS_NUMBER + FRONT_PANEL_BUTTONS_NUMBER + 1) -%}
                "Input F{{ in_num }}": "Вход F{{ in_num }}",
                "Input F{{ in_num }} Mode": "Режим работы входа F{{ in_num }}",
                "Input F{{ in_num }} Debounce (0 — 2000 ms, 50 by default)": "Время защиты от дребезга входа F{{ in_num }} (0 — 2000 мс, 50 по умолчанию)",
                "F{{ in_num }} Counter": "Счетчик F{{ in_num }}",
                "Input F{{ in_num }} sensor performance (only for Larnitech sensors)":  "Работоспособность датчика на входе F{{ in_num }} (только для датчиков Larnitech)",
                {% endfor -%}
                {% for b_num in range(1, FRONT_PANEL_BUTTONS_NUMBER + 1) -%}
                "Button B{{ b_num }}": "Кнопка B{{ b_num }}",
                "Actions for outputs when the button is pressed": "Действия для выходов при нажатии кнопки",
                "Button B{{ b_num }} Mode": "Режим работы кнопки B{{ b_num }}",
                "Button B{{ b_num }} Debounce (0 — 2000 ms, 50 by default)": "Время защиты от дребезга кнопки B{{ b_num }} (0 — 2000 мс, 50 по умолчанию)",
                {% endfor -%}

                "Outputs": "Выходы",
                "General": "Общее",
                "HW Info": "Данные модуля",
                "turn off all outputs": "отключить все выходы",
                "control disabled": "управление отключено",
                "push button": "кнопка без фиксации",
                "leakage sensor + check after 20 min.": "датчик протечки + проверить через 20 мин.",
                "latching button": "кнопка с фиксацией",
                "Restore Last Outputs State After Power On": "Восстанавливать cостояния выходов при включении",
                "no": "нет",
                "yes": "да",
                "Safety Timer (s)": "Таймаут безопасного режима (с)",
                "Baud rate": "Скорость обмена",
                "baud_rate_description": "Перед изменением параметра убедитесь, что связь с устройством установлена. Выберите нужную скорость обмена, сохраните конфигурацию, а затем укажите в настройках порта эту же скорость.",
                {% for lp_in_num in range(1, LP_INPUTS_NUMBER + 1) -%}
                "P{{ lp_in_num }} Counter": "Счетчик P{{ lp_in_num }}",
                "P{{ lp_in_num }} Counter Offset (0 — 4294967295)": "Начальное значение счетчика P{{ lp_in_num }} (0 — 4294967295)",
                {% endfor -%}
                "Alarm": "Авария",
                "Serial": "Серийный номер",
                "FW Version": "Версия прошивки",
                "Input Voltage": "Напряжение питания",
                "Uptime": "Время работы с момента включения (с)",
                "MCU Temperature": "Температура МК",
                "MCU Voltage": "Напряжение питания МК",
                "Battery freshness (2 — 0, measured at startup)": "Свежесть батарейки (2 — 0, измерено при загрузке)",
                "Vout overloaded": "Выход Vout перегружен",
                "Cleaning mode timer (1 — 1440 minutes, 30 by default)": "Таймер режима уборки (1 — 1440 минут, 30 по умолчанию)",

                "Off": "Выключен",
                "On": "Включен",
                "Safety Mode": "Безопасный режим",
                "Safety Behaviour": "Действие в безопасном режиме",
                "Don't сhange output state": "Ничего не делать",
                "Switch output to safety state": "Перевести выход в безопасное состояние",
                "Inputs Control In Safety Mode": "Управление с входов в безопасном режиме",
                "Don't change": "Не блокировать",
                "Disable in safety mode": "Блокировать в безопасном режиме",
                "Enable only in safety mode": "Разрешить только в безопасном режиме",
                "Output Safe State": "Безопасное состояние выходов",
                "inputs_control_in_safety_mode_description": "Настройка изменения управления с входов при переходе модуля в безопасный режим",

                "do nothing": "нет действия",
                "off": "выключить",
                "on": "включить",
                "toggle": "переключить",

                "control": "управлять",

                "Actions for outputs when the input is closed/opened": "Действия для выходов при замыкании/размыкании входа"
            }
        }
    }
}
