{% set device_title = device_title | default("WBIO-DO-R10A-8") -%}
{% set title_en = title_en | default(device_title) -%}
{% set title_ru = title_ru | default(device_title) -%}
{% set device_type = device_type | default("WBIO-DO-R10A-8") -%}
{% set group = group | default("g-wb") -%}
{% set device_name = device_name | default("WBIO-DO-R10A-8") -%}
{% set device_id = device_id | default("wb-mio-gpio") -%}

{
    "title": "template_title",
    "device_type": "{{ device_type }}",
    "group": "{{ group }}",
    "device": {
        "name": "{{ device_name }}",
        "id": "{{ device_id }}",
        "protocol": "modbus_io",
        "stride": 1000,
        "shift": 500,
        "max_read_registers": 0,
        "response_timeout_ms": 40,
        "frame_timeout_ms": 8,
        "setup": [
            {
                "title": "IODIR",
                "address": 10000,
                "value": "0x0000"
            },
            {
                "title": "IPOL",
                "address": 10001,
                "value": "0x0000"
            },
            {
                "title": "GPINTEN",
                "address": 10002,
                "value": "0xffff"
            },
            {
                "title": "DEFVAL",
                "address": 10003,
                "value": "0x0000"
            },
            {
                "title": "INTCON",
                "address": 10004,
                "value": "0x0000"
            },
            {
                "title": "IOCON",
                "address": 10005,
                "value": "0x4444"
            },
            {
                "title": "FLAG",
                "address": 9999,
                "value": 1
            }
        ],
        "channels": [
            {
                "name": "K1",
                "reg_type": "coil",
                "address": 0,
                "type": "switch"
            },
            {
                "name": "K2",
                "reg_type": "coil",
                "address": 1,
                "type": "switch"
            },
            {
                "name": "K3",
                "reg_type": "coil",
                "address": 2,
                "type": "switch"
            },
            {
                "name": "K4",
                "reg_type": "coil",
                "address": 3,
                "type": "switch"
            },
            {
                "name": "K5",
                "reg_type": "coil",
                "address": 4,
                "type": "switch"
            },
            {
                "name": "K6",
                "reg_type": "coil",
                "address": 5,
                "type": "switch"
            },
            {
                "name": "K7",
                "reg_type": "coil",
                "address": 6,
                "type": "switch"
            },
            {
                "name": "K8",
                "reg_type": "coil",
                "address": 7,
                "type": "switch"
            }
        ],
        "translations": {
            "en": {
                "template_title": "{{ title_en }}"
            },
            "ru": {
                "template_title": "{{ title_ru }}"
            }
        }
    }
}
