{% with title_en = "PLC-270-EMD-00006R-60-MR (PLC 270 IO Modbus RTU module 6 RO 165A ONI)",
        title_ru = "PLC-270-EMD-00006R-60-MR (ПЛК 270 Модуль IO Modbus RTU 6 RO 165А ONI)",
        device_type = "tpl1_oni_plc_270_emd_00006r_60_mr",
        group = "g-oni",
        device_name = "PLC-270-EMD-00006R-60-MR",
        device_id = "oni-plc-270-emd-00006r-60-mr",
        has_signature = true %}
{% include "config-wb-mr6cu.json.jinja" %}
{% endwith %}
