{% with title_en = "PLC-270-EMD-04D03R-60-MR, PLC-270-EMD-04D03S-40-MR, PLC-270-EMD-04D03R-00-MR (PLC 270 IO Modbus RTU module 4 DI 3 RO 165A/120A/31A ONI)",
        title_ru = "PLC-270-EMD-04D03R-60-MR, PLC-270-EMD-04D03S-40-MR, PLC-270-EMD-04D03R-00-MR (ПЛК 270 Модуль IO Modbus RTU 4 DI 3 RO 165А/120А/31А ONI)",
        device_type = "tpl1_oni_plc_270_emd_04d03r_00_mr",
        group = "g-oni",
        device_name = "PLC-270-EMD-04D03R-00-MR",
        device_id = "oni-plc-270-emd-04d03r-00-mr",
        has_signature = true %}
{% include "config-wb-mr3.json.jinja" %}
{% endwith %}
