{% set device_title = device_title | default("WBIO-DI-HVD-8") -%}
{% set device_type = device_type | default("WBIO-DI-HVD-8") -%}
{% set group = group | default("g-wb") -%}
{% set device_name = device_name | default("WBIO-DI-HVD-8") -%}
{% set device_id = device_id | default("wb-mio-gpio") -%}

{
    "title": "{{ device_title }}",
    "device_type": "{{ device_type }}",
    "group": "{{ group }}",
    "device": {
        "name": "{{ device_name }}",
        "id": "{{ device_id }}",
        "protocol": "modbus_io",
        "stride": 1000,
        "max_read_registers": 0,
        "response_timeout_ms": 40,
        "frame_timeout_ms": 8,
        "setup": [
            {
                "title": "IODIR",
                "address": 10000,
                "value": "0xffff"
            },
            {
                "title": "IPOL",
                "address": 10001,
                "value": "0x0000"
            },
            {
                "title": "GPINTEN",
                "address": 10002,
                "value": "0xffff"
            },
            {
                "title": "DEFVAL",
                "address": 10003,
                "value": "0x0000"
            },
            {
                "title": "INTCON",
                "address": 10004,
                "value": "0x0000"
            },
            {
                "title": "IOCON",
                "address": 10005,
                "value": "0x4444"
            },
            {
                "title": "CONFIG-FLAG",
                "address": 9999,
                "value": 1
            }
        ],
        "channels": [
            {
                "name": "IN1",
                "reg_type": "coil",
                "readonly": true,
                "address": 0,
                "type": "switch"
            },
            {
                "name": "IN2",
                "reg_type": "coil",
                "readonly": true,
                "address": 1,
                "type": "switch"
            },
            {
                "name": "IN3",
                "reg_type": "coil",
                "readonly": true,
                "address": 2,
                "type": "switch"
            },
            {
                "name": "IN4",
                "reg_type": "coil",
                "readonly": true,
                "address": 3,
                "type": "switch"
            },
            {
                "name": "IN5",
                "reg_type": "coil",
                "readonly": true,
                "address": 4,
                "type": "switch"
            },
            {
                "name": "IN6",
                "reg_type": "coil",
                "readonly": true,
                "address": 5,
                "type": "switch"
            },
            {
                "name": "IN7",
                "reg_type": "coil",
                "readonly": true,
                "address": 6,
                "type": "switch"
            },
            {
                "name": "IN8",
                "reg_type": "coil",
                "readonly": true,
                "address": 7,
                "type": "switch"
            }
        ]
    }
}
