{% with title_en = "PLC-270-EMD-00008O-00-IO (PLC 270 IO module 8 DO optorelay ONI)",
        title_ru = "PLC-270-EMD-00008O-00-IO (ПЛК 270 Модуль IO 8 DO оптореле ONI)",
        device_type = "tpl1_oni_plc_270_emd_00008o_00_io",
        group = "g-oni",
        device_name = "PLC-270-EMD-00008O-00-IO",
        device_id = "oni-plc-270-emd-00008o-00-io" %}
{% include "config-wbio-do-ssr-8.json.jinja" %}
{% endwith %}
