{% with title_en = "PLC-270-EMD-08D000-00-MR (PLC 270 IO Modbus RTU module 8 DI ONI)",
        title_ru = "PLC-270-EMD-08D000-00-MR (ПЛК 270 Модуль IO Modbus RTU 8 DI ONI)",
        device_type = "tpl1_oni_plc_270_emd_08d000_00_mr",
        group = "g-oni",
        device_name = "PLC-270-EMD-08D000-00-MR",
        device_id = "oni-plc-270-emd-08d000-00-mr",
        has_signature = true %}
{% include "config-wb-mcm8.json.jinja" %}
{% endwith %}
