{% with title_en = "PLC-W-ACS-MBRTU-WATER (water leak and meters controller)",
        title_ru = "PLC-W-ACS-MBRTU-WATER (модуль контроля протечек и расхода воды)",
        device_type = "tpl1_oni_plc_w_acs_mbrtu_water",
        group = "g-oni",
        device_name = "PLC-W-ACS-MBRTU-WATER",
        device_id = "oni-plc-w-acs-mbrtu-water",
        has_signature = true %}
{% include "config-wb-mwac2.json.jinja" %}
{% endwith %}