{% with device_type = "tpl1_oni_plc_w_emd_0016r",
        group = "g-oni",
        device_name = "PLC-W-EMD-0016R",
        device_id = "oni-plc-w-emd-0016r" %}
{% include "config-wbio-do-r1g-16.json.jinja" %}
{% endwith %}