{% with device_type = "tpl1_oni_plc_w_emd_0004r",
        group = "g-oni",
        device_name = "PLC-W-EMD-0004R",
        device_id = "oni-plc-w-emd-0004r" %}
{% include "config-wbio-do-r10r-4.json.jinja" %}
{% endwith %}