{% with title_en = "PLC-270-EMA-03D04V-00-MR (PLC 270 IO Modbus RTU module 3 DI 4 VO ONI)",
        title_ru = "PLC-270-EMA-03D04V-00-MR (ПЛК 270 Модуль IO Modbus RTU 3 DI 4 VO ONI)",
        device_type = "tpl1_oni_plc_270_ema_03d04v_00_mr",
        group = "g-oni",
        device_name = "PLC-270-EMA-03D04V-00-MR",
        device_id = "oni-plc-270-ema-03d04v-00-mr",
        has_signature = true %}
{% include "config-wb-mao4.json.jinja" %}
{% endwith %}
