{% with title_en = "PLC-W-EMD-0706-POWER (6-channel relay with internal power supply)",
        title_ru = "PLC-W-EMD-0706-POWER (6-канальный модуль реле с внутренним блоком питания)",
        device_type = "tpl1_oni_plc_w_emd_0706_power",
        group = "g-oni",
        device_name = "PLC-W-EMD-0706-POWER",
        device_id = "oni-plc-w-emd-0706-power",
        has_signature = true %}
{% include "config-wb-mr6cv3.json.jinja" %}
{% endwith %}