{% set INPUTS_NUMBER = 6 -%}
{% set OUTPUTS_NUMBER = 3 -%}
{% set ENCODERS_NUMBER = 3 -%}
{% set ENCODER_CHANGE_STEP_DEFAULT = 1 -%}
{% set ENCODER_CHANGE_STEP_MAX = 100 -%}
{% set PRESS_TYPES = ["single", "long", "double", "shortlong"] -%}
{% set SHORT_PRESS_TYPES = ["single", "double"] -%}
{% set SHORT_PRESS_CHANGE_STEP_DEFAULT = 1 -%}
{% set SHORT_PRESS_CHANGE_STEP_MAX = 100 -%}

{
    "title": "WB-MDM3_template_title",
    "device_type": "WB-MDM3-since-fw-2.12",
    "group": "g-wb",
    "hw": [
        {
            "signature": "WBMD3",
            "fw": "2.12.0"
        }
    ],
    "device": {
        "name": "WB-MDM3",
        "id": "wb-mdm3",
        "max_read_registers": 0,
        "response_timeout_ms": 1,
        "frame_timeout_ms": 0,
        "enable_wb_continuous_read": true,

        "groups": [
            {% for ch_number in range(1, INPUTS_NUMBER + 1) -%}
            {
                "title": "g_in{{ch_number}}",
                "id": "g_in{{ch_number}}"
            },
            {% for press_type in PRESS_TYPES -%}
            {
                "title": "gg_{{ press_type | replace(' ', '_') }}_press_action",
                "id": "gg_in{{ ch_number }}_{{ press_type | replace(' ', '_') }}_press_action",
                "group": "g_in{{ ch_number }}"
            },
            {% endfor -%}
            {
                "title": "gg_switch_on_action",
                "id": "gg_in{{ ch_number }}_switch_on_action",
                "group": "g_in{{ ch_number }}"
            },
            {
                "title": "gg_switch_off_action",
                "id": "gg_in{{ ch_number }}_switch_off_action",
                "group": "g_in{{ ch_number }}"
            },
            {
                "title": "gg_press_params",
                "id": "gg_in{{ ch_number }}_press_params",
                "group": "g_in{{ ch_number }}"
            },
            {% endfor -%}
            {% for ch_number in range(0, OUTPUTS_NUMBER) -%}
            {
                "title": "g_out{{ch_number + 1}}",
                "id": "g_out{{ch_number + 1}}"
            },
            {% endfor -%}
            {% for ch_number in range(1, INPUTS_NUMBER + 1) -%}
            {
                "title": "gg_in_channels",
                "id": "gg_in{{ch_number}}_channels",
                "group": "g_in{{ch_number}}",
                "ui_options": {
                    "wb": {
                        "disable_title": true
                    }
                }
            },
            {% endfor -%}

            {
                "title": "g_encoders",
                "id": "g_encoders"
            },
            {% for encoder_number in range(1, ENCODERS_NUMBER + 1) -%}
            {
                "title": "gg_encoder_{{encoder_number}}",
                "id": "gg_encoder_{{encoder_number}}",
                "group": "g_encoders"
            },
            {% endfor -%}
            {
                "title": "gg_encoder_channels",
                "id": "gg_encoder_channels",
                "group": "g_encoders",
                "ui_options": {
                    "wb": {
                        "disable_title": true
                    }
                }
            },

            {
                "title": "g_safety",
                "id": "g_safety",
                "description": "g_safety_description"
            },
            {
                "title": "g_power_up_behaviour",
                "id": "g_power_up_behaviour",
                "description": "g_power_up_behaviour_description"
            },
            {
                "title": "gg_safety_behaviour",
                "id": "gg_safety_behaviour",
                "group": "g_safety"
            },
            {% for ch_number in range(1, OUTPUTS_NUMBER + 1) -%}
            {
                "title": "g_out{{ ch_number }}",
                "id": "gg_safety_mode_ch_{{ ch_number }}",
                "group": "gg_safety_behaviour"
            },
            {
                "title": "g_out{{ ch_number }}",
                "id": "gg_power_up_behaviour_ch_{{ ch_number }}",
                "group": "g_power_up_behaviour"
            },
            {% endfor -%}
            {
                "title": "gg_safety_input_control",
                "id": "gg_safety_input_control",
                "description": "inputs_control_in_safety_mode_description",
                "group": "g_safety"
            },

            {
                "title": "g_general",
                "id": "g_general"
            },
            {
                "title": "gg_legacy_inputs_mode",
                "id": "gg_legacy_inputs_mode",
                "group": "g_general",
                "description": "inputs_mode_description"
            },
            {
                "title": "gg_general_parameters",
                "id": "gg_general_parameters",
                "group": "g_general",
                "ui_options": {
                    "wb": {
                        "disable_title": true
                    }
                }
            },
            {
                "title": "gg_general_channels",
                "id": "gg_general_channels",
                "group": "g_general",
                "ui_options": {
                    "wb": {
                        "disable_title": true
                    }
                }
            },
            {
                "title": "g_hw_info",
                "id": "g_hw_info"
            },
            {
                "title": "g_debug",
                "id": "g_debug"
            }
        ],

        "parameters": [
            {% for ch_number in range(0, OUTPUTS_NUMBER) -%}
            {
                "id": "inputs{{ch_number * 2 + 1}}{{ch_number * 2 + 2}}_mode",
                "title": "p_inputs{{ch_number * 2 + 1}}{{ch_number * 2 + 2}}_mode",
                "address": {{16 + ch_number}},
                "reg_type": "holding",
                "enum": [0, 1, 2, 3],
                "default": 0,
                "enum_titles": [
                    "e_control_disabled",
                    "e_ctrl_out{{ch_number + 1}}_1btn",
                    "e_ctrl_out{{ch_number + 1}}_2btn",
                    "e_custom_mode"
                ],
                "group": "gg_legacy_inputs_mode",
                "order": {{ch_number}}
            },
            {% endfor -%}

            {% for ch_number in range(0, INPUTS_NUMBER) -%}
            {% for press_type in PRESS_TYPES -%}
            {% set action_bind = ("input {} {} press output".format(ch_number + 1, press_type))|replace(' ', '_')  -%}
            {% set selected_mode = ("inputs{}{}_mode".format(ch_number // 2 * 2 + 1, ch_number // 2 * 2 + 2)) -%}
            {% set cond_enc_num = (ch_number // 2) + 1 -%}
            {% set encoder_disabled_condition = "(encoder_" ~ cond_enc_num ~ "_mode==0)" if cond_enc_num <= ENCODERS_NUMBER else "(1==1)" -%}
            {
                "id": "{{action_bind}}_number",
                "title": "p_output_number",
                "address": {{768 + (loop.index0 * 16) + ch_number}},
                "reg_type": "holding",
                "enum": [0, 1, 2, 3, 100],
                "enum_titles": [
                    "e_no_action",
                    "e_output1",
                    "e_output2",
                    "e_output3",
                    "e_all_outputs"
                ],
                "default": 0,
                "group": "gg_in{{ch_number + 1}}_{{press_type | replace(' ', '_')}}_press_action",
                "order": 1,
                "condition": "input_{{ch_number + 1}}_mode!=1&&{{encoder_disabled_condition}}"
            },
            {
                "id": "{{action_bind}}_action_single",
                "title": "p_action",
                "address": {{832 + (loop.index0 * 16) + ch_number}},
                "reg_type": "holding",
                {% if press_type in ["long", "shortlong"] %}"enum": [0, 1, 2, 3, 4, 5],{% else %}"enum": [0, 1, 2, 3, 4],{% endif %}
                "enum_titles": [
                    "e_turn_off",
                    "e_turn_on",
                    "e_toggle",
                    "e_decrease_level",
                    "e_increase_level"{% if press_type in ["long", "shortlong"] %},
                    "e_increase_decrease_level"{% endif %}
                ],
                "default": 0,
                "group": "gg_in{{ch_number + 1}}_{{press_type | replace(' ', '_')}}_press_action",
                "order": 2,
                "condition": "({{action_bind}}_number>=1)&&({{action_bind}}_number<=3)&&{{encoder_disabled_condition}}"
            },
            {
                "id": "{{action_bind}}_action_all",
                "title": "p_action",
                "address": {{832 + (loop.index0 * 16) + ch_number}},
                "reg_type": "holding",
                "enum": [0, 1, 3, 4],
                "enum_titles": [
                    "e_turn_off",
                    "e_turn_on",
                    "e_decrease_level",
                    "e_increase_level"
                ],
                "default": 0,
                "group": "gg_in{{ch_number + 1}}_{{press_type | replace(' ', '_')}}_press_action",
                "order": 2,
                "condition": "{{action_bind}}_number==100&&{{encoder_disabled_condition}}"
            },
            {% endfor -%}
            {# Dimming step for short presses -#}
            {% for press_type in SHORT_PRESS_TYPES -%}
            {% set action_bind = ("input {} {} press output".format(ch_number + 1, press_type))|replace(' ', '_')  -%}
            {% set cond_enc_num = (ch_number // 2) + 1 -%}
            {% set encoder_disabled_condition = "(encoder_" ~ cond_enc_num ~ "_mode==0)" if cond_enc_num <= ENCODERS_NUMBER else "(1==1)" -%}
            {
                "id": "input_{{ch_number+1}}_{{press_type}}_press_changing_step",
                "group": "gg_in{{ch_number + 1}}_{{press_type | replace(' ', '_')}}_press_action",
                "title": "p_change_step",
                "order": 3,
                "address": {{1200 + ch_number + loop.index0 * 20}},
                "reg_type": "holding",
                "default": {{SHORT_PRESS_CHANGE_STEP_DEFAULT}},
                "min": 1,
                "max": {{SHORT_PRESS_CHANGE_STEP_MAX}},
                "condition": "(input_{{ch_number+1}}_mode!=1)&&((({{action_bind}}_number>=1)&&({{action_bind}}_number<=3))||({{action_bind}}_number==100))&&((({{action_bind}}_action_single>=3)&&({{action_bind}}_action_single<=4))||(({{action_bind}}_action_all>=3)&&({{action_bind}}_action_all<=4)))&&{{encoder_disabled_condition}}"
            },
            {% endfor -%}
            {% for sw_act in ["off", "on"] -%}
            {% set cond_enc_num = (ch_number // 2) + 1 -%}
            {% set encoder_disabled_condition = "(encoder_" ~ cond_enc_num ~ "_mode==0)" if cond_enc_num <= ENCODERS_NUMBER else "(1==1)" -%}
            {
                "id": "input_{{ch_number + 1}}_switch_{{sw_act}}_channel",
                "title": "p_output_number",
                "address": {{704 + (loop.index0 * 16) + ch_number}},
                "reg_type": "holding",
                "enum": [0, 1, 2, 3, 100],
                "enum_titles": [
                    "e_no_action",
                    "e_output1",
                    "e_output2",
                    "e_output3",
                    "e_all_outputs"
                ],
                "default": 0,
                "group": "gg_in{{ch_number + 1}}_switch_{{sw_act}}_action",
                "condition": "input_{{ch_number + 1}}_mode==1&&{{encoder_disabled_condition}}",
                "order": 1
            },
            {
                "id": "input_{{ch_number + 1}}_switch_{{sw_act}}_action_single",
                "title": "p_action",
                "address": {{736 + (loop.index0 * 16) + ch_number}},
                "reg_type": "holding",
                "enum": [0, 1, 2],
                "enum_titles": [
                    "e_turn_off",
                    "e_turn_on",
                    "e_toggle"
                ],
                "default": {{ 0 if sw_act == "off" else 1}},
                "group": "gg_in{{ch_number + 1}}_switch_{{sw_act}}_action",
                "condition": "input_{{ch_number + 1}}_switch_{{sw_act}}_channel>=1&&input_{{ch_number + 1}}_switch_{{sw_act}}_channel<=3&&{{encoder_disabled_condition}}",
                "order": 2
            },
            {
                "id": "input_{{ch_number + 1}}_switch_{{sw_act}}_action_all",
                "title": "p_action",
                "address": {{736 + (loop.index0 * 16) + ch_number}},
                "reg_type": "holding",
                "enum": [0, 1],
                "enum_titles": [
                    "e_turn_off",
                    "e_turn_on"
                ],
                "default": {{ 0 if sw_act == "off" else 1}},
                "group": "gg_in{{ch_number + 1}}_switch_{{sw_act}}_action",
                "condition": "input_{{ch_number + 1}}_switch_{{sw_act}}_channel==100&&{{encoder_disabled_condition}}",
                "order": 2
            },
            {% endfor -%}{% endfor -%}
            {
                "id": "safety_timer_s",
                "title": "safety_timer_s",
                "group": "g_safety",
                "description": "poll_timeout_description",
                "address": 8,
                "order": 2,
                "reg_type": "holding",
                "min": 1,
                "max": 65534,
                "default": 10
            },
            {% for ch_number in range(1, OUTPUTS_NUMBER + 1) -%}
            {
                "id": "safety_mode_ch_{{ch_number}}_action",
                "title": "p_action",
                "reg_type": "holding",
                "address": {{648 + ch_number - 1}},
                "type": "enum",
                "enum": [0, 1, 2, 3],
                "enum_titles": [
                    "e_no_action",
                    "e_turn_off",
                    "e_turn_on",
                    "e_set_brightness"
                ],
                "group": "gg_safety_mode_ch_{{ ch_number }}"
            },
            {
                "id": "safety_mode_ch_{{ch_number}}_level",
                "title": "p_level",
                "description": "level_after_actions_description",
                "reg_type": "holding",
                "address": {{656 + ch_number - 1}},
                "min": 0,
                "max": 100,
                "default": 50,
                "required": true,
                "condition": "safety_mode_ch_{{ch_number}}_action==3",
                "group": "gg_safety_mode_ch_{{ ch_number }}"
            },
            {
                "id": "power_up_behaviour_ch_{{ch_number}}_action",
                "title": "p_action",
                "reg_type": "holding",
                "address": {{664 + ch_number - 1}},
                "type": "enum",
                "enum": [0, 1, 2, 3],
                "enum_titles": [
                    "e_turn_off",
                    "e_set_previous_state",
                    "e_turn_on",
                    "e_set_brightness"
                ],
                "group": "gg_power_up_behaviour_ch_{{ ch_number }}"
            },
            {
                "id": "power_up_behaviour_ch_{{ch_number}}_level",
                "title": "p_level",
                "description": "level_after_actions_description",
                "reg_type": "holding",
                "address": {{672 + ch_number - 1}},
                "min": 0,
                "max": 100,
                "default": 50,
                "required": true,
                "condition": "power_up_behaviour_ch_{{ch_number}}_action==3",
                "group": "gg_power_up_behaviour_ch_{{ ch_number }}"
            },
            {% endfor -%}
            {% for in_number in range(1, INPUTS_NUMBER + 1) -%}
            {
                "id": "in_{{in_number}}_safety_input_control",
                "title": "g_in{{in_number}}",
                "group": "gg_safety_input_control",
                "address": {{640 + in_number - 1}},
                "reg_type": "holding",
                "default": 0,
                "enum": [0, 1, 2],
                "enum_titles": [
                    "e_dont_change",
                    "e_disable_in_safety",
                    "e_enable_only_in_safety"
                ]
            },
            {% endfor -%}

            {% for ch_number in range(0, INPUTS_NUMBER) -%}
            {% set selected_mode = ("inputs{}{}_mode".format(ch_number // 2 * 2 + 1, ch_number // 2 * 2 + 2)) -%}
            {% set cond_enc_num = (ch_number // 2) + 1 -%}
            {% set encoder_disabled_condition = "(encoder_" ~ cond_enc_num ~ "_mode==0)" if cond_enc_num <= ENCODERS_NUMBER else "(1==1)" -%}
            {
                "id": "input_{{ch_number + 1}}_mode",
                "title": "p_input_mode",
                "description": "input_mode_description",
                "address": {{416 + ch_number}},
                "reg_type": "holding",
                "enum": [0, 1],
                "enum_titles": [
                    "e_button",
                    "e_switch"
                ],
                "required": true,
                "default": 0,
                "condition": "(isDefined({{selected_mode}})==0||{{selected_mode}}==3)&&{{encoder_disabled_condition}}",
                "group": "g_in{{ch_number + 1}}"
            },
            {
                "id": "input_{{ch_number + 1}}_hold_time",
                "title": "p_hold_time",
                "description": "input_hold_time_description",
                "address": {{1100 + ch_number}},
                "reg_type": "holding",
                "default": 1000,
                "min": 500,
                "max": 5000,
                "group": "gg_in{{ch_number + 1}}_press_params",
                "condition": "input_{{ch_number + 1}}_mode!=1&&{{encoder_disabled_condition}}",
                "order": 1
            },
            {
                "id": "input_{{ch_number + 1}}_double_time",
                "title": "p_double_time",
                "description": "input_double_time_description",
                "address": {{1140 + ch_number}},
                "reg_type": "holding",
                "default": 300,
                "min": 0,
                "max": 2000,
                "group": "gg_in{{ch_number + 1}}_press_params",
                "condition": "input_{{ch_number + 1}}_mode!=1&&{{encoder_disabled_condition}}",
                "order": 2
            },
            {
                "id": "input_{{ch_number + 1}}_debounce_time",
                "title": "p_debounce_time",
                "description": "input_debounce_time_description",
                "address": {{1160 + ch_number}},
                "reg_type": "holding",
                "default": 50,
                "min": 2,
                "max": 200,
                "group": "gg_in{{ch_number + 1}}_press_params",
                "order": 3
            },
            {% endfor -%}

            {% for encoder_number in range(1, ENCODERS_NUMBER + 1) -%}
            {
                "id": "encoder_{{encoder_number}}_mode",
                "title": "p_encoder_mode",
                "description": "encoder_{{encoder_number}}_mode_description",
                "address": {{376 + encoder_number - 1}},
                "reg_type": "holding",
                "enum": [0, 1],
                "enum_titles": [
                    "e_not_used",
                    "e_ab_type"
                ],
                "default": 0,
                "group": "gg_encoder_{{encoder_number}}",
                "order": 1
            },
            {
                "id": "encoder_{{encoder_number}}_pulses_per_step",
                "title": "p_pulses_per_step",
                "address": {{384 + encoder_number - 1}},
                "reg_type": "holding",
                "min": 1,
                "max": 65535,
                "default": 4,
                "group": "gg_encoder_{{encoder_number}}",
                "condition": "encoder_{{encoder_number}}_mode==1",
                "order": 2
            },
            {
                "id": "encoder_{{encoder_number}}_controlled_channel",
                "title": "p_controlled_channel",
                "address": {{388 + encoder_number - 1}},
                "reg_type": "holding",
                "enum": [0, {% for ch_number in range(1, OUTPUTS_NUMBER + 1) %}{{ch_number}}{% if not loop.last %}, {% endif %}{% endfor %}],
                "enum_titles": [
                    "e_no_control",
                    {% for ch_number in range(1, OUTPUTS_NUMBER + 1) -%}
                    "e_channel{{ch_number}}"{% if not loop.last %},{% endif %}
                    {% endfor -%}
                ],
                "default": 0,
                "group": "gg_encoder_{{encoder_number}}",
                "condition": "encoder_{{encoder_number}}_mode==1",
                "order": 3
            },
            {
                "id": "encoder_{{encoder_number}}_change_step",
                "title": "p_change_step",
                "address": {{392 + encoder_number - 1}},
                "reg_type": "holding",
                "min": 1,
                "max": {{ENCODER_CHANGE_STEP_MAX}},
                "default": {{ENCODER_CHANGE_STEP_DEFAULT}},
                "group": "gg_encoder_{{encoder_number}}",
                "condition": "encoder_{{encoder_number}}_mode==1&&encoder_{{encoder_number}}_controlled_channel!=0",
                "order": 4
            },
            {
                "id": "encoder_{{encoder_number}}_min_br_behavior",
                "title": "p_min_br_behavior",
                "address": {{396 + encoder_number - 1}},
                "reg_type": "holding",
                "enum": [0, 1],
                "enum_titles": [
                    "e_turn_off_channel",
                    "e_keep_min_level"
                ],
                "default": 0,
                "group": "gg_encoder_{{encoder_number}}",
                "condition": "encoder_{{encoder_number}}_mode==1&&encoder_{{encoder_number}}_controlled_channel!=0",
                "order": 5
            },
            {% endfor -%}
            {% for ch_number in range(0, OUTPUTS_NUMBER) -%}
            {
                "id": "channel{{ ch_number + 1}}_dimming_curve",
                "title": "p_dimming_curve_k{{ ch_number + 1}}",
                "address": {{50 + ch_number}},
                "reg_type": "holding",
                "enum": [0, 1, 2],
                "default": 0,
                "enum_titles": [
                    "e_curve_log",
                    "e_curve_linear",
                    "e_curve_switch"
                ],
                "group": "g_out{{ch_number + 1}}",
                "order": 1
            },
            {
                "id": "channel{{ ch_number + 1}}_dimming_type",
                "title": "p_dimming_type_k{{ ch_number + 1}}",
                "address": {{60 + ch_number}},
                "reg_type": "holding",
                "enum": [0, 1],
                "default": 0,
                "enum_titles": [
                    "e_edge_leading",
                    "e_edge_trailing"
                ],
                "group": "g_out{{ch_number + 1}}",
                "order": 2
            },
            {
                "id": "channel{{ ch_number + 1 }}_min_value",
                "title": "p_min_value_k{{ ch_number + 1 }}",
                "description": "channel_min_value_description",
                "address": {{70 + ch_number}},
                "reg_type": "holding",
                "min": 0,
                "max": 9999,
                "default": 1000,
                "group": "g_out{{ch_number + 1}}",
                "order": 3
            },
            {
                "id": "channel{{ ch_number + 1 }}_max_value",
                "title": "p_max_value_k{{ ch_number + 1 }}",
                "description": "channel_max_value_description",
                "address": {{80 + ch_number}},
                "reg_type": "holding",
                "min": 0,
                "max": 9999,
                "default": 9999,
                "group": "g_out{{ch_number + 1}}",
                "order": 4
            },
            {
                "id": "channel{{ ch_number + 1 }}_increase_rate",
                "title": "p_increase_rate_k{{ ch_number + 1 }}",
                "description": "increase_rate_description",
                "address": {{140 + ch_number}},
                "reg_type": "holding",
                "min": 0,
                "max": 100,
                "default": 10,
                "group": "g_out{{ch_number + 1}}",
                "order": 5
            },
            {
                "id": "channel{{ ch_number + 1 }}_decrease_rate",
                "title": "p_decrease_rate_k{{ ch_number + 1 }}",
                "description": "decrease_rate_description",
                "address": {{150 + ch_number}},
                "reg_type": "holding",
                "min": 0,
                "max": 100,
                "default": 10,
                "group": "g_out{{ch_number + 1}}",
                "order": 6
            },
            {
                "id": "action{{ch_number + 1}}_repeat_time",
                "title": "p_action_repeat_time",
                "description": "action_repeat_time_description",
                "group": "g_out{{ch_number + 1}}",
                "address": {{896 + ch_number}},
                "reg_type": "holding",
                "default": 20,
                "min": 5,
                "max": 500,
                "order": 7
            },
            {% endfor -%}

            {
                "id": "baud_rate",
                "title": "baud_rate",
                "description": "baud_rate_description",
                "address": 110,
                "reg_type": "holding",
                "enum": [96, 192, 384, 576, 1152],
                "default": 96,
                "enum_titles": [
                    "9600",
                    "19200",
                    "38400",
                    "57600",
                    "115200"
                ],
                "group": "gg_general_parameters"
            }
        ],

        "channels": [
            {% for ch_number in range(0, INPUTS_NUMBER) -%}
            {% set cond_enc_num = (ch_number // 2) + 1 -%}
            {% set encoder_disabled_condition = "(encoder_" ~ cond_enc_num ~ "_mode==0)" if cond_enc_num <= ENCODERS_NUMBER else "(1==1)" -%}
            {
                "name": "di_{{ch_number + 1}}",
                "id": "Input {{ch_number + 1}}",
                "reg_type": "discrete",
                "address": {{ch_number}},
                "type": "switch",
                "group": "gg_in{{ch_number + 1}}_channels",
                "condition": "{{encoder_disabled_condition}}",
                "sporadic": true
            },
            {
                "name": "count_{{ch_number + 1}}",
                "id": "Input {{ch_number + 1}} counter",
                "reg_type": "input",
                "address": {{32 + ch_number}},
                "type": "value",
                "group": "gg_in{{ch_number + 1}}_channels",
                "condition": "{{encoder_disabled_condition}}",
                "sporadic": true
            },
            {
                "name": "count_single_{{ch_number + 1}}",
                "id": "Input {{ch_number + 1}} Single Press Counter",
                "reg_type": "press_counter",
                "address": {{464 + ch_number}},
                "type": "value",
                "group": "gg_in{{ch_number + 1}}_channels",
                "condition": "input_{{ch_number + 1}}_mode!=1&&{{encoder_disabled_condition}}",
                "sporadic": true
            },
            {
                "name": "count_long_{{ch_number + 1}}",
                "id": "Input {{ch_number + 1}} Long Press Counter",
                "reg_type": "press_counter",
                "address": {{480 + ch_number}},
                "type": "value",
                "group": "gg_in{{ch_number + 1}}_channels",
                "condition": "input_{{ch_number + 1}}_mode!=1&&{{encoder_disabled_condition}}",
                "sporadic": true
            },
            {
                "name": "count_double_{{ch_number + 1}}",
                "id": "Input {{ch_number + 1}} Double Press Counter",
                "reg_type": "press_counter",
                "address": {{496 + ch_number}},
                "type": "value",
                "enabled": false,
                "group": "gg_in{{ch_number + 1}}_channels",
                "condition": "input_{{ch_number + 1}}_mode!=1&&{{encoder_disabled_condition}}",
                "sporadic": true
            },
            {
                "name": "count_shortlong_{{ch_number + 1}}",
                "id": "Input {{ch_number + 1}} Shortlong Press Counter",
                "reg_type": "press_counter",
                "address": {{512 + ch_number}},
                "type": "value",
                "enabled": false,
                "group": "gg_in{{ch_number + 1}}_channels",
                "condition": "input_{{ch_number + 1}}_mode!=1&&{{encoder_disabled_condition}}",
                "sporadic": true
            },
            {% endfor -%}

            {% for encoder_number in range(1, ENCODERS_NUMBER + 1) -%}
            {
                "name": "encoder_{{encoder_number}}_position",
                "id": "Encoder {{encoder_number}} Position",
                "enabled": false,
                "reg_type": "holding",
                "address": {{368 + (encoder_number - 1) * 2}},
                "type": "value",
                "format": "s32",
                "group": "gg_encoder_channels",
                "condition": "encoder_{{encoder_number}}_mode==1"
            },
            {
                "name": "count_encoder_{{encoder_number}}",
                "id": "Encoder {{encoder_number}} Steps Counter",
                "description": "encoder_steps_counter_desc",
                "reg_type": "input",
                "address": {{364 + encoder_number - 1}},
                "type": "value",
                "group": "gg_encoder_channels",
                "condition": "encoder_{{encoder_number}}_mode==1",
                "sporadic": true
            },
            {% endfor -%}

            {% for ch_number in range(0, OUTPUTS_NUMBER) -%}
            {
                "name": "do_k{{ch_number + 1}}",
                "id": "K{{ch_number + 1}}",
                "reg_type": "coil",
                "address": {{ch_number}},
                "type": "switch",
                "group": "g_out{{ch_number + 1}}",
                "sporadic": true
            },
            {
                "name": "level_k{{ch_number + 1}}",
                "id": "Channel {{ch_number + 1}}",
                "reg_type": "holding",
                "address": {{ch_number}},
                "type": "range",
                "max": 100,
                "group": "g_out{{ch_number + 1}}",
                "sporadic": true
            },
            {
                "name": "level_auto_on_k{{ch_number + 1}}",
                "id": "Channel {{ch_number + 1}} with Auto-On",
                "reg_type": "holding",
                "address": {{4 + ch_number}},
                "type": "range",
                "enabled": false,
                "max": 100,
                "group": "g_out{{ch_number + 1}}",
                "sporadic": true
            },
            {
                "name": "auto_change_k{{ch_number + 1}}",
                "id": "Channel {{ch_number + 1}} Auto-Change",
                "reg_type": "holding",
                "address": {{24 + ch_number}},
                "type": "value",
                "enum": [0, 1, 2, 3],
                "enum_titles": [
                    "e_stop",
                    "e_decrease",
                    "e_increase",
                    "e_increase_decrease"
                ],
                "enabled": false,
                "sporadic": true,
                "group": "g_out{{ch_number + 1}}"
            },
            {
                "name": "time_raw_duty_k{{ch_number + 1}}",
                "id": "Channel {{ch_number + 1}} Raw Duty (us)",
                "reg_type": "holding",
                "address": {{90 + ch_number}},
                "units": "us",
                "readonly": true,
                "enabled": false,
                "group": "g_debug"
            },
            {% endfor -%}
            {
                "name": "sn",
                "id": "Serial",
                "type": "text",
                "reg_type": "input",
                "address": 270,
                "format": "u32",
                "group": "g_hw_info"
            },
            {
                "name": "hw_batch",
                "id": "HW Batch Number",
                "type": "text",
                "reg_type": "input",
                "address": 304,
                "format": "string",
                "string_data_size": 16,
                "enabled": false,
                "group": "g_hw_info"
            },
            {
                "name": "fw",
                "id": "FW Version",
                "reg_type": "input",
                "address": 250,
                "type": "text",
                "format": "string",
                "string_data_size": 16,
                "enabled": false,
                "group": "g_hw_info"
            },
            {
                "name": "v_vin",
                "id": "Supply voltage",
                "reg_type": "input",
                "address": 121,
                "units": "V",
                "scale": 0.001,
                "enabled": false,
                "group": "g_hw_info"
            },
            {
                "name": "uptime",
                "id": "Uptime",
                "reg_type": "input",
                "address": 104,
                "units": "s",
                "format": "u32",
                "enabled": false,
                "group": "g_hw_info"
            },
            {
                "name": "t_mcu",
                "id": "MCU Temperature",
                "reg_type": "input",
                "address": 124,
                "units": "deg C",
                "format": "s16",
                "scale": 0.1,
                "enabled": false,
                "group": "g_hw_info"
            },
            {
                "name": "v_mcu",
                "id": "MCU Voltage",
                "reg_type": "input",
                "address": 123,
                "scale": 0.001,
                "units": "V",
                "enabled": false,
                "group": "g_hw_info"
            },
            {
                "name": "state_ac_line",
                "id": "AC on L-N",
                "reg_type": "input",
                "address": 97,
                "enum": [0, 1, 2],
                "enum_titles": [
                    "e_no_voltage",
                    "e_voltage_stable",
                    "e_voltage_unstable"
                ],
                "group": "gg_general_channels"
            },
            {
                "name": "alarm_overcurrent",
                "id": "Overcurrent",
                "reg_type": "input",
                "address": 100,
                "type": "alarm",
                "group": "gg_general_channels"
            },
            {
                "name": "time_zero_cross_offset",
                "id": "Zero-Cross Offset (us)",
                "reg_type": "input",
                "units": "us",
                "address": 98,
                "enabled": false,
                "group": "g_debug"
            },
            {
                "name": "time_ac_period",
                "id": "Last AC Voltage Period (us)",
                "reg_type": "input",
                "units": "us",
                "address": 99,
                "enabled": false,
                "group": "g_debug"
            }
        ],

        "translations": {
            "en": {
                {# --- canonical enum titles (WB-STD-003 4.3) --- #}
                {% for n in range(1, OUTPUTS_NUMBER + 1) -%}
                "e_output{{n}}": "Output {{n}}",
                "e_channel{{n}}": "Channel {{n}}",
                "e_ctrl_out{{n}}_1btn": "Control output {{n}} in 1-button mode",
                "e_ctrl_out{{n}}_2btn": "Control output {{n}} in 2-button mode",
                {% endfor -%}
                "e_control_disabled": "Control disabled",
                "e_custom_mode": "Custom mode",
                "e_no_action": "No Action",
                "e_all_outputs": "All Outputs",
                "e_turn_off": "Turn Off",
                "e_turn_on": "Turn On",
                "e_toggle": "Toggle",
                "e_decrease_level": "Decrease Level",
                "e_increase_level": "Increase Level",
                "e_increase_decrease_level": "Increase/Decrease Level",
                "e_set_brightness": "Set Brightness",
                "e_set_previous_state": "Set Previous State",
                "e_dont_change": "Don't Change",
                "e_disable_in_safety": "Disable in Safety Mode",
                "e_enable_only_in_safety": "Enable Only in Safety Mode",
                "e_button": "Button",
                "e_switch": "Switch",
                "e_not_used": "Not Used",
                "e_ab_type": "AB Type",
                "e_no_control": "No Control",
                "e_turn_off_channel": "Turn Off the Channel",
                "e_keep_min_level": "Keep Minimum Level",
                "e_curve_log": "LED lamp or incandescent lamp (logarithmic)",
                "e_curve_linear": "Resistive load (linear)",
                "e_curve_switch": "Switching mode (on/off)",
                "e_edge_leading": "Leading edge (motors, fans, incandescent lamps)",
                "e_edge_trailing": "Trailing edge (LED lamps)",
                "e_stop": "Stop",
                "e_decrease": "Decrease",
                "e_increase": "Increase",
                "e_increase_decrease": "Increase/Decrease",
                "e_no_voltage": "No Voltage",
                "e_voltage_stable": "Voltage Stable",
                "e_voltage_unstable": "Voltage Unstable",
                {# --- canonical parameter titles (WB-STD-003 4.3) --- #}
                {% for n in range(1, OUTPUTS_NUMBER + 1) -%}
                "p_inputs{{ (n-1)*2 + 1 }}{{ (n-1)*2 + 2 }}_mode": "Inputs {{ (n-1)*2 + 1 }}-{{ (n-1)*2 + 2 }}",
                "p_dimming_curve_k{{n}}": "Channel {{n}} Dimming Curve",
                "p_dimming_type_k{{n}}": "Channel {{n}} Dimming Type",
                "p_min_value_k{{n}}": "Channel {{n}} Min Value (us)",
                "p_max_value_k{{n}}": "Channel {{n}} Max Value (us)",
                "p_increase_rate_k{{n}}": "Channel {{n}} Increase Rate (ms/%)",
                "p_decrease_rate_k{{n}}": "Channel {{n}} Decrease Rate (ms/%)",
                {% endfor -%}
                "p_output_number": "Output Number",
                "p_action": "Action",
                "p_change_step": "Level Change Step (%)",
                "p_level": "Brightness (%)",
                "p_input_mode": "Input Mode",
                "p_hold_time": "Long Press Time (ms)",
                "p_double_time": "Second Press Waiting Time (ms)",
                "p_debounce_time": "Debounce Time (ms)",
                "p_encoder_mode": "Encoder Connection Type",
                "p_pulses_per_step": "Pulses per Step",
                "p_controlled_channel": "Controlled Channel",
                "p_min_br_behavior": "Behavior When Level is Reduced Below the Minimum Value",
                "p_action_repeat_time": "Action Repeat Time (ms)",
                "safety_timer_s": "Safety Poll Timeout (s)",
                "baud_rate": "Baud Rate",
                {# --- canonical group titles (WB-STD-003 Appendix A) --- #}
                {% for n in range(1, INPUTS_NUMBER + 1) -%}
                "g_in{{n}}": "Input {{n}}",
                {% endfor -%}
                {% for n in range(1, OUTPUTS_NUMBER + 1) -%}
                "g_out{{n}}": "Channel {{n}}",
                {% endfor -%}
                {% for n in range(1, ENCODERS_NUMBER + 1) -%}
                "gg_encoder_{{n}}": "Encoder {{n}}",
                {% endfor -%}
                "gg_single_press_action": "Single Press Action",
                "gg_long_press_action": "Long Press Action",
                "gg_double_press_action": "Double Press Action",
                "gg_shortlong_press_action": "Shortlong Press Action",
                "gg_switch_on_action": "Action when Switch is On",
                "gg_switch_off_action": "Action when Switch is Off",
                "gg_press_params": "Input Parameters",
                "gg_in_channels": "Input Channels",
                "gg_encoder_channels": "Encoder Channels",
                "g_encoders": "Encoders",
                "g_safety": "Safety Mode",
                "gg_safety_behaviour": "Safety Behaviour",
                "gg_safety_input_control": "Inputs Control In Safety Mode",
                "g_power_up_behaviour": "Power Up Behaviour",
                "g_general": "General",
                "gg_legacy_inputs_mode": "Inputs Mode (up to firmware version 2.6.6 incl.)",
                "gg_general_parameters": "General Parameters",
                "gg_general_channels": "General Channels",
                "g_hw_info": "HW Info",
                "g_debug": "Debug",
                {# --- canonical channel names (WB-STD-001 6.1, 6.3) --- #}
                {% for n in range(1, INPUTS_NUMBER + 1) -%}
                "di_{{n}}": "Input {{n}}",
                "count_{{n}}": "Input {{n}} Counter",
                "count_single_{{n}}": "Input {{n}} Single Press Counter",
                "count_long_{{n}}": "Input {{n}} Long Press Counter",
                "count_double_{{n}}": "Input {{n}} Double Press Counter",
                "count_shortlong_{{n}}": "Input {{n}} Shortlong Press Counter",
                {% endfor -%}
                {% for n in range(1, ENCODERS_NUMBER + 1) -%}
                "encoder_{{n}}_position": "Encoder {{n}} Position",
                "count_encoder_{{n}}": "Encoder {{n}} Steps Counter",
                {% endfor -%}
                {% for n in range(1, OUTPUTS_NUMBER + 1) -%}
                "do_k{{n}}": "K{{n}}",
                "level_k{{n}}": "Channel {{n}}",
                "level_auto_on_k{{n}}": "Channel {{n}} with Auto-On",
                "auto_change_k{{n}}": "Channel {{n}} Auto-Change",
                "time_raw_duty_k{{n}}": "Channel {{n}} Raw Duty",
                {% endfor -%}
                "sn": "Serial Number",
                "fw": "Firmware Version",
                "hw_batch": "HW Batch Number",
                "uptime": "Uptime",
                "v_vin": "Supply Voltage",
                "t_mcu": "MCU Temperature",
                "v_mcu": "MCU Voltage",
                "state_ac_line": "AC on L-N",
                "alarm_overcurrent": "Overcurrent",
                "time_zero_cross_offset": "Zero-Cross Offset",
                "time_ac_period": "Last AC Voltage Period",
                "WB-MDM3_template_title": "WB-MDM3 fw2.12 (3-channel MOSFET dimmer)",
                "encoder_steps_counter_desc": "Takes into account the 'Pulses per Step' parameter",
                "inputs_mode_description": "There is no need to select the input mode. Inputs and outputs can be bound in any combinations",
                "channel_min_value_description": "Raw dimmer value corresponding to minimum brightness (1%)",
                "channel_max_value_description": "Raw dimmer value corresponding to maximum brightness (100%)",

                {% for encoder_number in range(1, ENCODERS_NUMBER + 1) -%}
                {% set input1_num = ((encoder_number - 1) * 2) + 1 -%}
                {% set input2_num = ((encoder_number - 1) * 2) + 2 -%}
                "encoder_{{encoder_number}}_mode_description": "When disabled inputs {{input1_num}} and {{input2_num}} work as usual with own mode configuration. <br>AB mode use {{input1_num}} and {{input2_num}} inputs for represent position in pulses count. <br>For the encoder to work correctly, it is necessary to reduce the debounce time of the inputs {{input1_num}} and {{input2_num}} to 2-5 ms.",
                {% endfor -%}

                "increase_rate_description": "During smooth transitions, channel level will be increased by 1% every specified period of time",
                "decrease_rate_description": "During smooth transitions, channel level will be decreased by 1% every specified period of time",
                "action_repeat_time_description": "During long-lasting actions channel level will be changed by 1% every specified period of time",

                "input_hold_time_description": "Presses that last longer than the specified time are counted as long presses",
                "input_double_time_description": "If there is no second press during the specified time then press is single. 0 - disables all presses except short and long. Adds a delay to the response to a short press",
                "input_debounce_time_description": "Must be 5-10 times less than second press waiting time. Adds a delay to the response to presses. <br>When connecting an encoder, it is recommended to set the value to 2-5 ms.",

                "input_mode_description": "Button is the default mode. Switch mode is supported",
                "g_safety_description": "Safety mode is activated when there is no modbus polling for the specified time",

                "level_after_actions_description": "It is possible to set the brightness level to 0% (channel off)",

                "poll_timeout_description": "Time in seconds without modbus polling before activation safety mode. Actions in safety mode are configured using appropriate parameters",
                "inputs_control_in_safety_mode_description": "Sets change of control from the inputs when module switches to safety mode",
                "g_power_up_behaviour_description": "Actions when Power is On",

                "baud_rate_description": "Make sure that communication with device is established before changing this parameter. Select required baud rate, save configuration and then change port baud rate to the same value."
            },
            "ru": {
                {# --- canonical enum titles (WB-STD-003 4.3) --- #}
                {% for n in range(1, OUTPUTS_NUMBER + 1) -%}
                "e_output{{n}}": "Выход {{n}}",
                "e_channel{{n}}": "Канал {{n}}",
                "e_ctrl_out{{n}}_1btn": "Управление выходом {{n}} в режиме одной кнопки",
                "e_ctrl_out{{n}}_2btn": "Управление выходом {{n}} в режиме двух кнопок",
                {% endfor -%}
                "e_control_disabled": "Управление отключено",
                "e_custom_mode": "Пользовательский режим",
                "e_no_action": "Ничего не делать",
                "e_all_outputs": "Все выходы",
                "e_turn_off": "Выключить",
                "e_turn_on": "Включить",
                "e_toggle": "Переключить",
                "e_decrease_level": "Уменьшить уровень",
                "e_increase_level": "Увеличить уровень",
                "e_increase_decrease_level": "Увеличить/уменьшить уровень",
                "e_set_brightness": "Установить яркость",
                "e_set_previous_state": "Установить предыдущее состояние",
                "e_dont_change": "Не менять",
                "e_disable_in_safety": "Запретить в безопасном режиме",
                "e_enable_only_in_safety": "Разрешить только в безопасном режиме",
                "e_button": "Кнопка",
                "e_switch": "Выключатель",
                "e_not_used": "Не используется",
                "e_ab_type": "Тип AB",
                "e_no_control": "Без управления",
                "e_turn_off_channel": "Выключить канал",
                "e_keep_min_level": "Сохранить минимальный уровень",
                "e_curve_log": "Светодиодная или лампа накаливания (логарифмическая)",
                "e_curve_linear": "Резистивная нагрузка (линейная)",
                "e_curve_switch": "Режим переключения (вкл/выкл)",
                "e_edge_leading": "По переднему фронту (двигатели, вентиляторы, лампы накаливания)",
                "e_edge_trailing": "По заднему фронту (светодиодные лампы)",
                "e_stop": "Остановить",
                "e_decrease": "Уменьшить",
                "e_increase": "Увеличить",
                "e_increase_decrease": "Увеличить/уменьшить",
                "e_no_voltage": "Нет напряжения",
                "e_voltage_stable": "Напряжение стабильно",
                "e_voltage_unstable": "Напряжение нестабильно",
                {# --- canonical parameter titles (WB-STD-003 4.3) --- #}
                {% for n in range(1, OUTPUTS_NUMBER + 1) -%}
                "p_inputs{{ (n-1)*2 + 1 }}{{ (n-1)*2 + 2 }}_mode": "Входы {{ (n-1)*2 + 1 }}-{{ (n-1)*2 + 2 }}",
                "p_dimming_curve_k{{n}}": "Канал {{n}}: кривая диммирования",
                "p_dimming_type_k{{n}}": "Канал {{n}}: тип диммирования",
                "p_min_value_k{{n}}": "Канал {{n}}: минимальное значение (мкс)",
                "p_max_value_k{{n}}": "Канал {{n}}: максимальное значение (мкс)",
                "p_increase_rate_k{{n}}": "Канал {{n}}: скорость увеличения (мс/%)",
                "p_decrease_rate_k{{n}}": "Канал {{n}}: скорость уменьшения (мс/%)",
                {% endfor -%}
                "p_output_number": "Номер выхода",
                "p_action": "Действие",
                "p_change_step": "Шаг изменения уровня (%)",
                "p_level": "Яркость (%)",
                "p_input_mode": "Режим работы входа",
                "p_hold_time": "Время длинного нажатия (мс)",
                "p_double_time": "Время ожидания второго нажатия (мс)",
                "p_debounce_time": "Время подавления дребезга (мс)",
                "p_encoder_mode": "Тип подключения энкодера",
                "p_pulses_per_step": "Импульсов на шаг",
                "p_controlled_channel": "Управляемый канал",
                "p_min_br_behavior": "Поведение при снижении уровня ниже минимального",
                "p_action_repeat_time": "Время повтора действия (мс)",
                "safety_timer_s": "Таймаут потери связи (с)",
                "baud_rate": "Скорость обмена",
                {# --- canonical group titles (WB-STD-003 Appendix A) --- #}
                {% for n in range(1, INPUTS_NUMBER + 1) -%}
                "g_in{{n}}": "Вход {{n}}",
                {% endfor -%}
                {% for n in range(1, OUTPUTS_NUMBER + 1) -%}
                "g_out{{n}}": "Канал {{n}}",
                {% endfor -%}
                {% for n in range(1, ENCODERS_NUMBER + 1) -%}
                "gg_encoder_{{n}}": "Энкодер {{n}}",
                {% endfor -%}
                "gg_single_press_action": "Действие по одиночному нажатию",
                "gg_long_press_action": "Действие по длинному нажатию",
                "gg_double_press_action": "Действие по двойному нажатию",
                "gg_shortlong_press_action": "Действие по короткому, а затем длинному нажатию",
                "gg_switch_on_action": "Действие при включении выключателя",
                "gg_switch_off_action": "Действие при выключении выключателя",
                "gg_press_params": "Параметры входа",
                "gg_in_channels": "Каналы входа",
                "gg_encoder_channels": "Каналы энкодера",
                "g_encoders": "Энкодеры",
                "g_safety": "Безопасный режим",
                "gg_safety_behaviour": "Поведение в безопасном режиме",
                "gg_safety_input_control": "Управление с входов в безопасном режиме",
                "g_power_up_behaviour": "Поведение при включении питания",
                "g_general": "Общее",
                "gg_legacy_inputs_mode": "Режим работы входов (до версии прошивки 2.6.6 включительно)",
                "gg_general_parameters": "Общие параметры",
                "gg_general_channels": "Общие каналы",
                "g_hw_info": "Данные модуля",
                "g_debug": "Диагностика",
                {# --- canonical channel names (WB-STD-001 6.1, 6.3) --- #}
                {% for n in range(1, INPUTS_NUMBER + 1) -%}
                "di_{{n}}": "Вход {{n}}",
                "count_{{n}}": "Вход {{n}}: счетчик замыканий",
                "count_single_{{n}}": "Вход {{n}}: счетчик одиночных нажатий",
                "count_long_{{n}}": "Вход {{n}}: счетчик длинных нажатий",
                "count_double_{{n}}": "Вход {{n}}: счетчик двойных нажатий",
                "count_shortlong_{{n}}": "Вход {{n}}: счетчик коротких, а затем длинных нажатий",
                {% endfor -%}
                {% for n in range(1, ENCODERS_NUMBER + 1) -%}
                "encoder_{{n}}_position": "Энкодер {{n}}: положение",
                "count_encoder_{{n}}": "Энкодер {{n}}: счетчик шагов",
                {% endfor -%}
                {% for n in range(1, OUTPUTS_NUMBER + 1) -%}
                "do_k{{n}}": "K{{n}}",
                "level_k{{n}}": "Канал {{n}}",
                "level_auto_on_k{{n}}": "Канал {{n}} с автовключением",
                "auto_change_k{{n}}": "Канал {{n}}: автоизменение",
                "time_raw_duty_k{{n}}": "Канал {{n}}: длительность импульса",
                {% endfor -%}
                "sn": "Серийный номер",
                "fw": "Версия прошивки",
                "hw_batch": "Номер партии",
                "uptime": "Время работы с момента включения",
                "v_vin": "Напряжение питания",
                "t_mcu": "Температура МК",
                "v_mcu": "Напряжение питания МК",
                "state_ac_line": "Напряжение на клеммах L-N",
                "alarm_overcurrent": "Перегрузка по току",
                "time_zero_cross_offset": "Смещение перехода через ноль",
                "time_ac_period": "Последний период напряжения сети",
                "WB-MDM3_template_title": "WB-MDM3 fw2.12 (3-канальный диммер)",
                "e_not_used": "Не используется",
                "e_ab_type": "Тип AB",
                "encoder_steps_counter_desc": "С учетом параметра «Количество импульсов на один шаг»",
                "e_no_control": "Управление отключено",
                "e_turn_off_channel": "Выключить канал",
                "e_keep_min_level": "Оставить минимальный уровень",
                "e_control_disabled": "Управление отключено",
                "e_custom_mode": "Пользовательский режим",
                "inputs_mode_description": "Выбирать режим работы входов нет необходимости. Можно связывать входы и выходы в произвольных комбинациях",

                "e_button": "Кнопка без фиксации",
                "e_switch": "Выключатель с фиксацией",

                "e_set_brightness": "Установить яркость",

                "e_curve_log": "лампа светодиодная или накаливания (логарифмическая кривая яркости)",
                "e_curve_linear": "резистивная нагрузка (линейная кривая яркости)",
                "e_curve_switch": "ключевой режим",
                "e_edge_leading": "по переднему фронту (моторы, вентиляторы, лампы накаливания)",
                "e_edge_trailing": "по заднему фронту (светодиодные лампы)",
                "channel_min_value_description": "Сырое задание для канала, соответствующее минимальной яркости (1%)",
                "channel_max_value_description": "Сырое задание для канала, соответствующее максимальной яркости (100%)",
                "baud_rate_description": "Перед изменением параметра убедитесь, что связь с устройством установлена. Выберите нужную скорость обмена, сохраните конфигурацию, а затем укажите в настройках порта эту же скорость.",

                {% for ch_number in range(1, OUTPUTS_NUMBER + 1) -%}
                {% endfor -%}

                {% for ch_number in range(1, INPUTS_NUMBER + 1) -%}
                {% endfor -%}

                {% for encoder_number in range(1, ENCODERS_NUMBER + 1) -%}
                {% set input1_num = ((encoder_number - 1) * 2) + 1 -%}
                {% set input2_num = ((encoder_number - 1) * 2) + 2 -%}
                "encoder_{{encoder_number}}_mode_description": "Когда отключен, входы {{input1_num}} и {{input2_num}} работают как обычные входы со своими настройками режима. <br>В режиме AB входы {{input1_num}} и {{input2_num}} подключены к выходам A и B энкодера. <br>Для корректной работы энкодера необходимо уменьшить время подавления дребезга входов {{input1_num}} и {{input2_num}} до 2-5 мс.",
                {% endfor -%}


                "e_no_action": "Ничего не делать",
                "e_all_outputs": "Все выходы",
                "e_turn_off": "Выключить",
                "e_turn_on": "Включить",
                "e_toggle": "Переключить",
                "e_stop": "Стоп",
                "e_increase": "Увеличение",
                "e_decrease": "Уменьшение",
                "e_increase_decrease": "Увеличение/уменьшение",
                "e_decrease_level": "Уменьшить уровень",
                "e_increase_level": "Увеличить уровень",
                "e_increase_decrease_level": "Увеличить/уменьшить уровень",


                "input_mode_description": "Режим работы входа по умолчанию - кнопка без фиксации. Работа в режиме выключателя с фиксацией поддерживается",

                "input_hold_time_description": "Если нажатие длится больше указанного времени - считаем его длинным",
                "input_double_time_description": "Если за указанное время второго нажатия не было - считаем нажатие одиночным. 0 - отключит все нажатия кроме короткого и длинного. Вносит задержку в реакцию на короткое нажатие",
                "input_debounce_time_description": "Должно быть в 5-10 раз меньше, чем время ожидания второго нажатия. Вносит задержку в реакцию на нажатия <br>При подключении энкодера рекомендуется установить значение 2-5 мс.",

                "decrease_rate_description": "Во время плавных переходов, выходной уровень будет уменьшаться на 1% через указанный период времени",
                "increase_rate_description": "Во время плавных переходов, выходной уровень будет увеличиваться на 1% через указанный период времени",
                "action_repeat_time_description": "Во время долгих действий, выходной уровень будет изменяться на 1% через указанный период времени",

                "g_safety_description": "Настройка поведения устройства в случае потери связи с контроллером",
                "e_dont_change": "Не блокировать",
                "e_disable_in_safety": "Блокировать в безопасном режиме",
                "e_enable_only_in_safety": "Разрешить только в безопасном режиме",
                "poll_timeout_description": "Время отсутствия опроса в секундах, после которого будет активирован безопасный режим. Действия в безопасном режиме настраиваются отдельно",
                "inputs_control_in_safety_mode_description": "Настройка изменения управления с входов при переходе модуля в безопасный режим",

                "g_power_up_behaviour_description": "Настройка поведения выходов при включении питания устройства",
                "e_set_previous_state": "Установить предыдущее состояние",

                "level_after_actions_description": "Можно установить уровень яркости на 0% (канал выключен)",

                "e_no_voltage": "Нет напряжения",
                "e_voltage_stable": "Напряжение стабильно",
                "e_voltage_unstable": "Напряжение нестабильно"
            }
        }
    }
}
