{% with title_en = "PLC-W-EMA-0200 (2-channel analog input module)",
        title_ru = "PLC-W-EMA-0200 (2-канальный модуль измерения токового сигнала)",
        device_type = "tpl1_oni_plc_w_ema_0200",
        group = "g-oni",
        device_name = "PLC-W-EMA-0200",
        device_id = "oni-plc-w-ema-0200",
        has_signature = true %}
{% include "config-wb-mai2-cc.json.jinja" %}
{% endwith %}