{% set INPUTS_NUMBER = 3 -%}
{% set OUTPUTS_NUMBER = 4 -%}

{
    "title": "WB-MAO4_template_title",
    "device_type": "WB-MAO4",
    "group": "g-wb",
    "deprecated": true,
    "device": {
        "name": "WB-MAO4",
        "id": "wb-mao4",
        "max_read_registers": 0,
        "response_timeout_ms": 1,
        "frame_timeout_ms": 8,
        "enable_wb_continuous_read": true,

        "groups": [
            {% for enumerator in range(0, INPUTS_NUMBER) -%}
            {
                "title": "Input {{enumerator + 1}}",
                "id": "input {{enumerator + 1}}",
                "order": {{enumerator + 1}}
            },
            {
                "title": "Input {{enumerator + 1}} Parameters",
                "id": "input {{enumerator + 1}} parameters",
                "group": "input {{enumerator + 1}}",
                "order": 1,
                "ui_options": {
                    "wb": {
                        "disable_title": true
                    }
                }
            },
            {
                "title": "Input {{enumerator + 1}} Counters",
                "id": "input {{enumerator + 1}} counters",
                "group": "input {{enumerator + 1}}",
                "order": 2,
                "ui_options": {
                    "wb": {
                        "disable_title": true
                    }
                }
            },
            {% endfor -%}
            {
                "title": "Outputs",
                "id": "outputs",
                "order": {{INPUTS_NUMBER + 1}}
            },
            {
                "title": "General",
                "id": "general",
                "order": {{INPUTS_NUMBER + 2}}
            },
            {
                "title": "HW Info",
                "id": "hw_info",
                "order": {{INPUTS_NUMBER + 3}}
            },
            {
                "title": "Debug",
                "id": "debug",
                "order": {{INPUTS_NUMBER + 4}}
            }
        ],

        "parameters": {
            "outputs_mode": {
                "title": "Outputs Mode",
                "address": 10,
                "reg_type": "holding",
                "enum": [0, 1],
                "enum_titles": [
                    "PWM 10 V",
                    "Analog 0-10 V"
                ],
                "default": 1,
                "group": "outputs",
                "order": 1
            },
            "pwm_frequency_factor": {
                "title": "PWM Frequency Factor",
                "description": "pwm_frequency_factor_description",
                "address": 9,
                "reg_type": "holding",
                "default": 24,
                "min": 1,
                "max": 240,
                "group": "outputs",
                "order": 2
            },
            "baud_rate": {
                "title": "Baud rate",
                "description": "baud_rate_description",
                "address": 110,
                "reg_type": "holding",
                "enum": [96, 192, 384, 576, 1152],
                "default": 96,
                "enum_titles": [
                    "9600",
                    "19200",
                    "38400",
                    "57600",
                    "115200"
                ],
                "group": "general",
                "order": 1
            },
            {% for enumerator in range(0, INPUTS_NUMBER) -%}
            "input {{enumerator + 1}} hold time": {
                "title": "input_hold_time_title",
                "description": "input_hold_time_description",
                "address": {{1100 + enumerator}},
                "reg_type": "holding",
                "default": 1000,
                "min": 500,
                "max": 5000,
                "group": "input {{enumerator + 1}} parameters",
                "order": 1
            },
            "input {{enumerator + 1}} double time": {
                "title": "input_double_time_title",
                "description": "input_double_time_description",
                "address": {{1140 + enumerator}},
                "reg_type": "holding",
                "default": 300,
                "min": 0,
                "max": 2000,
                "group": "input {{enumerator + 1}} parameters",
                "order": 2
            },
            "input {{enumerator + 1}} debounce time": {
                "title": "input_debounce_time_title",
                "description": "input_debounce_time_description",
                "address": {{1160 + enumerator}},
                "reg_type": "holding",
                "default": 50,
                "min": 5,
                "max": 200,
                "group": "input {{enumerator + 1}} parameters",
                "order": 3
            }{% if not loop.last %},{% endif %}
            {% endfor -%}
        },

        "channels": [
            {% for enumerator in range(0, INPUTS_NUMBER) -%}
            {
                "name": "Input {{enumerator + 1}}",
                "reg_type": "discrete",
                "address": {{enumerator}},
                "type": "switch",
                "group": "input {{enumerator + 1}} counters"
            },
            {
                "name": "Input {{enumerator + 1}} Counter",
                "reg_type": "input",
                "address": {{32 + enumerator}},
                "type": "value",
                "group": "input {{enumerator + 1}} counters"
            },
            {
                "name": "Input {{enumerator + 1}} Short Press Counter",
                "enabled": false,
                "reg_type": "input",
                "address": {{464 + enumerator}},
                "type": "value",
                "group": "input {{enumerator + 1}} counters"
            },
            {
                "name": "Input {{enumerator + 1}} Long Press Counter",
                "enabled": false,
                "reg_type": "input",
                "address": {{480 + enumerator}},
                "type": "value",
                "group": "input {{enumerator + 1}} counters"
            },
            {
                "name": "Input {{enumerator + 1}} Double Press Counter",
                "enabled": false,
                "reg_type": "input",
                "address": {{496 + enumerator}},
                "type": "value",
                "group": "input {{enumerator + 1}} counters"
            },
            {
                "name": "Input {{enumerator + 1}} Short Long Press Counter",
                "enabled": false,
                "reg_type": "input",
                "address": {{512 + enumerator}},
                "type": "value",
                "group": "input {{enumerator + 1}} counters"
            },
            {% endfor -%}
            {% for enumerator in range(0, OUTPUTS_NUMBER) -%}
            {
                "name": "Channel {{enumerator + 1}}",
                "reg_type": "holding",
                "address": {{enumerator}},
                "type": "range",
                "max": 10000,
                "group": "outputs"
            },
            {% endfor -%}
            {
                "name": "Serial",
                "type": "text",
                "reg_type": "input",
                "address": 270,
                "format": "u32",
                "group": "hw_info"
            },
            {
                "name": "FW Version",
                "reg_type": "input",
                "address": 250,
                "type": "text",
                "format": "string",
                "string_data_size": 16,
                "enabled": false,
                "group": "hw_info"
            },
            {
                "name": "Supply voltage",
                "reg_type": "input",
                "address": 121,
                "type": "voltage",
                "scale": 0.001,
                "enabled": false,
                "group": "hw_info"
            },
            {
                "name": "Uptime",
                "reg_type": "input",
                "address": 104,
                "type": "text",
                "format": "u32",
                "enabled": false,
                "group": "hw_info"
            },
            {
                "name": "MCU Temperature",
                "reg_type": "input",
                "address": 124,
                "type": "temperature",
                "format": "s16",
                "scale": 0.1,
                "enabled": false,
                "group": "hw_info"
            },
            {
                "name": "MCU Voltage",
                "reg_type": "input",
                "address": 123,
                "scale": 0.001,
                "type": "voltage",
                "enabled": false,
                "group": "hw_info"
            },
            {% for enumerator in range(0, OUTPUTS_NUMBER) -%}
            {
                "name": "Channel {{enumerator + 1}} Duty Cycle Raw",
                "reg_type": "holding",
                "address": {{90 + enumerator}},
                "type": "value",
                "readonly": true,
                "enabled": false,
                "group": "debug"
            }{% if not loop.last %},{% endif %}
            {% endfor -%}
        ],
        "translations": {
            "en": {
                "WB-MAO4_template_title": "WB-MAO4 (4-channel analog output module)",
                "pwm_frequency_factor_description": "PWM frequency is calculated by formula: 24 kHz / Factor ",
                "baud_rate_description": "Make sure that communication with device is established before changing this parameter. Select required baud rate, save configuration and then change port baud rate to the same value.",
                "Uptime": "Uptime (s)",

                "input_hold_time_title": "Long Press Time (ms)",
                "input_double_time_title": "Second Press Waiting Time (ms)",
                "input_debounce_time_title": "Debounce Time (ms)",

                "input_hold_time_description": "Presses that last longer than the specified time are counted as long presses",
                "input_double_time_description": "If during the specified time there was no second press, then the press counts as single. Setting 0 will disable all counters except short and long",
                "input_debounce_time_description": "Should be 5-10 times less, than double press time. If double presses are disabled, any value could be set"
            },
            "ru": {
                "WB-MAO4_template_title": "WB-MAO4 (4-канальный модуль аналогового вывода)",
                "Outputs": "Выходы",
                "General": "Общее",
                "HW Info": "Данные модуля",
                "Debug": "Диагностика",
                "Outputs Mode": "Режим работы выходов",
                "PWM 10 V": "ШИМ с амплитудой 10 В",
                "Analog 0-10 V": "аналоговый режим 0-10 В",
                "PWM Frequency Factor": "Делитель частоты ШИМ",
                "pwm_frequency_factor_description": "Частота ШИМ рассчитывается по формуле: 24 кГц / Делитель",
                "Baud rate": "Скорость обмена",
                "baud_rate_description": "Перед изменением параметра убедитесь, что связь с устройством установлена. Выберите нужную скорость обмена, сохраните конфигурацию, а затем укажите в настройках порта эту же скорость.",

                {% for enumerator in range(1, INPUTS_NUMBER + 1) -%}
                "Input {{enumerator}}": "Вход {{enumerator}}",
                "Input {{enumerator}} Counter": "Счетчик {{enumerator}}",
                "Input {{enumerator}} Short Press Counter": "Счетчик короткого нажатия {{enumerator}}",
                "Input {{enumerator}} Long Press Counter": "Счетчик долгого нажатия {{enumerator}}",
                "Input {{enumerator}} Double Press Counter": "Счетчик двойного нажатия {{enumerator}}",
                "Input {{enumerator}} Short Long Press Counter": "Счетчик короткого, а затем долгого нажатия {{enumerator}}",
                {% endfor -%}

                {% for enumerator in range(1, OUTPUTS_NUMBER + 1) -%}
                "Channel {{enumerator}}": "Канал {{enumerator}}",
                "Channel {{enumerator}} Duty Cycle Raw": "Сырое задание для канала {{enumerator}}",
                {% endfor -%}

                "Serial": "Серийный номер",
                "FW Version": "Версия прошивки",
                "Supply voltage": "Напряжение питания",
                "Uptime": "Время работы с момента включения (с)",
                "MCU Temperature": "Температура МК",
                "MCU Voltage": "Напряжение питания МК",

                "input_hold_time_title": "Время длинного нажатия (мс)",
                "input_double_time_title": "Время ожидания второго нажатия (мс)",
                "input_debounce_time_title": "Время подавления дребезга (мс)",

                "input_hold_time_description": "Если нажатие длится больше указанного времени - считаем его длинным",
                "input_double_time_description": "Если за указанное время второго нажатия не было - считаем нажатие одиночным. 0 - отключит все нажатия кроме короткого и длинного",
                "input_debounce_time_description": "Должно быть в 5-10 раз меньше, чем время ожидания второго нажатия. Если двойные нажатия отключены - любое значение"
            }
        }
    }
}
