{%- from "_macros/wb_service.j2" import
        channel_sn, channel_fw, channel_uptime, channel_hw_batch_number,
        channel_supply_voltage, channel_min_supply_voltage_since_startup,
        channel_mcu_temperature, channel_mcu_voltage,
        channel_bus_power_supply,
        service_translations_ru
-%}
{%- from "_macros/wb_inputs.j2" import
        channel_input_state, channel_input_counter, channel_input_freq,
        press_counters_for_input, input_translations_ru
-%}
{%- from "_macros/wb_outputs.j2" import
        channel_k, channel_k_readonly, channel_k_real_state,
        channel_k_off, channel_k_on, channel_k_toggle,
        channel_k_startup_delay_countdown,
        channel_k_restart_delay_countdown,
        channel_k_timer_countdown,
        output_translations_ru
-%}
{%- from "_macros/wb_groups.j2" import
        group_general, group_hw_info, group_safety, group_outputs, group_inputs,
        groups_for_input, group_translations_ru
-%}
{%- from "_macros/wb_mr_input_params.j2" import
        params_input_basic, params_input_mapping_matrix,
        params_input_button_actions, params_input_curtain_button_actions
-%}
{%- from "_macros/wb_mr_output_params.j2" import
        params_output_safety, params_output_delays, params_output_timer
-%}
{%- from "_macros/wb_mr_curtain_params.j2" import params_curtain -%}
{% set OUTPUTS_NUMBER = 6 -%}
{% set CURTAINS_NUMBER = OUTPUTS_NUMBER // 2 -%}
{% set MMATRIX_OUTPUTS_NUMBER = 8 -%}
{% set CURTAINS_MMATRIX_OUTPUTS_NUMBER = MMATRIX_OUTPUTS_NUMBER // 2 -%}
{% set FIRST_INPUT = 0 -%}
{
    "title": "WB-MR6Cv3_template_title",
    "device_type": "WB-MR6C v.3",
    "group": "g-wb",
    "hw": [
        {
            "signature": "WB-MR6C v.3"
        }
    ],
    "device": {
        "name": "WB-MR6C v.3",
        "id": "wb-mr6cv3",
        "max_read_registers": 0,
        "response_timeout_ms": 1,
        "frame_timeout_ms": 8,
        "enable_wb_continuous_read": true,

        "groups": [
            {{ group_inputs() }},
            {% for in_num in range(FIRST_INPUT, OUTPUTS_NUMBER + 1) -%}
            {{ groups_for_input(in_num, OUTPUTS_NUMBER, CURTAINS_NUMBER) }},
            {% endfor -%}

            {{ group_outputs() }},
            {
                "title": "Output Safe State",
                "id": "g_outputs_safe_position",
                "description": "outputs_safe_state_description",
                "group": "g_outputs"
            },
            {
                "title": "Outputs group",
                "id": "gg_outputs_channels",
                "group": "g_outputs",
                "ui_options": {
                    "wb": {
                        "disable_title": true
                    }
                }
            },
            {{ group_safety() }},
            {
                "title": "Safety Behaviour",
                "id": "g_safety_behaviour",
                "description": "safety_behaviour_description",
                "group": "g_safety"
            },
            {
                "title": "Inputs Control In Safety Mode",
                "id": "gg_safety_input_control",
                "description": "inputs_control_in_safety_mode_description",
                "group": "g_safety"
            },
            {
                "title": "Protective Functions",
                "id": "g_delays"
            },
            {
                "title": "Startup Delay (s)",
                "id": "gg_startup_delay_params",
                "description": "startup_delay_description",
                "group": "g_delays"
            },
            {
                "title": "Restart Delay (s)",
                "id": "gg_restart_delay_params",
                "description": "restart_delay_description",
                "fw": "1.24.0",
                "group": "g_delays"
            },
            {
                "title": "Timers",
                "id": "g_timer_relay"
            },
            {% for out_num in range(1, OUTPUTS_NUMBER + 1) -%}
            {
                "title": "Output {{out_num}}",
                "id": "gg_timer_{{out_num}}",
                "group": "g_timer_relay"
            },
            {% endfor -%}
            {
                "title": "Timer Channels",
                "id": "gg_timer_channels",
                "group": "g_timer_relay",
                "ui_options": {
                    "wb": {
                        "disable_title": true
                    }
                }
            },
            {
                "title": "Curtains Control",
                "description": "curtains_control_description",
                "fw": "1.21.0",
                "id": "g_curtains_control"
            },
            {% for curtain_num in range(1, CURTAINS_NUMBER + 1) -%}
            {
                "title": "Curtain {{curtain_num}}",
                "id": "gg_curtain_{{curtain_num}}",
                "group": "g_curtains_control"
            },
            {% endfor -%}
            {
                "title": "Curtains Channels",
                "id": "gg_curtains_channels",
                "group": "g_curtains_control",
                "ui_options": {
                    "wb": {
                        "disable_title": true
                    }
                }
            },
            {{ group_general() }},
            {{ group_hw_info() }}
        ],

        "setup": [
            {
                "title": "disable legacy input mode control",
                "address": 5,
                "reg_type": "holding",
                "value": 0
            }
        ],

        "parameters": {
            {% for in_num in range(FIRST_INPUT, OUTPUTS_NUMBER + 1) -%}
            {{ params_input_basic(in_num) }},
            {{ params_input_mapping_matrix(in_num, OUTPUTS_NUMBER, MMATRIX_OUTPUTS_NUMBER) }},
            {{ params_input_button_actions(in_num, OUTPUTS_NUMBER, MMATRIX_OUTPUTS_NUMBER) }},
            {{ params_input_curtain_button_actions(in_num, CURTAINS_NUMBER, CURTAINS_MMATRIX_OUTPUTS_NUMBER, fw="1.21.0") }},
            {% endfor -%}
            {% for out_num in range(1, OUTPUTS_NUMBER + 1) -%}
            {{ params_output_safety(out_num, "safe_position", "g_outputs_safe_position", "g_safety_behaviour") }},
            {{ params_output_delays(out_num) }},
            {{ params_output_timer(out_num) }},
            {% endfor -%}
            {% for curtain_num in range(1, CURTAINS_NUMBER + 1) -%}
            {{ params_curtain(curtain_num, fw="1.21.0") }},
            {% endfor -%}
            "baud_rate": {
                "title": "Baud Rate",
                "description": "baud_rate_description",
                "address": 110,
                "reg_type": "holding",
                "enum": [96, 192, 384, 576, 1152],
                "default": 96,
                "enum_titles": [
                    "9600",
                    "19200",
                    "38400",
                    "57600",
                    "115200"
                ],
                "order": 1,
                "group": "g_general"
            },
            "outputs_power_on_state": {
                "title": "Outputs State After Power On",
                "description": "outputs_state_after_power_on_description",
                "address": 6,
                "reg_type": "holding",
                "enum": [0, 1, 2],
                "default": 0,
                "enum_titles": ["Safe state", "Restore last state", "According to inputs"],
                "order": 1,
                "group": "g_outputs"
            },
            "safety_mode_source": {
                "title": "Safety Mode Trigger",
                "address": 19,
                "reg_type": "holding",
                "enum": [0, 1, 2],
                "default": 0,
                "enum_titles": [
                    "Poll timeout or loss bus power supply",
                    "Loss bus power supply",
                    "Poll timeout"
                ],
                "order": 1,
                "group": "g_safety"
            },
            "poll_timeout_s": {
                "title": "Safety Poll Timeout (s)",
                "description": "poll_timeout_description",
                "address": 8,
                "reg_type": "holding",
                "min": 1,
                "max": 65534,
                "default": 10,
                "order": 2,
                "group": "g_safety",
                "condition": "isDefined(safety_mode_source)&&safety_mode_source!=1"
            }
        },

        "channels": [
            {% for in_num in range(FIRST_INPUT, OUTPUTS_NUMBER + 1) -%}
            {% set NO_SPORADIC_MODE = 3 -%}
            {% for s_en, s_cond in [
                ("false", "isDefined(in"~in_num~"_mode)==0||in"~in_num~"_mode=="~NO_SPORADIC_MODE),
                ("true", "isDefined(in"~in_num~"_mode)&&in"~in_num~"_mode!="~NO_SPORADIC_MODE),
            ] -%}
            {%- set state_addr = 7 if in_num == 0 else in_num - 1 -%}
            {%- set counter_addr = 39 if in_num == 0 else 32 + in_num - 1 -%}
            {{ channel_input_state(in_num, state_addr, sporadic=s_en, condition=s_cond) }},
            {{ channel_input_counter(in_num, counter_addr, sporadic=s_en, condition=s_cond) }},
            {% endfor -%}
            {%- set freq_addr = 54 if in_num == 0 else 40 + (in_num - 1) * 2 -%}
            {{ channel_input_freq(in_num, freq_addr) }},
            {%- set single_addr = 471 if in_num == 0 else 464 + in_num - 1 -%}
            {%- set long_addr = 487 if in_num == 0 else 480 + in_num - 1 -%}
            {%- set double_addr = 503 if in_num == 0 else 496 + in_num - 1 -%}
            {%- set shortlong_addr = 519 if in_num == 0 else 512 + in_num - 1 -%}
            {{ press_counters_for_input(in_num, single_addr, long_addr, double_addr, shortlong_addr, condition="in"~in_num~"_mode==6") }},
            {% endfor -%}
            {% for out_num in range(1, OUTPUTS_NUMBER + 1) -%}
            {% set curtain_num = (out_num + 1) // 2 -%}
            {% set not_curtain = "isDefined(curtain"~curtain_num~"_mode)==0||curtain"~curtain_num~"_mode==0" -%}
            {{ channel_k(out_num, out_num - 1, condition=not_curtain) }},
            {{ channel_k_readonly(out_num, out_num - 1, condition="curtain"~curtain_num~"_mode==1") }},
            {{ channel_k_real_state(out_num, 96 + out_num - 1, condition=not_curtain) }},
            {{ channel_k_off(out_num, 100 + out_num - 1) }},
            {{ channel_k_on(out_num, 108 + out_num - 1) }},
            {{ channel_k_toggle(out_num, 116 + out_num - 1) }},
            {{ channel_k_startup_delay_countdown(out_num, 1744 + out_num - 1, condition="out"~out_num~"_startup_delay_params>0") }},
            {{ channel_k_restart_delay_countdown(out_num, 1752 + out_num - 1, condition="out"~out_num~"_restart_delay_params>0&&(isDefined(out"~out_num~"_timer_mode_selection)==0||out"~out_num~"_timer_mode_selection==0)") }},
            {{ channel_k_timer_countdown(out_num, 1864 + out_num - 1, scale=0.1, condition="out"~out_num~"_timer_mode_selection==1||out"~out_num~"_timer_mode_selection==2||out"~out_num~"_timer_mode_selection==3||out"~out_num~"_timer_mode_selection==4") }},
            {{ channel_k_timer_countdown(out_num, 1864 + out_num - 1, scale=1, condition="out"~out_num~"_timer_mode_selection==5") }},
            {% endfor -%}
            {% for curtain_num in range(1, CURTAINS_NUMBER + 1) -%}
            {
                "name": "Curtain {{curtain_num}} Open",
                "id": "curtain{{curtain_num}}_open",
                "reg_type": "coil",
                "address": {{16 + (curtain_num - 1) * 2}},
                "type": "switch",
                "sporadic": true,
                "group": "gg_curtains_channels",
                "condition": "curtain{{curtain_num}}_mode==1"
            },
            {
                "name": "Curtain {{curtain_num}} Close",
                "id": "curtain{{curtain_num}}_close",
                "reg_type": "coil",
                "address": {{17 + (curtain_num - 1) * 2}},
                "type": "switch",
                "sporadic": true,
                "group": "gg_curtains_channels",
                "condition": "curtain{{curtain_num}}_mode==1"
            },
            {% endfor -%}
            {{ channel_sn() }},
            {{ channel_hw_batch_number() }},
            {{ channel_fw() }},
            {{ channel_supply_voltage() }},
            {{ channel_uptime() }},
            {{ channel_min_supply_voltage_since_startup() }},
            {{ channel_mcu_temperature() }},
            {{ channel_mcu_voltage() }},
            {{ channel_bus_power_supply() }}
        ],

        "translations": {
            "en": {
                "WB-MR6Cv3_template_title": "WB-MR6C v.3 (6-channel relay with internal power supply)",
                "outputs_state_after_power_on_description": "Option \"According to inputs\" works for latching switch mode only",
                "baud_rate_description": "Make sure that communication with device is established before changing this parameter. Select required baud rate, save configuration and then change port baud rate to the same value",

                "poll_timeout_description": "Time in seconds without modbus polling before safety mode",
                "inputs_control_in_safety_mode_description": "Sets change of control from the inputs when module switches to safety mode",
                "safety_behaviour_description": "Action when module switches into safe mode",
                "outputs_safe_state_description": "Outputs state after module power on (if the \"Set output to safe state\" item is selected in the \"States of the relay on power up\" setting) and in the safe mode, if the transition to the safe state is activated",

                "sp_title": "Short Press",
                "lp_title": "Long Press",
                "dp_title": "Double Press",
                "slp_title": "Shortlong Press",

                "lp_hold_time_title": "Long Press Time (ms)",
                "secp_waiting_time_title": "Second Press Waiting Time (ms)",
                "debounce_time_title": "Debounce Time (ms)",

                "lp_hold_time_description": "If press is longer than the specified time then it is long",
                "secp_waiting_time_description": "If there is no second press during the specified time then press is single. 0 - disables all presses except short and long. Adds a delay to the response to a short press",
                "debounce_time_description": "For press detection must be 5-10 times less than second press waiting time. Adds a delay to the response to presses. Firmware up to 1.19.0 supports maximum 250 ms",
                "curtains_control_description": "For setup buttons actions select \"Operate according to button mapping-matrix\" mode and configure actions for buttons",
                "curtain_zero_time_description": "Starting from v1.24.0 you can choose 0 or 1-600 seconds. Zero means the output is on without timeout (until manually turned off), any values > 0 and < 1 will be ignored",

                "Curtains Control": "Actuator Control",

                {% for curtain_num in range(1, CURTAINS_NUMBER + 1) -%}
                "Curtain {{curtain_num}}": "Actuator {{curtain_num}}",
                "Curtain {{curtain_num}} Open": "Actuator {{curtain_num}} Open",
                "Curtain {{curtain_num}} Close": "Actuator {{curtain_num}} Close",
                "Curtain {{curtain_num}} Actions": "Actuator {{curtain_num}} Actions",
                "Use outputs {{curtain_num * 2 - 1}} and {{curtain_num * 2}} for curtain {{curtain_num}} control": "Use outputs {{curtain_num * 2 - 1}} and {{curtain_num * 2}} for actuator {{curtain_num}} control",
                {% endfor -%}

                "Startup Delay (s)": "Startup Delay When Power On (s)",
                "Restart Delay (s)": "Restart Delay After Output Turn Off (s)",
                "startup_delay_description": "0...999 s",
                "restart_delay_description": "0...999 s",

                "on_delay_description": "0.1...6500",
                "off_delay_description": "0.1...6500",
                "on_pulse_description": "0.1...6500",
                "off_pulse_description": "0.1...6500",
                "cyclic_on_time_description": "1...65000",
                "cyclic_off_time_description": "1...65000"
            },
            "ru": {
                "WB-MR6Cv3_template_title": "WB-MR6C v.3 (6-канальный модуль реле с внутренним блоком питания)",

                {% for in_num in range(FIRST_INPUT, OUTPUTS_NUMBER + 1) -%}
                {{ input_translations_ru(in_num) }},
                {% endfor -%}

                {{ group_translations_ru() }},
                "Protective Functions": "Защитные функции",
                "Timers": "Таймеры",
                "Mode": "Режим работы",
                "Press Parameters": "Параметры нажатий",

                "Actions for outputs when the input is closed / opened": "Действия для выходов при замыкании / размыкании входа",

                {% for out_num in range(1, OUTPUTS_NUMBER + 1) -%}
                "Output {{out_num}}": "Выход {{out_num}}",
                "Output {{out_num}} Actions": "Действия для выхода {{out_num}}",
                {{ output_translations_ru(out_num) }},
                {% endfor -%}

                "Output Safe State": "Безопасное состояние выходов",
                "outputs_safe_state_description": "Состояние выходов после включения модуля (если в настройке \"Состояния выходов при подаче питания\" выбран пункт \"Перевести выход в безопасное состояние\"), а также в безопасном режиме, если переход в безопасное состояние активирован",

                "no action": "нет действия",
                "reset": "выключить",
                "set": "включить",
                "toggle": "переключить",

                "no action / no action": "нет действия / нет действия",
                "no action / reset": "нет действия / выключить",
                "no action / set": "нет действия / включить",
                "no action / toggle": "нет действия / переключить",

                "reset / no action": "выключить / нет действия",
                "reset / reset": "выключить / выключить",
                "reset / set": "выключить / включить",
                "reset / toggle": "выключить / переключить",

                "set / no action": "включить / нет действия",
                "set / reset": "включить / выключить",
                "set / set": "включить / включить",
                "set / toggle": "включить / переключить",

                "toggle / no action": "переключить / нет действия",
                "toggle / reset": "переключить / выключить",
                "toggle / set": "переключить / включить",
                "toggle / toggle": "переключить / переключить",

                "Push button": "Кнопка без фиксации",
                "Latching switch": "Переключатель с фиксацией",
                "Turn off all outputs": "Отключить все выходы",
                "Control disabled / Frequency measurement": "Управление отключено, вход измеряет частоту",
                "Operate according to mapping-matrix": "Управлять по mapping-матрице",
                "Operate according to button mapping-matrix": "Управлять по mapping-матрице для кнопок",

                "Restore Last Outputs State After Power On": "Восстанавливать состояния выходов при включении",
                "Safety Poll Timeout (s)": "Таймаут потери связи (с)",
                "poll_timeout_description": "Время отсутствия опроса в секундах, после которого будет активирован безопасный режим. Действия в безопасном режиме настраиваются отдельно",
                "inputs_control_in_safety_mode_description": "Настройка изменения управления с входов при переходе модуля в безопасный режим",
                "safety_behaviour_description": "Действие при переходе модуля в безопасный режим",
                "Outputs State After Power On": "Состояния выходов при подаче питания",
                "Safe state": "Перевести выход в безопасное состояние",
                "Restore last state": "Восстановить последнее состояние",
                "According to inputs": "Установить согласно состоянию входов",

                "Safety Mode Trigger": "Переход в безопасный режим",
                "Poll timeout or loss bus power supply": "Потеря связи или пропадание низковольтного питания",
                "Poll timeout": "Потеря связи",
                "Loss bus power supply": "Пропадание низковольтного питания",

                "sp_title": "Короткое нажатие",
                "lp_title": "Длинное нажатие",
                "dp_title": "Двойное нажатие",
                "slp_title": "Короткое, затем длинное нажатие",

                "lp_hold_time_title": "Время длинного нажатия (мс)",
                "secp_waiting_time_title": "Время ожидания второго нажатия (мс)",
                "debounce_time_title": "Время подавления дребезга (мс)",

                "lp_hold_time_description": "Если нажатие длится больше указанного времени - считаем его длинным",
                "secp_waiting_time_description": "Если за указанное время второго нажатия не было - считаем нажатие одиночным. 0 - отключит все нажатия кроме короткого и длинного. Вносит задержку в реакцию на короткое нажатие",
                "debounce_time_description": "Для детектирования нажатий значение должно быть в 5-10 раз меньше, чем время ожидания второго нажатия. Вносит задержку в реакцию на нажатия. На прошивках до 1.19.0 максимально возможное время 250 мс",

                "Off":  "Выключен",
                "On": "Включен",

                "Safety Behaviour": "Действие в безопасном режиме",
                "Don't change output state": "Ничего не делать",
                "Switch output to safety state": "Перевести выход в безопасное состояние",

                "Inputs Control In Safety Mode": "Управление с входов в безопасном режиме",
                "Don't change": "Не блокировать",
                "Disable in safety mode": "Блокировать в безопасном режиме",
                "Enable only in safety mode": "Разрешить только в безопасном режиме",

                "open": "открыть",
                "close": "закрыть",
                "open/close": "открыть/закрыть",
                "stop": "остановить",
                "opening while pressed": "открывать пока кнопка нажата",
                "closing while pressed": "закрывать пока кнопка нажата",
                "opening/closing while pressed": "открывать/закрывать пока кнопка нажата",

                "Startup Delay (s)": "Задержка включения при подаче питания (с)",
                "Restart Delay (s)": "Задержка повторного включения выхода после его отключения (с)",
                "startup_delay_description": "0...999 с",
                "restart_delay_description": "0...999 с",

                "Function": "Функция",
                "Not Used": "Не используется",
                "On Delay": "Задержка включения",
                "Off Delay": "Задержка отключения",
                "On Pulse": "Включить на время",
                "Off Pulse": "Отключить на время",
                "On/Off Cycle": "Цикл On/Off",
                "On Time (s)": "Включено (с)",
                "Off Time (s)": "Отключено (с)",
                "Timeout (s)": "Таймаут (с)",
                "Time (s)": "Время (с)",

                "Curtains Control": "Управление приводом",
                "curtain_zero_time_description": "Начиная с прошивки 1.24.0 можно выбрать 0 или 1-600 секунд. Ноль означает, что выход будет включен без таймаута (до выключения его вручную), а любые значения > 0 и < 1 будут проигнорированы",
                "Open Time (s)": "Время открытия (с)",
                "Close Time (s)": "Время закрытия (с)",
                "Dead Time (ms)": "Пауза при смене направления (мс)",
                "Action When Safety Mode Is Activated": "Действие при переходе в безопасный режим",
                "Power Up Action": "Действие при подаче питания",

                {% for curtain_num in range(1, CURTAINS_NUMBER + 1) -%}
                "Curtain {{curtain_num}}": "Привод {{curtain_num}}",
                "Curtain {{curtain_num}} Open": "Открыть привод {{curtain_num}}",
                "Curtain {{curtain_num}} Close": "Закрыть привод {{curtain_num}}",
                "Curtain {{curtain_num}} Actions": "Действия для привода {{curtain_num}}",
                "Use outputs {{curtain_num * 2 - 1}} and {{curtain_num * 2}} for curtain {{curtain_num}} control": "Использовать выходы {{curtain_num * 2 - 1}} и {{curtain_num * 2}} для управления приводом {{curtain_num}}",
                "No, use outputs {{curtain_num * 2 - 1}} and {{curtain_num * 2}} as regular outputs": "Нет, использовать выходы {{curtain_num * 2 - 1}} и {{curtain_num * 2}} как обычные выходы",
                "Use output {{curtain_num * 2 - 1}} for open, output {{curtain_num * 2}} for close": "Да, использовать выход {{curtain_num * 2 - 1}} для открытия, выход {{curtain_num * 2}} для закрытия",
                {% endfor -%}
                "curtains_control_description": "Для настройки действий на нажатия выберите режим \"Управлять по mapping-матрице для кнопок\" на вкладке требуемого входа",


                "Baud Rate": "Скорость обмена",
                "baud_rate_description": "Перед изменением параметра убедитесь, что связь с устройством установлена. Выберите нужную скорость обмена, сохраните конфигурацию, а затем укажите в настройках порта эту же скорость",
                "outputs_state_after_power_on_description": "Вариант \"Установить согласно состоянию входов\" применим только для режима \"Переключатель с фиксацией\"",

                {{ service_translations_ru([
                    "Serial Number", "Firmware Version", "Uptime",
                    "HW Batch Number", "Supply Voltage",
                    "Min Supply Voltage Since Startup",
                    "MCU Temperature", "MCU Voltage",
                    "Bus Power Supply"
                ]) }}
            }
        }
    }
}
