{% set CHANNELS_NUMBER = 3 -%}
{% set BULK_BUFFER_LEN = 16 -%}
{% set RX_SPORADIC_BUFFER_LEN = 4 -%}
{% set INPUTS_NUMBER = 7 -%}
{% set FP_BUTTONS_NUMBER = 3 -%}

{
    "title": "WB-MDALI_template_title",
    "device_type": "WB-DALI",
    "group": "g-wb",
    "hw": [
        {
            "signature": "WB-DALI",
            "signature": "WB-MDALI"
        }
    ],
    "device": {
        "name": "WB-MDALI",
        "id": "wb-mdali",
        "max_read_registers": 0,
        "response_timeout_ms": 1,
        "frame_timeout_ms": 8,
        "enable_wb_continuous_read": true,

        "groups": [
            {% for ch in range(CHANNELS_NUMBER) -%}
            {
                "title": "Channel {{ ch + 1 }}",
                "id": "g_channel_{{ ch + 1 }}"
            },
            {% endfor -%}
            {% for in_num in range(FP_BUTTONS_NUMBER) -%}
            {
                "title": "Front Panel Button {{in_num + 1}}",
                "id": "g_fpb{{in_num}}"
            },
            {
                "title": "Front Panel Button Channels",
                "id": "gg_fpb{{in_num}}_channels",
                "group": "g_fpb{{in_num}}"
            },
            {% endfor -%}
            {% for in_num in range(INPUTS_NUMBER) -%}
            {
                "title": "Input {{in_num + 1}}",
                "id": "g_in{{in_num}}"
            },
            {
                "title": "Press Parameters",
                "id": "gg_in{{in_num}}_press_params",
                "group": "g_in{{in_num}}"
            },
            {
                "title": "Input Channels",
                "id": "gg_in{{in_num}}_channels",
                "group": "g_in{{in_num}}"
            },
            {% endfor -%}
            {
                "title": "General",
                "id": "general"
            },
            {
                "title": "HW Info",
                "id": "g_hw_info"
            }
        ],
        "parameters": {
            {% for ch in range(CHANNELS_NUMBER) -%}
            "bus_{{ ch + 1 }}_power_supply": {
                "title": "Bus Power Supply",
                "reg_type": "coil",
                "address": {{ 1030 + ch }},
                "enum": [0, 1],
                "default": 0,
                "enum_titles": [
                    "Off",
                    "On"
                ],
                "group": "g_channel_{{ ch + 1 }}"
            },
            {% endfor -%}
            {% for in_num in range(INPUTS_NUMBER) -%}
            "in{{in_num}}_debounce_ms": {
                "title": "debounce_time_title",
                "description": "debounce_time_description",
                "address": {{384 + in_num}},
                "reg_type": "holding",
                "min": 0,
                "max": 2000,
                "default": 50,
                "group": "g_in{{in_num}}",
                "order": 2
            },
            "in{{in_num}}_lp_hold_time": {
                "group": "gg_in{{in_num}}_press_params",
                "order": 1,
                "title": "lp_hold_time_title",
                "description": "lp_hold_time_description",
                "address": {{416 + in_num}},
                "reg_type": "holding",
                "default": 1000,
                "min": 500,
                "max": 5000
            },
            "in{{in_num}}_secp_waiting_time": {
                "group": "gg_in{{in_num}}_press_params",
                "title": "secp_waiting_time_title",
                "description": "secp_waiting_time_description",
                "order": 2,
                "address": {{432 + in_num}},
                "reg_type": "holding",
                "default": 300,
                "min": 0,
                "max": 2000
            },
            {% endfor -%}
            "baud_rate": {
                "title": "Baud rate",
                "description": "baud_rate_description",
                "address": 110,
                "reg_type": "holding",
                "enum": [96, 192, 384, 576, 1152],
                "default": 96,
                "enum_titles": [
                    "9600",
                    "19200",
                    "38400",
                    "57600",
                    "115200"
                ],
                "group": "general",
                "order": 1
            }
        },
        "channels": [
            {% for ch in range(CHANNELS_NUMBER) -%}
            {
                "name": "Bus {{ ch + 1 }} Powered",
                "id": "bus_{{ ch + 1 }}_powered",
                "reg_type": "discrete",
                "address": {{ 1020 + ch }},
                "type": "switch",
                "group": "g_channel_{{ ch + 1 }}"
            },
            {
                "name": "Bus {{ ch + 1 }} Power Supply Status",
                "id": "bus_{{ ch + 1 }}_power_supply_status",
                "reg_type": "discrete",
                "address": {{ 1030 + ch }},
                "type": "switch",
                "group": "g_channel_{{ ch + 1 }}"
            },
            {
                "name": "Bus {{ ch + 1 }} State",
                "id": "bus_{{ ch + 1 }}_state",
                "reg_type": "discrete",
                "address": {{ 1000 + ch }},
                "type": "switch",
                "group": "g_channel_{{ ch + 1 }}"
            },
            {
                "name": "Bus {{ ch + 1 }} Overheat",
                "id": "bus_{{ ch + 1 }}_overheat",
                "reg_type": "discrete",
                "address": {{ 1010 + ch }},
                "type": "switch",
                "group": "g_channel_{{ ch + 1 }}"
            },
            {
                "name": "Bus {{ ch + 1 }} Temperature",
                "id": "bus_{{ ch + 1 }}_temperature",
                "reg_type": "input",
                "address": {{ 4020 + ch }},
                "type": "temperature",
                "format": "s16",
                "scale": 0.1,
                "enabled": false,
                "group": "g_channel_{{ ch + 1 }}"
            },
            {
                "name": "Bus {{ ch + 1 }} bulk send pointer",
                "id": "bus_{{ ch + 1 }}_bulk_send_pointer",
                "reg_type": "holding",
                "address": {{ 1432 + (ch * 1000) }},
                "type": "value",
                "format": "u16",
                "sporadic": true,
                "hidden": true,
                "group": "g_channel_{{ ch + 1 }}"
            },
            {% for r in range(RX_SPORADIC_BUFFER_LEN) -%}
            {
                "name": "Bus {{ ch + 1 }} monitor sporadic frame {{ r + 1 }}",
                "id": "bus_{{ ch + 1 }}_monitor_sporadic_frame_{{r + 1}}",
                "reg_type": "input",
                "address": {{ 1900 + (ch * 1000) + (4 * r) }},
                "type": "value",
                "format": "u64",
                "word_order": "little_endian",
                "sporadic": true,
                "hidden": true,
                "group": "g_channel_{{ ch + 1 }}"
            },
            {% endfor -%}
            {% for ptr in range(BULK_BUFFER_LEN) -%}
            {
                "name": "Bus {{ ch + 1 }} bulk send reply {{ ptr }}",
                "id": "bus_{{ ch + 1 }}_bulk_send_reply_{{ ptr }}",
                "reg_type": "input",
                "address": {{ 1500 + (ch * 1000) + ptr }},
                "type": "value",
                "format": "u16",
                "sporadic": true,
                "hidden": true,
                "group": "g_channel_{{ ch + 1 }}"
            },
            {% endfor -%}
            {% endfor -%}

            {% for in_num in range(FP_BUTTONS_NUMBER) -%}
            {
                "name": "Front Panel Button {{in_num + 1}}",
                "id": "front_panel_button_{{in_num}}",
                "reg_type": "discrete",
                "address": {{16 + in_num}},
                "type": "switch",
                "sporadic": true,
                "group": "gg_fpb{{in_num}}_channels"
            },
            {
                "name": "Front Panel Button {{in_num + 1}} Counter",
                "id": "front_panel_button_{{in_num}}_counter",
                "reg_type": "input",
                "address": {{48 + in_num}},
                "type": "value",
                "sporadic": true,
                "group": "gg_fpb{{in_num}}_channels"
            },
            {
                "name": "Front Panel Button {{in_num + 1}} Single Press Counter",
                "id": "front_panel_button_{{in_num}}_single_press_counter",
                "enabled": true,
                "reg_type": "press_counter",
                "address": {{528 + 0 + in_num}},
                "type": "value",
                "sporadic": true,
                "group": "gg_fpb{{in_num}}_channels"
            },
            {
                "name": "Front Panel Button {{in_num + 1}} Long Press Counter",
                "id": "front_panel_button_{{in_num}}_long_press_counter",
                "enabled": true,
                "reg_type": "press_counter",
                "address": {{528 + 16 + in_num}},
                "type": "value",
                "sporadic": true,
                "group": "gg_fpb{{in_num}}_channels"
            },
            {
                "name": "Front Panel Button {{in_num + 1}} Double Press Counter",
                "id": "front_panel_button_{{in_num}}_double_press_counter",
                "enabled": true,
                "reg_type": "press_counter",
                "address": {{528 + 32 + in_num}},
                "type": "value",
                "sporadic": true,
                "group": "gg_fpb{{in_num}}_channels"
            },
            {
                "name": "Front Panel Button {{in_num + 1}} Shortlong Press Counter",
                "id": "front_panel_button_{{in_num}}_shortlong_press_counter",
                "enabled": true,
                "reg_type": "press_counter",
                "address": {{528 + 48 + in_num}},
                "type": "value",
                "sporadic": true,
                "group": "gg_fpb{{in_num}}_channels"
            },
            {% endfor -%}

            {% for in_num in range(INPUTS_NUMBER) -%}
            {
                "name": "Input {{in_num + 1}}",
                "id": "input_{{in_num}}",
                "reg_type": "discrete",
                "address": {{in_num}},
                "type": "switch",
                "sporadic": true,
                "group": "gg_in{{in_num}}_channels"
            },
            {
                "name": "Input {{in_num + 1}} Counter",
                "id": "input_{{in_num}}_counter",
                "reg_type": "input",
                "address": {{32 + in_num}},
                "type": "value",
                "sporadic": true,
                "group": "gg_in{{in_num}}_channels"
            },
            {
                "name": "Input {{in_num + 1}} Single Press Counter",
                "id": "input_{{in_num}}_single_press_counter",
                "enabled": true,
                "reg_type": "press_counter",
                "address": {{464 + in_num}},
                "type": "value",
                "sporadic": true,
                "group": "gg_in{{in_num}}_channels"
            },
            {
                "name": "Input {{in_num + 1}} Long Press Counter",
                "id": "input_{{in_num}}_long_press_counter",
                "enabled": true,
                "reg_type": "press_counter",
                "address": {{480 + in_num}},
                "type": "value",
                "sporadic": true,
                "group": "gg_in{{in_num}}_channels"
            },
            {
                "name": "Input {{in_num + 1}} Double Press Counter",
                "id": "input_{{in_num}}_double_press_counter",
                "enabled": true,
                "reg_type": "press_counter",
                "address": {{496 + in_num}},
                "type": "value",
                "sporadic": true,
                "group": "gg_in{{in_num}}_channels"
            },
            {
                "name": "Input {{in_num + 1}} Shortlong Press Counter",
                "id": "input_{{in_num}}_shortlong_press_counter",
                "enabled": true,
                "reg_type": "press_counter",
                "address": {{512 + in_num}},
                "type": "value",
                "sporadic": true,
                "group": "gg_in{{in_num}}_channels"
            },
            {% endfor -%}
            {
                "name": "Serial",
                "id": "serial",
                "reg_type": "input",
                "address": 270,
                "type": "text",
                "format": "u32",
                "group": "g_hw_info"
            },
            {
                "name": "FW Version",
                "id": "fw_version",
                "reg_type": "input",
                "address": 250,
                "type": "text",
                "format": "string",
                "string_data_size": 16,
                "enabled": false,
                "group": "g_hw_info"
            },
            {
                "name": "Supply Voltage",
                "id": "supply_voltage",
                "reg_type": "input",
                "address": 121,
                "type": "value",
                "units": "V",
                "scale": 0.001,
                "enabled": false,
                "group": "g_hw_info"
            },
            {
                "name": "Uptime",
                "id": "uptime",
                "reg_type": "input",
                "address": 104,
                "type": "value",
                "units": "s",
                "format": "u32",
                "enabled": false,
                "group": "g_hw_info"
            },
            {
                "name": "Minimum Voltage Since Startup",
                "id": "minimum_voltage_since_startup",
                "reg_type": "input",
                "address": 122,
                "scale": 0.001,
                "type": "value",
                "units": "V",
                "enabled": false,
                "group": "g_hw_info"
            },
            {
                "name": "MCU Temperature",
                "id": "mcu_temperature",
                "reg_type": "input",
                "address": 124,
                "type": "temperature",
                "format": "s16",
                "scale": 0.1,
                "enabled": false,
                "group": "g_hw_info"
            },
            {
                "name": "MCU Voltage",
                "id": "mcu_voltage",
                "reg_type": "input",
                "address": 123,
                "scale": 0.001,
                "type": "value",
                "units": "V",
                "enabled": false,
                "group": "g_hw_info"
            },
            {
                "name": "Minimum MCU Voltage Since Startup",
                "id": "minimum_mcu_voltage_since_startup",
                "reg_type": "input",
                "address": 119,
                "scale": 0.001,
                "type": "value",
                "units": "V",
                "enabled": false,
                "group": "g_hw_info"
            }
        ],
        "translations": {
            "en": {
                "WB-MDALI_template_title": "WB-MDALI (3-channel RS485-DALI gate)",
                "debounce_time_title": "Debounce Time (ms)",
                "lp_hold_time_title": "Long Press Time (ms)",
                "secp_waiting_time_title": "Second Press Waiting Time (ms)",
                "lp_hold_time_description": "If press is longer than the specified time then it is long",
                "secp_waiting_time_description": "If there is no second press during the specified time then press is single. 0 - disables all presses except short and long. Adds a delay to the response to a short press",
                "debounce_time_description": "For press detection must be 5-10 times less than second press waiting time. Adds a delay to the response to presses",
                "baud_rate_description": "Make sure that communication with the device is established before changing this parameter. Select required baud rate, save configuration and then change port baud rate to the same value. Default value is 9600"
            },
            "ru": {
                "WB-MDALI_template_title": "WB-MDALI (3-канальный шлюз RS485-DALI)",
                "baud_rate_description": "Перед изменением параметра убедитесь, что связь с устройством установлена. Выберите нужную скорость обмена, сохраните конфигурацию, а затем укажите в настройках порта эту же скорость. Значение по умолчанию - 9600",

                {% for in_num in range(FP_BUTTONS_NUMBER) -%}
                "Front Panel Button {{in_num + 1}}": "Кнопка на передней панели {{in_num + 1}}",
                {% endfor -%}

                "Front Panel Button Channels": "Каналы кнопок на передней панели",

                "Input Channels": "Каналы входов",
                "Press Parameters": "Параметры нажатия",

                "Bus Power Supply": "Внутренний источник питания шины",

                {% for ch in range(CHANNELS_NUMBER) -%}
                "Channel {{ ch + 1 }}": "Канал {{ ch + 1 }}",
                "Bus {{ ch + 1 }} Powered": "Наличие питания шины {{ ch + 1 }}",
                "Bus {{ ch + 1 }} Power Supply Status": "Внутренний источник питания шины {{ ch + 1 }}",
                "Bus {{ ch + 1 }} State": "Состояние шины {{ ch + 1 }}",
                "Bus {{ ch + 1 }} Overheat": "Перегрев шины {{ ch + 1 }}",
                "Bus {{ ch + 1 }} Temperature": "Температура шины {{ ch + 1 }}",
                {% endfor -%}


                {% for in_num in range(FP_BUTTONS_NUMBER) -%}
                "Front Panel Button {{in_num + 1}}": "Кнопка {{in_num + 1}}",
                "Front Panel Button {{in_num + 1}} Counter": "Счетчик нажатий кнопки {{in_num + 1}}",
                "Front Panel Button {{in_num + 1}} Single Press Counter": "Счетчик одиночных нажатий кнопки {{in_num + 1}}",
                "Front Panel Button {{in_num + 1}} Long Press Counter": "Счетчик длинных нажатий кнопки {{in_num + 1}}",
                "Front Panel Button {{in_num + 1}} Double Press Counter": "Счетчик двойных нажатий кнопки {{in_num + 1}}",
                "Front Panel Button {{in_num + 1}} Shortlong Press Counter": "Счетчик коротких, а затем длинных нажатий кнопки {{in_num + 1}}",
                {% endfor -%}

                "Off": "Выкл",
                "On": "Вкл",

                {% for in_num in range(INPUTS_NUMBER) -%}
                "Input {{in_num + 1}}": "Вход {{in_num + 1}}",
                "Input {{in_num + 1}} Counter": "Счетчик {{in_num + 1}}",
                "Input {{in_num + 1}} Single Press Counter": "Счетчик одиночных нажатий {{in_num + 1}}",
                "Input {{in_num + 1}} Long Press Counter": "Счетчик длинных нажатий {{in_num + 1}}",
                "Input {{in_num + 1}} Double Press Counter": "Счетчик двойных нажатий {{in_num + 1}}",
                "Input {{in_num + 1}} Shortlong Press Counter": "Счетчик коротких, а затем длинных нажатий {{in_num + 1}}",
                {% endfor -%}

                "debounce_time_title": "Время дребезга (мс)",
                "debounce_time_description": "Для корректного определения нажатий должно быть в 5-10 раз меньше времени ожидания второго нажатия. Добавляет задержку к реакции на нажатия",
                "lp_hold_time_title": "Время длинного нажатия (мс)",
                "lp_hold_time_description": "Если нажатие длиннее указанного времени, то оно считается длинным",
                "secp_waiting_time_title": "Время ожидания второго нажатия (мс)",
                "secp_waiting_time_description": "Если в течение указанного времени не произошло второго нажатия, то первое считается одиночным. 0 - отключает все типы нажатий, кроме короткого и длинного. Добавляет задержку к реакции на короткое нажатие",

                "General": "Общее",
                "HW Info": "Данные модуля",

                "Serial": "Серийный номер",
                "FW Version": "Версия прошивки",
                "Supply Voltage": "Напряжение питания",
                "Uptime": "Время работы с момента включения",
                "Minimum Voltage Since Startup": "Минимальное напряжение с момента включения",
                "MCU Temperature": "Температура МК",
                "MCU Voltage": "Напряжение питания МК",
                "Minimum MCU Voltage Since Startup": "Минимальное напряжение питания МК с момента включения",

                "Baud rate": "Скорость обмена"
            }
        }
    }
}
