{% with title_en = "PLC-270-EMD-00004R-00-IO (PLC 270 IO module 4 RO ONI)",
        title_ru = "PLC-270-EMD-00004R-00-IO (ПЛК 270 Модуль IO 4 RO ONI)",
        device_type = "tpl1_oni_plc_270_emd_00004r_00_io",
        group = "g-oni",
        device_name = "PLC-270-EMD-00004R-00-IO",
        device_id = "oni-plc-270-emd-00004r-00-io" %}
{% include "config-wbio-do-r10r-4.json.jinja" %}
{% endwith %}
