{% with title_en = "PLC-W-EMA-0304 (4-channel analog output module)",
        title_ru = "PLC-W-EMA-0304 (4-канальный модуль аналогового вывода)",
        device_type = "tpl1_oni_plc_w_ema_0304",
        group = "g-oni",
        device_name = "PLC-W-EMA-0304",
        device_id = "oni-plc-w-ema-0304",
        has_signature = true %}
{% include "config-wb-mao4.json.jinja" %}
{% endwith %}
