{% with title_en = "PLC-W-EMD-0706 (6-channel relay)",
        title_ru = "PLC-W-EMD-0706 (6-канальный модуль реле)",
        device_type = "tpl1_oni_plc_w_emd_0706",
        group = "g-oni",
        device_name = "PLC-W-EMD-0706",
        device_id = "oni-plc-w-emd-0706",
        has_signature = true %}
{% include "config-wb-mr6c.json.jinja" %}
{% endwith %}
