{% with title_en = "PLC-W-EMD-0202-ACT (2-channel power metering relay)",
        title_ru = "PLC-W-EMD-0202-ACT (2-канальный модуль реле с измерением мощности)",
        device_type = "tpl1_oni_plc_w_emd_0202_act",
        group = "g-oni",
        device_name = "PLC-W-EMD-0202-ACT",
        device_id = "oni-plc-w-emd-0202-act",
        has_signature = true %}
{% include "config-wb-mrwm2.json.jinja" %}
{% endwith %}