{% with title_en = "PLC-W-ACS-0800-IMP (8-channel pulse counter)",
        title_ru = "PLC-W-ACS-0800-IMP (8-канальный модуль счетных входов)",
        device_type = "tpl1_oni_plc_w_acs_0800_imp",
        group = "g-oni",
        device_name = "PLC-W-ACS-0800-IMP",
        device_id = "oni-plc-w-acs-0800-imp",
        has_signature = true %}
{% include "config-wb-mcm8.json.jinja" %}
{% endwith %}
