{% with device_type = "tpl1_oni_plc_w_emd_1400",
        group = "g-oni",
        device_name = "PLC-W-EMD-1400",
        device_id = "oni-plc-w-emd-1400" %}
{% include "config-wbio-di-wd-14.json.jinja" %}
{% endwith %}