{% with title_en = "PLC-270-EMC-MRL000-00-00 (PLC 270 Water consumption metering and leak monitoring module ONI)",
        title_ru = "PLC-270-EMC-MRL000-00-00 (ПЛК 270 Модуль учета водопотребления и контроля протечек ONI)",
        device_type = "tpl1_oni_plc_270_emc_mrl000_00_00",
        group = "g-oni",
        device_name = "PLC-270-EMC-MRL000-00-00",
        device_id = "oni-plc-270-emc-mrl000-00-00",
        has_signature = true %}
{% include "config-wb-mwac2.json.jinja" %}
{% endwith %}