{% with title_en = "PLC-W-EMD-0202-80A/NO (2-channel relay)",
        title_ru = "PLC-W-EMD-0202-80A/NO (2-канальный модуль реле)",
        device_type = "tpl1_oni_plc_w_emd_0202_80a_no",
        group = "g-oni",
        device_name = "PLC-W-EMD-0202-80A/NO",
        device_id = "oni-plc-w-emd-0202-80a",
        has_signature = true %}
{% include "config-wb-mrm2-mini.json.jinja" %}
{% endwith %}