{% with title_en = "PLC-W-EMD-0403-120A, PLC-W-EMD-0403-165A, PLC-W-EMD-0403-31A  (3-channel relay)",
        title_ru = "PLC-W-EMD-0403-120A, PLC-W-EMD-0403-165A, PLC-W-EMD-0403-31A  (3-канальный модуль реле)",
        device_type = "tpl1_oni_plc_w_emd_0403",
        group = "g-oni",
        device_name = "PLC-W-EMD-0403",
        device_id = "oni-plc-w-emd-0403",
        has_signature = true %}
{% include "config-wb-mr3.json.jinja" %}
{% endwith %}