{% with device_type = "tpl1_oni_plc_w_emd_0008r",
        group = "g-oni",
        device_name = "PLC-W-EMD-0008R",
        device_id = "oni-plc-w-emd-0008r" %}
{% include "config-wbio-do-r10a-8.json.jinja" %}
{% endwith %}