{% set title_en = title_en | default("WB-MAO4 (4-channel analog output module)") -%}
{% set title_ru = title_ru | default("WB-MAO4 (4-канальный модуль аналогового вывода)") -%}
{% set device_type = device_type | default("tpl1_wb_mao4") -%}
{% set group = group | default("g-wb") -%}
{% set device_name = device_name | default("WB-MAO4") -%}
{% set device_id = device_id | default("wb-mao4") -%}
{% set has_signature = has_signature | default(true) -%}

{% set INPUTS_NUMBER = 3 -%}
{% set OUTPUTS_NUMBER = 4 -%}
{% set PRESS_TYPES = ["short", "long", "double", "short long"] %}
{% set LIGHT_SCENES_NUMBER = 8 -%}

{
    "title": "template_title",
    "device_type": "{{ device_type }}",
    "group": "{{ group }}",
{% if has_signature %}
    "hw": [
        {
            "signature": "WBMAO4"
        }
    ],
{% endif %}
    "device": {
        "name": "{{ device_name }}",
        "id": "{{ device_id }}",
        "max_read_registers": 0,
        "response_timeout_ms": 1,
        "frame_timeout_ms": 8,
        "enable_wb_continuous_read": true,

        "groups": [
            {% for ch_number in range(1, INPUTS_NUMBER + 1) -%}
            {
                "title": "Input {{ ch_number }}",
                "id": "input_{{ ch_number }}"
            },
            {% for press_type in PRESS_TYPES -%}
            {
                "title": "{{ press_type | title }} Press Action",
                "id": "input_{{ ch_number }}_{{ press_type | replace(' ', '_') }}_press_action",
                "group": "input_{{ ch_number }}"
            },
            {% endfor -%}
            {
                "title": "Action when Switch is On",
                "id": "input_{{ ch_number }}_switch_on_action",
                "group": "input_{{ ch_number }}"
            },
            {
                "title": "Action when Switch is Off",
                "id": "input_{{ ch_number }}_switch_off_action",
                "group": "input_{{ ch_number }}"
            },
            {
                "title": "Input Parameters",
                "id": "input_{{ ch_number }}_parameters",
                "group": "input_{{ch_number }}",
                "ui_options": {
                    "wb": {
                        "disable_title": true
                    }
                }
            },
            {
                "title": "Input Counters",
                "id": "input_{{ ch_number }}_counters",
                "group": "input_{{ ch_number }}",
                "ui_options": {
                    "wb": {
                        "disable_title": true
                    }
                }
            },
            {% endfor -%}
            {
                "title": "Outputs",
                "id": "outputs"
            },
            {
                "title": "Outputs Common Settings",
                "id": "outputs_common",
                "group": "outputs"
            },
            {% for ch_number in range(1, OUTPUTS_NUMBER + 1) -%}
            {
                "title": "Output {{ ch_number }}",
                "id": "output{{ ch_number }}",
                "group": "outputs"
            },
            {% endfor -%}
            {
                "title": "Output Channels",
                "id": "output_channels",
                "group": "outputs",
                "ui_options": {
                    "wb": {
                        "disable_title": true
                    }
                }
            },
            {% for ls_number in range(1, LIGHT_SCENES_NUMBER + 1) -%}
            {
                "title": "Light Scene {{ ls_number }}",
                "id": "g_light_scene_{{ ls_number }}",
                "fw": "2.5.0",
                "description": "light_scenes_description"
            },
            {
                "title": "Actions when Scene Light Turn On",
                "id": "gg_ls_{{ ls_number }}_actions_turn_on",
                "fw": "2.5.0",
                "group": "g_light_scene_{{ ls_number }}"
            },
            {
                "title": "Actions when Scene Light Turn Off",
                "id": "gg_ls_{{ ls_number }}_actions_turn_off",
                "fw": "2.5.0",
                "group": "g_light_scene_{{ ls_number }}"
            },
            {
                "title": "Light Scene {{ ls_number }} Channels",
                "id": "gg_ls_{{ ls_number }}_channels",
                "fw": "2.5.0",
                "group": "g_light_scene_{{ ls_number }}",
                "ui_options": {
                    "wb": {
                        "disable_title": true
                    }
                }
            },
            {% for ch_number in range(1, OUTPUTS_NUMBER + 1) -%}
            {
                "title": "Channel {{ ch_number }} Switch",
                "id": "gg_ls_{{ls_number}}_ch_{{ch_number}}_action_turn_on",
                "group": "gg_ls_{{ ls_number }}_actions_turn_on"
            },
            {
                "title": "Channel {{ ch_number }} Switch",
                "id": "gg_ls_{{ls_number}}_ch_{{ch_number}}_action_turn_off",
                "group": "gg_ls_{{ ls_number }}_actions_turn_off"
            },
            {% endfor -%}
            {% endfor -%}

            {
                "title": "Safety Mode",
                "id": "g_safety",
                "description": "g_safety_description",
                "fw": "2.5.0"
            },
            {
                "title": "Power Up Behaviour",
                "id": "g_power_up_behaviour",
                "fw": "2.5.0"
            },
            {
                "title": "Safety Behaviour",
                "id": "gg_safety_behaviour",
                "fw": "2.5.0",
                "description": "g_power_up_behaviour_description",
                "group": "g_safety"
            },
            {% for ch_number in range(1, OUTPUTS_NUMBER + 1) -%}
            {
                "title": "Channel {{ ch_number }} Switch",
                "id": "gg_safety_mode_ch_{{ ch_number }}",
                "fw": "2.5.0",
                "group": "gg_safety_behaviour"
            },
            {
                "title": "Channel {{ ch_number }} Switch",
                "id": "gg_power_up_behaviour_ch_{{ ch_number }}",
                "fw": "2.5.0",
                "group": "g_power_up_behaviour"
            },
            {% endfor -%}
            {
                "title": "Inputs Control In Safety Mode",
                "id": "gg_safety_input_control",
                "fw": "2.5.0",
                "description": "inputs_control_in_safety_mode_description",
                "group": "g_safety"
            },

            {
                "title": "General",
                "id": "general"
            },
            {
                "title": "HW Info",
                "id": "hw_info"
            },
            {
                "title": "Debug",
                "id": "debug"
            }
        ],
        "parameters": [
            {
                "id": "outputs_mode",
                "title": "Outputs Mode",
                "address": 10,
                "reg_type": "holding",
                "enum": [0, 1],
                "enum_titles": [
                    "PWM 10 V",
                    "Analog 0-10 V"
                ],
                "default": 1,
                "group": "outputs_common",
                "order": 1
            },
            {
                "id": "pwm_frequency_factor",
                "title": "PWM Frequency Factor",
                "description": "pwm_frequency_factor_description",
                "address": 9,
                "reg_type": "holding",
                "default": 24,
                "min": 1,
                "max": 240,
                "group": "outputs_common",
                "order": 2
            },
            {% for ch_number in range(1, OUTPUTS_NUMBER + 1) -%}
            {
                "id": "output{{ ch_number }}_min",
                "title": "Voltage at 1% dimming level (mV)",
                "description": "level_1_voltage_description",
                "group": "output{{ ch_number }}",
                "address": {{ 912 + ch_number - 1 }},
                "reg_type": "holding",
                "default": 1,
                "min": 0,
                "max": 10000,
                "order": 1
            },
            {
                "id": "output{{ ch_number }}_max",
                "title": "Voltage at 100% dimming level (mV)",
                "description": "level_100_voltage_description",
                "group": "output{{ch_number}}",
                "address": {{928 + ch_number - 1}},
                "reg_type": "holding",
                "default": 10000,
                "min": 0,
                "max": 10000,
                "order": 2
            },
            {
                "id": "output{{ ch_number }}_decrement_rate",
                "title": "Dimming level decrement rate (ms/%)",
                "description": "increase_rate_description",
                "group": "output{{ch_number}}",
                "address": {{944 + ch_number - 1}},
                "reg_type": "holding",
                "default": 20,
                "min": 0,
                "max": 500,
                "order": 3
            },
            {
                "id": "channel{{ ch_number }}_increment_rate",
                "title": "Dimming level increment rate (ms/%)",
                "description": "decrease_rate_description",
                "group": "output{{ch_number}}",
                "address": {{960 + ch_number - 1}},
                "reg_type": "holding",
                "default": 20,
                "min": 0,
                "max": 500,
                "order": 4
            },
            {
                "id": "action{{ch_number}}_repeat_time",
                "title": "Action repeat time (ms)",
                "description": "action_repeat_time_description",
                "group": "output{{ch_number}}",
                "address": {{896 + ch_number - 1}},
                "reg_type": "holding",
                "default": 20,
                "min": 5,
                "max": 500,
                "order": 5
            },
            {% endfor -%}
            {% for ch_number in range(0, INPUTS_NUMBER) -%}
            {
                "id": "input_{{ch_number + 1}}_mode",
                "title": "Input Mode",
                "address": {{416 + ch_number}},
                "reg_type": "holding",
                "fw": "2.5.0",
                "enum": [0, 1],
                "enum_titles": [
                    "Button",
                    "Switch"
                ],
                "default": 0,
                "group": "input_{{ch_number + 1}}"
            },
            {
                "id": "input_{{ch_number + 1}}_hold_time",
                "title": "Long Press Time (ms)",
                "description": "input_hold_time_description",
                "address": {{1100 + ch_number}},
                "reg_type": "holding",
                "default": 1000,
                "min": 500,
                "max": 5000,
                "group": "input_{{ch_number + 1}}_parameters",
                "condition": "input_{{ch_number + 1}}_mode!=1",
                "order": 1
            },
            {
                "id": "input_{{ch_number + 1}}_double_time",
                "title": "Second Press Waiting Time (ms)",
                "description": "input_double_time_description",
                "address": {{1140 + ch_number}},
                "reg_type": "holding",
                "default": 300,
                "min": 0,
                "max": 2000,
                "group": "input_{{ch_number + 1}}_parameters",
                "condition": "input_{{ch_number + 1}}_mode!=1",
                "order": 2
            },
            {
                "id": "input_{{ch_number + 1}}_debounce_time",
                "title": "Debounce Time (ms)",
                "description": "input_debounce_time_description",
                "address": {{1160 + ch_number}},
                "reg_type": "holding",
                "default": 50,
                "min": 5,
                "max": 200,
                "group": "input_{{ch_number + 1}}_parameters",
                "order": 3
            },
            {% for press_type in PRESS_TYPES -%}
            {% set action_bind = ("input {} {} press output".format(ch_number + 1, press_type))|replace(' ', '_')  %}
            {
                "id": "{{action_bind}}_number",
                "title": "Output Number",
                "address": {{768 + (loop.index0 * 16) + ch_number}},
                "reg_type": "holding",
                "enum": [0, 1, 2, 3, 4, 100, {%for ls in range(LIGHT_SCENES_NUMBER) %}{{32 + ls}}{% if not loop.last %}, {% endif %}{% endfor %}],
                "enum_titles": [
                    "No Action",
                    "Output 1",
                    "Output 2",
                    "Output 3",
                    "Output 4",
                    "All Outputs",
                    {% for ls_number in range(1, LIGHT_SCENES_NUMBER + 1) -%}
                    "Light Scene {{ ls_number }}"{% if not loop.last %},{% endif %}
                    {% endfor -%}
                ],
                "default": 0,
                "group": "input_{{ch_number + 1}}_{{press_type | replace(' ', '_')}}_press_action",
                "condition": "input_{{ch_number + 1}}_mode!=1",
                "order": 1
            },
            {
                "id": "{{action_bind}}_action_single",
                "title": "Action",
                "address": {{832 + (loop.index0 * 16) + ch_number}},
                "reg_type": "holding",
                {% if press_type in ["long", "short long"] %}"enum": [0, 1, 2, 3, 4, 5],{% else %}"enum": [0, 1, 2, 3, 4],{% endif %}
                "enum_titles": [
                    "Turn Off",
                    "Turn On",
                    "Toggle",
                    "Decrease level",
                    "Increase level"{% if press_type in ["long", "short long"] %},
                    "Increase/Decrease level"{% endif %}
                ],
                "default": 0,
                "group": "input_{{ch_number + 1}}_{{press_type | replace(' ', '_')}}_press_action",
                "order": 2,
                "condition": "({{action_bind}}_number>=1)&&({{action_bind}}_number<=4)"
            },
            {
                "id": "{{action_bind}}_action_all",
                "title": "Action",
                "address": {{832 + (loop.index0 * 16) + ch_number}},
                "reg_type": "holding",
                "enum": [0, 1, 3, 4],
                "enum_titles": [
                    "Turn Off",
                    "Turn On",
                    "Decrease level",
                    "Increase level"
                ],
                "default": 0,
                "group": "input_{{ch_number + 1}}_{{press_type | replace(' ', '_') }}_press_action",
                "order": 2,
                "condition": "{{ action_bind }}_number==100"
            },
            {
                "id": "{{action_bind}}_action_scene",
                "title": "Action",
                "address": {{832 + (loop.index0 * 16) + ch_number}},
                "reg_type": "holding",
                "enum": [0, 1, 2],
                "enum_titles": [
                    "Turn Off Scene Light",
                    "Turn On Scene Light",
                    "Toggle Scene Light"
                ],
                "group": "input_{{ch_number + 1}}_{{press_type | replace(' ', '_') }}_press_action",
                "order": 2,
                "condition": "{{ action_bind }}_number>=32&&{{ action_bind }}_number<=39"
            },
            {% endfor -%}
            {% for sw_act in ["off", "on"] -%}
            {
                "id": "input_{{ch_number + 1}}_switch_{{sw_act}}_channel",
                "title": "Output Number",
                "address": {{704 + (loop.index0 * 16) + ch_number}},
                "reg_type": "holding",
                "fw": "2.5.0",
                "enum": [0, 1, 2, 3, 4, 100, {%for ls in range(LIGHT_SCENES_NUMBER) %}{{32 + ls}}{% if not loop.last %}, {% endif %}{% endfor %}],
                "enum_titles": [
                    "No Action",
                    "Output 1",
                    "Output 2",
                    "Output 3",
                    "Output 4",
                    "All Outputs",
                    {% for ls_number in range(1, LIGHT_SCENES_NUMBER + 1) -%}
                    "Light Scene {{ ls_number }}"{% if not loop.last %},{% endif %}
                    {% endfor -%}
                ],
                "default": 0,
                "group": "input_{{ ch_number + 1}}_switch_{{sw_act}}_action",
                "condition": "input_{{ch_number + 1}}_mode==1",
                "order": 1
            },
            {
                "id": "input_{{ch_number + 1}}_switch_{{sw_act}}_action_single",
                "title": "Action",
                "address": {{736 + (loop.index0 * 16) + ch_number}},
                "reg_type": "holding",
                "fw": "2.5.0",
                "enum": [0, 1, 2],
                "enum_titles": [
                    "Turn Off",
                    "Turn On",
                    "Toggle"
                ],
                "default": {{ 0 if sw_act == "off" else 1}},
                "group": "input_{{ ch_number + 1}}_switch_{{sw_act}}_action",
                "condition": "input_{{ch_number + 1}}_switch_{{sw_act}}_channel>=1&&input_{{ch_number + 1}}_switch_{{sw_act}}_channel<=4",
                "order": 2
            },
            {
                "id": "input_{{ch_number + 1}}_switch_{{sw_act}}_action_all",
                "title": "Action",
                "address": {{736 + (loop.index0 * 16) + ch_number}},
                "reg_type": "holding",
                "enum": [0, 1],
                "enum_titles": [
                    "Turn Off",
                    "Turn On"
                ],
                "default": {{ 0 if sw_act == "off" else 1}},
                "group": "input_{{ ch_number + 1}}_switch_{{sw_act}}_action",
                "condition": "input_{{ch_number + 1}}_switch_{{sw_act}}_channel==100",
                "order": 2
            },
            {
                "id": "input_{{ch_number + 1}}_switch_{{sw_act}}_action_scene",
                "title": "Action",
                "address": {{736 + (loop.index0 * 16) + ch_number}},
                "reg_type": "holding",
                "fw": "2.5.0",
                "enum": [0, 1, 2],
                "enum_titles": [
                    "Turn Off Scene Light",
                    "Turn On Scene Light",
                    "Toggle Scene Light"
                ],
                "default": {{ 0 if sw_act == "off" else 1 }},
                "group": "input_{{ ch_number + 1}}_switch_{{sw_act}}_action",
                "condition": "input_{{ch_number + 1}}_switch_{{sw_act}}_channel>=32&&input_{{ch_number + 1}}_switch_{{sw_act}}_channel<=39",
                "order": 2
            },
            {% endfor -%}
            {% endfor -%}

            {% for ls_number in range(1, LIGHT_SCENES_NUMBER + 1) -%}
            {
                "id": "ls_{{ls_number}}_light_on_off_condition",
                "title": "Scene Light On/Off Condition",
                "reg_type": "holding",
                "fw": "2.5.0",
                "address": {{1264 + (ls_number - 1)}},
                "type": "enum",
                "enum": [0, 1],
                "enum_titles": [
                    "Scene Light is on if any used channel is on. Otherwise light is off",
                    "Scene Light is on if all used channels are on. Otherwise light is off"
                ],
                "group": "g_light_scene_{{ ls_number }}"
            },
            {% for ch_number in range(1, OUTPUTS_NUMBER + 1) -%}
            {
                "id": "ls_{{ls_number}}_ch_{{ch_number}}_action_off",
                "title": "Action",
                "reg_type": "holding",
                "fw": "2.5.0",
                "address": {{1280 + 0 + 64 * (ls_number - 1) + (ch_number - 1)}},
                "type": "enum",
                "enum": [0, 2, 3],
                "enum_titles": [
                    "Channel not Used in Scene",
                    "Turn On",
                    "Turn On and Set Brightness"
                ],
                "group": "gg_ls_{{ls_number}}_ch_{{ch_number}}_action_turn_on"
            },
            {
                "id": "ls_{{ls_number}}_ch_{{ch_number}}_fading_off",
                "title": "Dimming level rate (ms/%)",
                "reg_type": "holding",
                "fw": "2.5.0",
                "address": {{1280 + 8 + 64 * (ls_number - 1) + (ch_number - 1)}},
                "min": 0,
                "max": 500,
                "default": 20,
                "required": true,
                "group": "gg_ls_{{ls_number}}_ch_{{ch_number}}_action_turn_on",
                "condition": "ls_{{ls_number}}_ch_{{ch_number}}_action_off>=1"
            },
            {
                "id": "ls_{{ls_number}}_ch_{{ch_number}}_level_off",
                "title": "Brightness (%)",
                "reg_type": "holding",
                "fw": "2.5.0",
                "address": {{1280 + 16 + 64 * (ls_number - 1) + (ch_number - 1)}},
                "min": 1,
                "max": 100,
                "default": 50,
                "required": true,
                "group": "gg_ls_{{ls_number}}_ch_{{ch_number}}_action_turn_on",
                "condition": "ls_{{ls_number}}_ch_{{ch_number}}_action_off==3"
            },
            {
                "id": "ls_{{ls_number}}_ch_{{ch_number}}_action_on",
                "title": "Action",
                "reg_type": "holding",
                "fw": "2.5.0",
                "address": {{1280 + 32 + 64 * (ls_number - 1) + (ch_number - 1)}},
                "type": "enum",
                "enum": [0, 1, 3],
                "enum_titles": [
                    "Channel not Used in Scene",
                    "Turn Off",
                    "Set Brightness"
                ],
                "group": "gg_ls_{{ls_number}}_ch_{{ch_number}}_action_turn_off"
            },
            {
                "id": "ls_{{ls_number}}_ch_{{ch_number}}_fading_on",
                "title": "Dimming level rate (ms/%)",
                "reg_type": "holding",
                "fw": "2.5.0",
                "address": {{1280 + 40 + 64 * (ls_number - 1) + (ch_number - 1)}},
                "min": 0,
                "max": 500,
                "default": 20,
                "required": true,
                "group": "gg_ls_{{ls_number}}_ch_{{ch_number}}_action_turn_off",
                "condition": "ls_{{ls_number}}_ch_{{ch_number}}_action_on>=1"
            },
            {
                "id": "ls_{{ls_number}}_ch_{{ch_number}}_level_on",
                "title": "Brightness (%)",
                "reg_type": "holding",
                "fw": "2.5.0",
                "address": {{1280 + 48 + 64 * (ls_number - 1) + (ch_number - 1)}},
                "min": 1,
                "max": 100,
                "default": 50,
                "required": true,
                "group": "gg_ls_{{ls_number}}_ch_{{ch_number}}_action_turn_off",
                "condition": "ls_{{ls_number}}_ch_{{ch_number}}_action_on==3"
            },
            {% endfor -%}
            {% endfor -%}

            {
                "id": "safety_timer_s",
                "title": "Safety Poll Timeout (s)",
                "group": "g_safety",
                "description": "poll_timeout_description",
                "address": 8,
                "order": 2,
                "reg_type": "holding",
                "fw": "2.5.0",
                "min": 1,
                "max": 65534,
                "default": 10
            },
            {% for ch_number in range(1, OUTPUTS_NUMBER + 1) -%}
            {
                "id": "safety_mode_ch_{{ch_number}}_action",
                "title": "Action",
                "reg_type": "holding",
                "fw": "2.5.0",
                "address": {{648 + ch_number - 1}},
                "type": "enum",
                "enum": [0, 1, 2, 3],
                "enum_titles": [
                    "No Action",
                    "Turn Off",
                    "Turn On",
                    "Turn On and Set Brightness"
                ],
                "group": "gg_safety_mode_ch_{{ ch_number }}"
            },
            {
                "id": "safety_mode_ch_{{ch_number}}_level",
                "title": "Brightness (%)",
                "reg_type": "holding",
                "fw": "2.5.0",
                "address": {{656 + ch_number - 1}},
                "min": 1,
                "max": 100,
                "default": 50,
                "required": true,
                "condition": "safety_mode_ch_{{ch_number}}_action==3",
                "group": "gg_safety_mode_ch_{{ ch_number }}"
            },
            {
                "id": "power_up_behaviour_ch_{{ch_number}}_action",
                "title": "Action",
                "reg_type": "holding",
                "fw": "2.5.0",
                "address": {{664 + ch_number - 1}},
                "type": "enum",
                "enum": [0, 1, 2, 3],
                "enum_titles": [
                    "Turn Off",
                    "Set Previous State",
                    "Turn On",
                    "Turn On and Set Brightness"
                ],
                "group": "gg_power_up_behaviour_ch_{{ ch_number }}"
            },
            {
                "id": "power_up_behaviour_ch_{{ch_number}}_level",
                "title": "Brightness (%)",
                "reg_type": "holding",
                "fw": "2.5.0",
                "address": {{672 + ch_number - 1}},
                "min": 1,
                "max": 100,
                "default": 50,
                "required": true,
                "condition": "power_up_behaviour_ch_{{ch_number}}_action==3",
                "group": "gg_power_up_behaviour_ch_{{ ch_number }}"
            },
            {% endfor -%}
            {% for in_number in range(1, INPUTS_NUMBER + 1) -%}
            {
                "id": "in_{{in_number}}_safety_input_control",
                "title": "Input {{in_number}}",
                "group": "gg_safety_input_control",
                "address": {{640 + in_number - 1}},
                "reg_type": "holding",
                "fw": "2.5.0",
                "default": 0,
                "enum": [0, 1, 2],
                "enum_titles": [
                    "Don't change",
                    "Disable in safety mode",
                    "Enable only in safety mode"
                ]
            },
            {% endfor -%}
            {
                "id": "baud_rate",
                "title": "Baud rate",
                "description": "baud_rate_description",
                "address": 110,
                "reg_type": "holding",
                "enum": [96, 192, 384, 576, 1152],
                "default": 96,
                "enum_titles": [
                    "9600",
                    "19200",
                    "38400",
                    "57600",
                    "115200"
                ],
                "group": "general",
                "order": 1
            },
            {
                "id": "disable_indication",
                "title": "Status LED",
                "address": 130,
                "reg_type": "holding",
                "enum": [0, 1],
                "enum_titles": ["Enabled", "Disabled"],
                "default": 0,
                "group": "general"
            }
        ],
        "channels": [
            {% for index in range(0, INPUTS_NUMBER) -%}
            {
                "name": "Input {{index + 1}}",
                "reg_type": "discrete",
                "address": {{index}},
                "type": "switch",
                "group": "input_{{index + 1}}_counters"
            },
            {
                "name": "Input {{index + 1}} Counter",
                "reg_type": "input",
                "address": {{32 + index}},
                "type": "value",
                "sporadic": true,
                "enabled": true,
                "group": "input_{{index + 1}}_counters"
            },
            {
                "name": "Input {{index + 1}} Short Press Counter",
                "reg_type": "press_counter",
                "address": {{464 + index}},
                "type": "value",
                "sporadic": true,
                "condition": "input_{{index + 1}}_mode!=1",
                "group": "input_{{index + 1}}_counters"
            },
            {
                "name": "Input {{index + 1}} Long Press Counter",
                "reg_type": "press_counter",
                "address": {{480 + index}},
                "type": "value",
                "sporadic": true,
                "condition": "input_{{index + 1}}_mode!=1",
                "group": "input_{{index + 1}}_counters"
            },
            {
                "name": "Input {{index + 1}} Double Press Counter",
                "reg_type": "press_counter",
                "address": {{496 + index}},
                "type": "value",
                "sporadic": true,
                "condition": "input_{{index + 1}}_mode!=1",
                "group": "input_{{index + 1}}_counters"
            },
            {
                "name": "Input {{index + 1}} Short Long Press Counter",
                "reg_type": "press_counter",
                "address": {{512 + index}},
                "type": "value",
                "sporadic": true,
                "condition": "input_{{index + 1}}_mode!=1",
                "group": "input_{{index + 1}}_counters"
            },
            {% endfor -%}
            {% for index in range(0, OUTPUTS_NUMBER) -%}
            {
                "name": "Channel {{index + 1}} Switch",
                "reg_type": "coil",
                "address": {{16 + index}},
                "type": "switch",
                "sporadic": true,
                "group": "output_channels"
            },
            {
                "name": "Channel {{index + 1}} Dimming Level",
                "reg_type": "holding",
                "address": {{16 + index}},
                "type": "range",
                "sporadic": true,
                "max": 100,
                "group": "output_channels"
            },
            {
                "name": "Channel {{index + 1}}",
                "reg_type": "holding",
                "address": {{index}},
                "type": "range",
                "max": 10000,
                "enabled": false,
                "group": "output_channels"
            },
            {% endfor -%}
            {% for ls_number in range(1, LIGHT_SCENES_NUMBER + 1) -%}
            {
                "name": "Scene {{ls_number}} Light",
                "reg_type": "coil",
                "fw": "2.5.0",
                "address": {{ 32 + (ls_number - 1) }},
                "type": "switch",
                "enabled": false,
                "sporadic": true,
                "group": "gg_ls_{{ls_number}}_channels"
            },
            {% endfor -%}
            {
                "name": "Serial",
                "type": "text",
                "reg_type": "input",
                "address": 270,
                "format": "u32",
                "group": "hw_info"
            },
            {
                "name": "HW Batch Number",
                "type": "text",
                "reg_type": "input",
                "address": 304,
                "format": "string",
                "string_data_size": 16,
                "fw": "2.7.0",
                "enabled": false,
                "group": "hw_info"
            },
            {
                "name": "FW Version",
                "reg_type": "input",
                "address": 250,
                "type": "text",
                "format": "string",
                "string_data_size": 16,
                "enabled": false,
                "group": "hw_info"
            },
            {
                "name": "Supply voltage",
                "reg_type": "input",
                "address": 121,
                "type": "voltage",
                "scale": 0.001,
                "enabled": false,
                "group": "hw_info"
            },
            {
                "name": "Uptime",
                "reg_type": "input",
                "address": 104,
                "type": "text",
                "format": "u32",
                "enabled": false,
                "group": "hw_info"
            },
            {
                "name": "MCU Temperature",
                "reg_type": "input",
                "address": 124,
                "type": "temperature",
                "format": "s16",
                "scale": 0.1,
                "enabled": false,
                "group": "hw_info"
            },
            {
                "name": "MCU Voltage",
                "reg_type": "input",
                "address": 123,
                "scale": 0.001,
                "type": "voltage",
                "enabled": false,
                "group": "hw_info"
            },
            {% for index in range(0, OUTPUTS_NUMBER) -%}
            {
                "name": "Channel {{index + 1}} Duty Cycle Raw",
                "reg_type": "holding",
                "address": {{90 + index}},
                "type": "value",
                "readonly": true,
                "enabled": false,
                "group": "debug"
            }{% if not loop.last %},{% endif %}
            {% endfor -%}
        ],
        "translations": {
            "en": {
                "template_title": "{{ title_en }}",
                "pwm_frequency_factor_description": "PWM frequency is calculated by formula: 24 kHz / Factor ",
                "baud_rate_description": "Make sure that communication with device is established before changing this parameter. Select required baud rate, save configuration and then change port baud rate to the same value.",
                "Uptime": "Uptime (s)",

                {% for ch_number in range(1, OUTPUTS_NUMBER + 1) -%}
                "Channel {{ch_number}} Switch": "Channel {{ch_number}}",
                "Channel {{ch_number}}": "Channel {{ch_number}} Voltage",
                {% endfor -%}

                "level_1_voltage_description": "Sets voltage range boundary corresponding to 1% dimming level",
                "level_100_voltage_description": "Sets voltage range boundary corresponding to 100% dimming level",

                "increase_rate_description": "During smooth transitions, channel level will be decreased by 1% every specified period of time. If set to 0, level will increase instantly",
                "decrease_rate_description": "During smooth transitions, channel level will be increased by 1% every specified period of time. If set to 0, level will decrease instantly",
                "action_repeat_time_description": "During long-lasting actions channel level will be changed by 1% every specified period of time",

                "input_hold_time_description": "Presses that last longer than the specified time are counted as long presses",
                "input_double_time_description": "If there is no second press during the specified time then press is single. 0 - disables all presses except short and long. Adds a delay to the response to a short press",
                "input_debounce_time_description": "Must be 5-10 times less than second press waiting time. Adds a delay to the response to presses",

                "light_scenes_description": "Light scenes are used to control multiple channels simultaneously. This is necessary to define actions when the scene light is turned on or off. Supported since firmware version 2.5.0",
                "g_safety_description": "Safety mode is activated when there is no modbus polling for the specified time",

                "poll_timeout_description": "Time in seconds without modbus polling before activation safety mode. Actions in safety mode are configured using appropriate parameters",
                "inputs_control_in_safety_mode_description": "Sets change of control from the inputs when module switches to safety mode"
            },
            "ru": {
                "Enabled": "Активен",
                "Disabled": "Отключен",
                "template_title": "{{ title_ru }}",
                "Outputs": "Выходы",
                "General": "Общее",
                "HW Info": "Данные модуля",
                "Debug": "Диагностика",
                "Outputs Mode": "Режим работы выходов",
                "PWM 10 V": "ШИМ с амплитудой 10 В",
                "Analog 0-10 V": "аналоговый режим 0-10 В",
                "PWM Frequency Factor": "Делитель частоты ШИМ",
                "pwm_frequency_factor_description": "Частота ШИМ рассчитывается по формуле: 24 кГц / Делитель",
                "Baud rate": "Скорость обмена",
                "baud_rate_description": "Перед изменением параметра убедитесь, что связь с устройством установлена. Выберите нужную скорость обмена, сохраните конфигурацию, а затем укажите в настройках порта эту же скорость.",

                {% for ch_number in range(1, INPUTS_NUMBER + 1) -%}
                "Input {{ch_number}}": "Вход {{ch_number}}",
                "Input {{ch_number}} Counter": "Счетчик {{ch_number}}",
                "Input {{ch_number}} Short Press Counter": "Счетчик коротких нажатий входа {{ch_number}}",
                "Input {{ch_number}} Long Press Counter": "Счетчик длинных нажатий входа {{ch_number}}",
                "Input {{ch_number}} Double Press Counter": "Счетчик двойных нажатий входа {{ch_number}}",
                "Input {{ch_number}} Short Long Press Counter": "Счетчик коротких, а затем длинных нажатий входа {{ch_number}}",
                {% endfor -%}

                "Short Press Action": "Действие для короткого нажатия",
                "Long Press Action": "Действие для длинного нажатия",
                "Double Press Action": "Действие для двойного нажатия",
                "Short Long Press Action": "Действие для короткого, затем длинного нажатия",

                "No Action": "Ничего не делать",
                "All Outputs": "Все выходы",
                "Turn Off": "Выключить",
                "Turn On": "Включить",
                "Toggle": "Переключить",
                "Decrease level": "Уменьшить уровень",
                "Increase level": "Увеличить уровень",
                "Increase/Decrease level": "Увеличить/уменьшить уровень",
                "Output Number": "Номер выхода",
                "Action": "Действие",

                {% for ch_number in range(1, OUTPUTS_NUMBER + 1) -%}
                "Output {{ch_number}}": "Выход {{ch_number}}",
                "Channel {{ch_number}} Switch": "Канал {{ch_number}}",
                "Channel {{ch_number}} Dimming Level": "Уровень диммирования канала {{ch_number}}",
                "Channel {{ch_number}}": "Напряжение канала {{ch_number}}",
                "Channel {{ch_number}} Duty Cycle Raw": "Прямое задание скважности ШИМ на выходе {{ch_number}}",
                {% endfor -%}

                "Outputs Common Settings": "Общие настройки выходов",

                "Voltage at 1% dimming level (mV)": "Нижний порог диммирования (мВ)",
                "Voltage at 100% dimming level (mV)": "Верхний порог диммирования (мВ)",
                "Dimming level decrement rate (ms/%)": "Темп уменьшения уровня яркости (мс/%)",
                "Dimming level increment rate (ms/%)": "Темп увеличения уровня яркости (мс/%)",
                "Action repeat time (ms)": "Длительность периода повторения действий (мс)",

                "level_1_voltage_description": "Задает границу диапазона напряжения, соответствующую 1% уровня диммирования",
                "level_100_voltage_description": "Задает границу диапазона напряжения, соответствующую 100% уровня диммирования",

                "Input Mode": "Режим работы входа",
                "Button": "Кнопка без фиксации",
                "Switch": "Выключатель с фиксацией",
                "Action when Switch is On": "Действие в положении \"включено\"",
                "Action when Switch is Off": "Действие в положении \"выключено\"",

                "light_scenes_description": "Сцены позволяют объединить несколько каналов и устанавливать заранее определенный уровень яркости. Для сцены обязательно настраивать действия при включении и выключении. Доступно с версии прошивки 2.5.0",
                "Scene Light On/Off Condition": "Условие включенного света сцены",
                "Scene Light is on if any used channel is on. Otherwise light is off": "Свет сцены включен, если хотя бы один используемый канал включен. Иначе свет выключен",
                "Scene Light is on if all used channels are on. Otherwise light is off": "Свет сцены включен, если все используемые каналы включены. Иначе свет выключен",
                "Actions when Scene Light Turn On": "Действие при включении света сцены",
                "Actions when Scene Light Turn Off": "Действие при выключении света сцены",
                "Channel not Used in Scene": "Канал не используется в сцене",
                "Turn On and Set Brightness": "Включить и установить яркость",
                "Set Brightness": "Установить яркость",
                "Dimming level rate (ms/%)": "Темп изменения уровня яркости (мс/%)",
                "Brightness (%)": "Яркость (%)",
                "Turn Off Scene Light": "Выключить свет сцены",
                "Turn On Scene Light": "Включить свет сцены",
                "Toggle Scene Light": "Переключить свет сцены",

                {% for ls_number in range(1, LIGHT_SCENES_NUMBER + 1) -%}
                "Light Scene {{ls_number}}": "Сцена {{ls_number}}",
                "Scene {{ls_number}} Light": "Свет сцены {{ls_number}}",
                {% endfor -%}

                "Safety Mode": "Безопасный режим",
                "g_safety_description": "Настройка поведения устройства в случае потери связи с контроллером",
                "Safety Behaviour": "Действие в безопасном режиме",
                "Inputs Control In Safety Mode": "Управление с входов в безопасном режиме",
                "Don't change": "Не блокировать",
                "Disable in safety mode": "Блокировать в безопасном режиме",
                "Enable only in safety mode": "Разрешить только в безопасном режиме",
                "Safety Poll Timeout (s)": "Таймаут потери связи (с)",
                "poll_timeout_description": "Время отсутствия опроса в секундах, после которого будет активирован безопасный режим. Действия в безопасном режиме настраиваются отдельно",
                "inputs_control_in_safety_mode_description": "Настройка изменения управления с входов при переходе модуля в безопасный режим",

                "Power Up Behaviour": "Поведение при включении питания",
                "g_power_up_behaviour_description": "Настройка поведения выходов при включении питания устройства",
                "Set Previous State": "Установить предыдущее состояние",

                "Serial": "Серийный номер",
                "HW Batch Number": "Номер партии",
                "FW Version": "Версия прошивки",
                "Supply voltage": "Напряжение питания",
                "Uptime": "Время работы с момента включения (с)",
                "MCU Temperature": "Температура МК",
                "MCU Voltage": "Напряжение питания МК",
                "Status LED": "Индикатор состояния",

                "Long Press Time (ms)": "Время длинного нажатия (мс)",
                "Second Press Waiting Time (ms)": "Время ожидания второго нажатия (мс)",
                "Debounce Time (ms)": "Время подавления дребезга (мс)",


                "input_hold_time_description": "Если нажатие длится больше указанного времени - считаем его длинным",
                "input_double_time_description": "Если за указанное время второго нажатия не было - считаем нажатие одиночным. 0 - отключит все нажатия кроме короткого и длинного. Вносит задержку в реакцию на короткое нажатие",
                "input_debounce_time_description": "Должно быть в 5-10 раз меньше, чем время ожидания второго нажатия. Вносит задержку в реакцию на нажатия",

                "decrease_rate_description": "Во время плавных переходов, выходной уровень будет уменьшаться на 1% через указанный период времени. При 0 значении, уровень уменьшится мгновенно",
                "increase_rate_description": "Во время плавных переходов, выходной уровень будет увеличиваться на 1% через указанный период времени. При 0 значении, уровень увеличится мгновенно",
                "action_repeat_time_description": "Во время долгих действий, выходной уровень будет изменяться на 1% через указанный период времени"
            }
        }
    }
}
