{% with title_en = "PLC-270-EMD-02D02R-00-MR/NO (PLC 270 Compact IO Modbus RTU module 2 DI 2 RO ONI)",
        title_ru = "PLC-270-EMD-02D02R-00-MR/NO (ПЛК 270 Модуль компактный IO Modbus RTU 2 DI 2 RO ONI)",
        device_type = "tpl1_oni_plc_270_emd_02d02r_00_mr_no",
        group = "g-oni",
        device_name = "PLC-270-EMD-02D02R-00-MR/NO",
        device_id = "oni-plc-270-emd-02d02r-00-mr-no",
        has_signature = true %}
{% include "config-wb-mrm2-mini.json.jinja" %}
{% endwith %}