{% with device_title = "PLC-W-EMD-0008",
        device_type = "tpl1_oni_plc_w_emd_0008",
        group = "g-oni",
        device_name = "PLC-W-EMD-0008",
        device_id = "oni-plc-w-emd-0008" %}
{% include "config-wbio-do-ssr-8.json.jinja" %}
{% endwith %}