{% with title_en = "PLC-W-ACS-MBRTU-IR (Modbus IR remote control)",
        title_ru = "PLC-W-ACS-MBRTU-IR (Modbus-модуль ИК-управления)",
        device_type = "tpl1_oni_plc_w_acs_mbrtu_ir",
        group = "g-oni",
        device_name = "PLC-W-ACS-MBRTU-IR",
        device_id = "oni-plc-w-acs-mbrtu-ir",
        has_signature = true %}
{% include "config-wb-mir_v2.json.jinja" %}
{% endwith %}